/* Photos - Members of Parliament */


.photo-001 {background-image: url(../../img/photos/mp/mp-jarvisd.jpg);}
.photo-002 {background-image: url(../../img/photos/mp/mp-dugherm.jpg);}
.photo-003 {background-image: url(../../img/photos/mp/mp-coxj.jpg);}
.photo-004 {background-image: url(../../img/photos/mp/mp-stuartg.jpg);}
.photo-005 {background-image: url(../../img/photos/mp/mp-hussaini.jpg);}
.photo-006 {background-image: url(../../img/photos/mp/mp-cumminsj.jpg);}
.photo-007 {background-image: url(../../img/photos/mp/mp-shahn.jpg);}
.photo-008 {background-image: url(../../img/photos/mp/mp-percya.jpg);}
.photo-009 {background-image: url(../../img/photos/mp/mp-whittakerc.jpg);}
.photo-010 {background-image: url(../../img/photos/mp/mp-vickersm.jpg);}
.photo-011 {background-image: url(../../img/photos/mp/mp-mccartneyj.jpg);}
.photo-012 {background-image: url(../../img/photos/mp/mp-sherriffp.jpg);}
.photo-013 {background-image: url(../../img/photos/mp/mp-flintc.jpg);}
.photo-014 {background-image: url(../../img/photos/mp/mp-wintertonr.jpg);}
.photo-015 {background-image: url(../../img/photos/mp/mp-milibande.jpg);}
.photo-016 {background-image: url(../../img/photos/mp/mp-shelbrookea.jpg);}
.photo-017 {background-image: url(../../img/photos/mp/mp-onnm.jpg);}
.photo-018 {background-image: url(../../img/photos/mp/mp-walkerlynchh.jpg);}
.photo-019 {background-image: url(../../img/photos/mp/mp-davisdavid.jpg);}
.photo-020 {background-image: url(../../img/photos/mp/mp-jonesandrew.jpg);}
.photo-021 {background-image: url(../../img/photos/mp/mp-trickettj.jpg);}
.photo-022 {background-image: url(../../img/photos/mp/mp-sheermanb.jpg);}
.photo-023 {background-image: url(../../img/photos/mp/mp-turnerk.jpg);}
.photo-024 {background-image: url(../../img/photos/mp/mp-johnsondiana.jpg);}
.photo-025 {background-image: url(../../img/photos/mp/mp-johnsonalan.jpg);}
.photo-026 {background-image: url(../../img/photos/mp/mp-hopkinsk.jpg);}
.photo-027 {background-image: url(../../img/photos/mp/mp-bennh.jpg);}
.photo-028 {background-image: url(../../img/photos/mp/mp-burgonr.jpg);}
.photo-029 {background-image: url(../../img/photos/mp/mp-hamiltonf.jpg);}
.photo-030 {background-image: url(../../img/photos/mp/mp-mulhollandg.jpg);}
.photo-031 {background-image: url(../../img/photos/mp/mp-reevesr.jpg);}
.photo-032 {background-image: url(../../img/photos/mp/mp-jenkynsa.jpg);}
.photo-033 {background-image: url(../../img/photos/mp/mp-coopery.jpg);}
.photo-034 {background-image: url(../../img/photos/mp/mp-smithangela.jpg);}
.photo-035 {background-image: url(../../img/photos/mp/mp-andrews.jpg);}
.photo-036 {background-image: url(../../img/photos/mp/mp-sunakr.jpg);}
.photo-037 {background-image: url(../../img/photos/mp/mp-barronk.jpg);}
.photo-038 {background-image: url(../../img/photos/mp/mp-champions.jpg);}
.photo-039 {background-image: url(../../img/photos/mp/mp-goodwillr.jpg);}
.photo-040 {background-image: url(../../img/photos/mp/mp-dakinn.jpg);}
.photo-041 {background-image: url(../../img/photos/mp/mp-adamsn.jpg);}
.photo-042 {background-image: url(../../img/photos/mp/mp-harphamh.jpg);}
.photo-043 {background-image: url(../../img/photos/mp/mp-blomfieldp.jpg);}
.photo-044 {background-image: url(../../img/photos/mp/mp-cleggn.jpg);}
.photo-045 {background-image: url(../../img/photos/mp/mp-haighl.jpg);}
.photo-046 {background-image: url(../../img/photos/mp/mp-bettsc.jpg);}
.photo-047 {background-image: url(../../img/photos/mp/mp-daviesp.jpg);}
.photo-048 {background-image: url(../../img/photos/mp/mp-smithjulian.jpg);}
.photo-049 {background-image: url(../../img/photos/mp/mp-hollinrakek.jpg);}
.photo-050 {background-image: url(../../img/photos/mp/mp-creaghm.jpg);}
.photo-051 {background-image: url(../../img/photos/mp/mp-healeyj.jpg);}
.photo-052 {background-image: url(../../img/photos/mp/mp-maskellr.jpg);}
.photo-053 {background-image: url(../../img/photos/mp/mp-sturdyj.jpg);}
.photo-054 {background-image: url(../../img/photos/mp/mp-knightg.jpg);}