/* Pie - Members of Parliament */

.pie-001 {
	background-image: url(../../img/pie/red/strong/pie-54.svg),
	url(../../img/pie/purple/pie-70.svg),
	url(../../img/pie/blue/strong/pie-82.svg),
	url(../../img/pie/green/dark/pie-94.svg),
	url(../../img/pie/orange/vivid/pie-98.svg);
}
.pie-002 {
	background-image: url(../../img/pie/blue/strong/pie-42.svg),
	url(../../img/pie/red/strong/pie-70.svg),
	url(../../img/pie/green/dark/pie-82.svg),
	url(../../img/pie/purple/pie-93.svg),
	url(../../img/pie/orange/vivid/pie-98.svg);
}
.pie-003 {
	background-image: url(../../img/pie/red/strong/pie-40.svg),
	url(../../img/pie/blue/strong/pie-72.svg),
	url(../../img/pie/purple/pie-90.svg),
	url(../../img/pie/orange/vivid/pie-94.svg),
	url(../../img/pie/green/dark/pie-98.svg);
}
.pie-004 {
	background-image: url(../../img/pie/green/dark/pie-44.svg),
	url(../../img/pie/red/strong/pie-74.svg),
	url(../../img/pie/blue/strong/pie-87.svg),
	url(../../img/pie/purple/pie-96.svg);
}
.pie-005 {
	background-image: url(../../img/pie/red/strong/pie-58.svg),
	url(../../img/pie/purple/pie-76.svg),
	url(../../img/pie/blue/strong/pie-87.svg),
	url(../../img/pie/green/dark/pie-96.svg);
}
.pie-006 {
	background-image: url(../../img/pie/blue/strong/pie-41.svg),
	url(../../img/pie/orange/vivid/pie-69.svg),
	url(../../img/pie/red/strong/pie-84.svg),
	url(../../img/pie/purple/pie-92.svg),
	url(../../img/pie/green/dark/pie-96.svg),
	url(../../img/pie/green/strong/pie-99.svg);
}
.pie-007 {
	background-image: url(../../img/pie/red/strong/pie-37.svg),
	url(../../img/pie/blue/strong/pie-69.svg),
	url(../../img/pie/purple/pie-84.svg),
	url(../../img/pie/green/dark/pie-91.svg),
	url(../../img/pie/orange/vivid/pie-95.svg);
}
.pie-008 {
	background-image: url(../../img/pie/red/strong/pie-44.svg),
	url(../../img/pie/purple/pie-63.svg),
	url(../../img/pie/blue/strong/pie-80.svg),
	url(../../img/pie/green/dark/pie-95.svg);
}
.pie-009 {
	background-image: url(../../img/pie/red/strong/pie-40.svg),
	url(../../img/pie/orange/vivid/pie-67.svg),
	url(../../img/pie/blue/strong/pie-82.svg),
	url(../../img/pie/purple/pie-88.svg),
	url(../../img/pie/green/strong/pie-95.svg),
	url(../../img/pie/green/dark/pie-99.svg);
}
.pie-010 {
	background-image: url(../../img/pie/blue/strong/pie-42.svg),
	url(../../img/pie/red/strong/pie-80.svg),
	url(../../img/pie/purple/pie-88.svg),
	url(../../img/pie/green/dark/pie-93.svg),
	url(../../img/pie/orange/vivid/pie-97.svg);
}
.pie-011 {
	background-image: url(../../img/pie/red/strong/pie-43.svg),
	url(../../img/pie/blue/strong/pie-70.svg),
	url(../../img/pie/purple/pie-84.svg),
	url(../../img/pie/green/dark/pie-91.svg),
	url(../../img/pie/orange/vivid/pie-96.svg);
}
.pie-012 {
	background-image: url(../../img/pie/red/strong/pie-41.svg),
	url(../../img/pie/blue/strong/pie-66.svg),
	url(../../img/pie/green/dark/pie-80.svg),
	url(../../img/pie/purple/pie-91.svg),
	url(../../img/pie/orange/vivid/pie-96.svg);
}
.pie-013 {
	background-image: url(../../img/pie/green/dark/pie-38.svg),
	url(../../img/pie/red/strong/pie-62.svg),
	url(../../img/pie/blue/strong/pie-83.svg),
	url(../../img/pie/purple/pie-94.svg),
	url(../../img/pie/green/strong/pie-97.svg);
}
.pie-014 {
	background-image: url(../../img/pie/blue/strong/pie-44.svg),
	url(../../img/pie/red/strong/pie-73.svg),
	url(../../img/pie/purple/pie-85.svg),
	url(../../img/pie/green/dark/pie-95.svg),
	url(../../img/pie/green/strong/pie-98.svg);
}
.pie-015 {
	background-image: url(../../img/pie/orange/vivid/pie-36.svg),
	url(../../img/pie/green/dark/pie-64.svg),
	url(../../img/pie/blue/strong/pie-75.svg),
	url(../../img/pie/purple/pie-85.svg),
	url(../../img/pie/red/strong/pie-94.svg),
	url(../../img/pie/green/strong/pie-99.svg);
}
.pie-016 {
	background-image: url(../../img/pie/red/strong/pie-37.svg),
	url(../../img/pie/blue/strong/pie-67.svg),
	url(../../img/pie/purple/pie-83.svg),
	url(../../img/pie/green/dark/pie-93.svg),
	url(../../img/pie/orange/vivid/pie-97.svg);
}
.pie-017 {
	background-image: url(../../img/pie/blue/strong/pie-43.svg),
	url(../../img/pie/red/strong/pie-69.svg),
	url(../../img/pie/purple/pie-82.svg),
	url(../../img/pie/green/dark/pie-94.svg),
	url(../../img/pie/orange/vivid/pie-98.svg);
}
.pie-018 {
	background-image: url(../../img/pie/red/strong/pie-48.svg),
	url(../../img/pie/green/dark/pie-65.svg),
	url(../../img/pie/purple/pie-81.svg),
	url(../../img/pie/blue/strong/pie-93.svg),
	url(../../img/pie/orange/vivid/pie-96.svg),
	url(../../img/pie/green/strong/pie-99.svg);
}
.pie-019 {
	background-image: url(../../img/pie/red/strong/pie-40.svg),
	url(../../img/pie/blue/strong/pie-73.svg),
	url(../../img/pie/purple/pie-89.svg),
	url(../../img/pie/green/dark/pie-94.svg),
	url(../../img/pie/orange/vivid/pie-98.svg);
}
.pie-020 {
	background-image: url(../../img/pie/green/dark/pie-41.svg),
	url(../../img/pie/blue/strong/pie-64.svg),
	url(../../img/pie/red/strong/pie-77.svg),
	url(../../img/pie/purple/pie-88.svg),
	url(../../img/pie/grey/pie-93.svg),
	url(../../img/pie/orange/vivid/pie-97.svg);
}
.pie-021 {
	background-image: url(../../img/pie/blue/strong/pie-37.svg),
	url(../../img/pie/red/strong/pie-74.svg),
	url(../../img/pie/purple/pie-85.svg),
	url(../../img/pie/green/dark/pie-92.svg),
	url(../../img/pie/orange/vivid/pie-96.svg);
}
.pie-022 {
	background-image: url(../../img/pie/red/strong/pie-49.svg),
	url(../../img/pie/purple/pie-69.svg),
	url(../../img/pie/blue/strong/pie-84.svg),
	url(../../img/pie/green/dark/pie-95.svg);
}
.pie-023 {
	background-image: url(../../img/pie/red/strong/pie-41.svg),
	url(../../img/pie/green/dark/pie-64.svg),
	url(../../img/pie/purple/pie-80.svg),
	url(../../img/pie/blue/strong/pie-94.svg);
}
.pie-024 {
	background-image: url(../../img/pie/red/strong/pie-54.svg),
	url(../../img/pie/purple/pie-73.svg),
	url(../../img/pie/blue/strong/pie-83.svg),
	url(../../img/pie/green/dark/pie-93.svg),
	url(../../img/pie/orange/vivid/pie-97.svg);
}
.pie-025 {
	background-image: url(../../img/pie/blue/strong/pie-50.svg),
	url(../../img/pie/red/strong/pie-77.svg),
	url(../../img/pie/purple/pie-87.svg),
	url(../../img/pie/orange/vivid/pie-92.svg),
	url(../../img/pie/green/dark/pie-96.svg),
	url(../../img/pie/green/strong/pie-99.svg);
}
.pie-026 {
	background-image: url(../../img/pie/blue/strong/pie-45.svg),
	url(../../img/pie/orange/vivid/pie-74.svg),
	url(../../img/pie/purple/pie-85.svg),
	url(../../img/pie/red/strong/pie-90.svg),
	url(../../img/pie/green/dark/pie-95.svg),
	url(../../img/pie/green/strong/pie-99.svg);
}
.pie-027 {
	background-image: url(../../img/pie/red/strong/pie-44.svg),
	url(../../img/pie/green/dark/pie-62.svg),
	url(../../img/pie/purple/pie-78.svg),
	url(../../img/pie/blue/strong/pie-93.svg),
	url(../../img/pie/green/strong/pie-96.svg),
	url(../../img/pie/orange/vivid/pie-99.svg);
}
.pie-028 {
	background-image: url(../../img/pie/red/strong/pie-41.svg),
	url(../../img/pie/blue/strong/pie-68.svg),
	url(../../img/pie/purple/pie-86.svg),
	url(../../img/pie/orange/vivid/pie-92.svg),
	url(../../img/pie/green/dark/pie-96.svg);
}
.pie-029 {
	background-image: url(../../img/pie/red/strong/pie-41.svg),
	url(../../img/pie/blue/strong/pie-73.svg),
	url(../../img/pie/purple/pie-88.svg),
	url(../../img/pie/green/dark/pie-92.svg),
	url(../../img/pie/orange/vivid/pie-96.svg),
	url(../../img/pie/green/strong/pie-99.svg);
}
.pie-030 {
	background-image: url(../../img/pie/red/strong/pie-53.svg),
	url(../../img/pie/blue/strong/pie-69.svg),
	url(../../img/pie/purple/pie-84.svg),
	url(../../img/pie/green/dark/pie-94.svg),
	url(../../img/pie/orange/vivid/pie-97.svg);
}
.pie-031 {
	background-image: url(../../img/pie/red/strong/pie-41.svg),
	url(../../img/pie/blue/strong/pie-59.svg),
	url(../../img/pie/purple/pie-72.svg),
	url(../../img/pie/orange/vivid/pie-85.svg),
	url(../../img/pie/green/dark/pie-94.svg);
}
.pie-032 {
	background-image: url(../../img/pie/blue/strong/pie-40.svg),
	url(../../img/pie/red/strong/pie-68.svg),
	url(../../img/pie/purple/pie-79.svg),
	url(../../img/pie/grey/pie-88.svg),
	url(../../img/pie/green/dark/pie-94.svg),
	url(../../img/pie/green/strong/pie-98.svg);
}
.pie-033 {
	background-image: url(../../img/pie/red/strong/pie-51.svg),
	url(../../img/pie/green/dark/pie-78.svg),
	url(../../img/pie/purple/pie-91.svg),
	url(../../img/pie/blue/strong/pie-98.svg);
}
.pie-034 {
	background-image: url(../../img/pie/red/strong/pie-53.svg),
	url(../../img/pie/purple/pie-70.svg),
	url(../../img/pie/blue/strong/pie-85.svg),
	url(../../img/pie/green/dark/pie-95.svg),
	url(../../img/pie/orange/vivid/pie-99.svg);
}
.pie-035 {
	background-image: url(../../img/pie/red/strong/pie-43.svg),
	url(../../img/pie/blue/strong/pie-64.svg),
	url(../../img/pie/purple/pie-77.svg),
	url(../../img/pie/orange/vivid/pie-86.svg),
	url(../../img/pie/green/dark/pie-94.svg),
	url(../../img/pie/green/strong/pie-99.svg);
}
.pie-036 {
	background-image: url(../../img/pie/red/strong/pie-45.svg),
	url(../../img/pie/blue/strong/pie-68.svg),
	url(../../img/pie/purple/pie-87.svg),
	url(../../img/pie/green/dark/pie-93.svg),
	url(../../img/pie/orange/vivid/pie-96.svg);
}
.pie-037 {
	background-image: url(../../img/pie/blue/strong/pie-39.svg),
	url(../../img/pie/red/strong/pie-77.svg),
	url(../../img/pie/purple/pie-90.svg),
	url(../../img/pie/green/dark/pie-97.svg);
}
.pie-038 {
	background-image: url(../../img/pie/blue/strong/pie-46.svg),
	url(../../img/pie/red/strong/pie-78.svg),
	url(../../img/pie/purple/pie-89.svg),
	url(../../img/pie/green/dark/pie-95.svg),
	url(../../img/pie/orange/vivid/pie-98.svg);
}
.pie-039 {
	background-image: url(../../img/pie/red/strong/pie-37.svg),
	url(../../img/pie/blue/strong/pie-69.svg),
	url(../../img/pie/purple/pie-85.svg),
	url(../../img/pie/green/dark/pie-93.svg),
	url(../../img/pie/orange/vivid/pie-98.svg);
}
.pie-040 {
	background-image: url(../../img/pie/red/strong/pie-31.svg),
	url(../../img/pie/green/dark/pie-61.svg),
	url(../../img/pie/blue/strong/pie-82.svg),
	url(../../img/pie/purple/pie-97.svg);
}


.swing-pie-001 {
	background-image: url(../../img/pie/red/strong/swing-27.svg),
	url(../../img/pie/blue/strong/swing-50.svg);
}
.swing-pie-002 {
	background-image: url(../../img/pie/blue/strong/swing-32.svg),
	url(../../img/pie/red/strong/swing-50.svg);
}
.swing-pie-003 {
	background-image: url(../../img/pie/red/strong/swing-25.svg),
	url(../../img/pie/blue/strong/swing-50.svg);
}
.swing-pie-004 {
	background-image: url(../../img/pie/green/dark/swing-29.svg),
	url(../../img/pie/red/strong/swing-50.svg);
}
.swing-pie-005 {
	background-image: url(../../img/pie/red/strong/swing-39.svg),
	url(../../img/pie/orange/vivid/swing-50.svg);
}
.swing-pie-006 {
	background-image: url(../../img/pie/blue/strong/swing-31.svg),
	url(../../img/pie/red/strong/swing-50.svg);
}
.swing-pie-007 {
	background-image: url(../../img/pie/blue/strong/swing-26.svg),
	url(../../img/pie/red/strong/swing-50.svg);
}
.swing-pie-008 {
	background-image: url(../../img/pie/red/strong/swing-27.svg),
	url(../../img/pie/blue/strong/swing-50.svg);
}
.swing-pie-009 {
	background-image: url(../../img/pie/red/strong/swing-38.svg),
	url(../../img/pie/orange/vivid/swing-50.svg);
}
.swing-pie-010 {
	background-image: url(../../img/pie/blue/strong/swing-30.svg),
	url(../../img/pie/orange/vivid/swing-50.svg);
}
.swing-pie-011 {
	background-image: url(../../img/pie/red/strong/swing-28.svg),
	url(../../img/pie/orange/vivid/swing-50.svg);
}
.swing-pie-012 {
	background-image: url(../../img/pie/orange/vivid/swing-29.svg),
	url(../../img/pie/blue/strong/swing-50.svg);
}
.swing-pie-013 {
	background-image: url(../../img/pie/green/dark/swing-28.svg),
	url(../../img/pie/red/strong/swing-50.svg);
}
.swing-pie-014 {
	background-image: url(../../img/pie/blue/strong/swing-28.svg),
	url(../../img/pie/red/strong/swing-50.svg);
}
.swing-pie-015 {
	background-image: url(../../img/pie/green/dark/swing-32.svg),
	url(../../img/pie/red/strong/swing-50.svg);
}
.swing-pie-016 {
	background-image: url(../../img/pie/blue/strong/swing-26.svg),
	url(../../img/pie/red/strong/swing-50.svg);
}
.swing-pie-017 {
	background-image: url(../../img/pie/blue/strong/swing-28.svg),
	url(../../img/pie/red/strong/swing-50.svg);
}
.swing-pie-018 {
	background-image: url(../../img/pie/green/dark/swing-26.svg),
	url(../../img/pie/red/strong/swing-50.svg);
}
.swing-pie-019 {
	background-image: url(../../img/pie/blue/strong/swing-27.svg),
	url(../../img/pie/orange/vivid/swing-50.svg);
}
.swing-pie-020 {
	background-image: url(../../img/pie/blue/strong/swing-27.svg),
	url(../../img/pie/green/dark/swing-50.svg);
}
.swing-pie-021 {
	background-image: url(../../img/pie/red/strong/swing-26.svg),
	url(../../img/pie/orange/vivid/swing-50.svg);
}
.swing-pie-022 {
	background-image: url(../../img/pie/blue/strong/swing-30.svg),
	url(../../img/pie/red/strong/swing-50.svg);
}
.swing-pie-023 {
	background-image: url(../../img/pie/red/strong/swing-27.svg),
	url(../../img/pie/green/dark/swing-50.svg);
}
.swing-pie-024 {
	background-image: url(../../img/pie/red/strong/swing-33.svg),
	url(../../img/pie/blue/strong/swing-50.svg);
}
.swing-pie-025 {
	background-image: url(../../img/pie/red/strong/swing-33.svg),
	url(../../img/pie/blue/strong/swing-50.svg);
}
.swing-pie-026 {
	background-image: url(../../img/pie/blue/strong/swing-29.svg),
	url(../../img/pie/orange/vivid/swing-50.svg);
}
.swing-pie-027 {
	background-image: url(../../img/pie/red/strong/swing-27.svg),
	url(../../img/pie/blue/strong/swing-50.svg);
}
.swing-pie-028 {
	background-image: url(../../img/pie/blue/strong/swing-26.svg),
	url(../../img/pie/red/strong/swing-50.svg);
}
.swing-pie-029 {
	background-image: url(../../img/pie/blue/strong/swing-25.svg),
	url(../../img/pie/red/strong/swing-50.svg);
}
.swing-pie-030 {
	background-image: url(../../img/pie/red/strong/swing-31.svg),
	url(../../img/pie/blue/strong/swing-50.svg);
}
.swing-pie-031 {
	background-image: url(../../img/pie/red/strong/swing-30.svg),
	url(../../img/pie/blue/strong/swing-50.svg);
}
.swing-pie-032 {
	background-image: url(../../img/pie/blue/strong/swing-25.svg),
	url(../../img/pie/red/strong/swing-50.svg);
}
.swing-pie-033 {
	background-image: url(../../img/pie/green/dark/swing-32.svg),
	url(../../img/pie/red/strong/swing-50.svg);
}
.swing-pie-034 {
	background-image: url(../../img/pie/red/strong/swing-28.svg),
	url(../../img/pie/orange/vivid/swing-50.svg);
}
.swing-pie-035 {
	background-image: url(../../img/pie/red/strong/swing-26.svg),
	url(../../img/pie/orange/vivid/swing-50.svg);
}
.swing-pie-036 {
	background-image: url(../../img/pie/blue/strong/swing-27.svg),
	url(../../img/pie/red/strong/swing-50.svg);
}
.swing-pie-037 {
	background-image: url(../../img/pie/blue/strong/swing-29.svg),
	url(../../img/pie/red/strong/swing-50.svg);
}
.swing-pie-038 {
	background-image: url(../../img/pie/blue/strong/swing-32.svg),
	url(../../img/pie/red/strong/swing-50.svg);
}
.swing-pie-039 {
	background-image: url(../../img/pie/blue/strong/swing-28.svg),
	url(../../img/pie/red/strong/swing-50.svg);
}
.swing-pie-040 {
	background-image: url(../../img/pie/green/dark/swing-28.svg),
	url(../../img/pie/red/strong/swing-50.svg);
}