/* Photos - Members of Parliament */


.photo-001 {
	background-image: url(../../img/photos/mp/mp-robinsong.jpg);
}
.photo-002 {
	background-image: url(../../img/photos/mp/mp-doddsn.jpg);
}
.photo-003 {
	background-image: url(../../img/photos/mp/mp-mcdonnella.jpg);
}
.photo-004 {
	background-image: url(../../img/photos/mp/mp-maskeyp.jpg);
}
.photo-005 {
	background-image: url(../../img/photos/mp/mp-wilsonsammy.jpg);
}
.photo-006 {
	background-image: url(../../img/photos/mp/mp-campbellg.jpg);
}
.photo-007 {
	background-image: url(../../img/photos/mp/mp-elliotttom.jpg);
}
.photo-008 {
	background-image: url(../../img/photos/mp/mp-durkanm.jpg);
}
.photo-009 {
	background-image: url(../../img/photos/mp/mp-donaldsonj.jpg);
}
.photo-010 {
	background-image: url(../../img/photos/mp/mp-molloyf.jpg);
}
.photo-011 {
	background-image: url(../../img/photos/mp/mp-bradym.jpg);
}
.photo-012 {
	background-image: url(../../img/photos/mp/mp-paisleyjri.jpg);
}
.photo-013 {
	background-image: url(../../img/photos/mp/mp-hermons.jpg);
}
.photo-014 {
	background-image: url(../../img/photos/mp/mp-kinahand.jpg);
}
.photo-015 {
	background-image: url(../../img/photos/mp/mp-ritchiem.jpg);
}
.photo-016 {
	background-image: url(../../img/photos/mp/mp-shannonj.jpg);
}
.photo-017 {
	background-image: url(../../img/photos/mp/mp-simpsondavid.jpg);
}
.photo-018 {
	background-image: url(../../img/photos/mp/mp-dohertyp.jpg);
}