/* Photos - WWE Superstars */

.photo-022 {
	background-image: url(../../img/photos/wwe/wwe-dugganj.jpg);
}
.photo-023 {
	background-image: url(../../img/photos/wwe/wwe-bigjohnstudd.jpg);
}
.photo-024 {
	background-image: url(../../img/photos/wwe/wwe-hulkhogan.jpg);
}
.photo-025 {
	background-image: url(../../img/photos/wwe/wwe-ricflair.jpg);
}
.photo-026 {
	background-image: url(../../img/photos/wwe/wwe-yokozuna.jpg);
}
.photo-027 {
	background-image: url(../../img/photos/wwe/wwe-lexluger.jpg);
}
.photo-028 {
	background-image: url(../../img/photos/wwe/wwe-hartb.jpg);
}
.photo-029 {
	background-image: url(../../img/photos/wwe/wwe-michaelss.jpg);
}
.photo-030 {
	background-image: url(../../img/photos/wwe/wwe-austins.jpg);
}
.photo-031 {
	background-image: url(../../img/photos/wwe/wwe-mcmahonv1.png);
}
.photo-032 {
	background-image: url(../../img/photos/wwe/wwe-therock.jpg);
}
.photo-033 {
	background-image: url(../../img/photos/wwe/wwe-tripleh1.jpg);
}
.photo-034 {
	background-image: url(../../img/photos/wwe/wwe-lesnarb1.jpg);
}
.photo-035 {
	background-image: url(../../img/photos/wwe/wwe-benoitc.jpg);
}
.photo-036 {
	background-image: url(../../img/photos/wwe/wwe-batista14.png);
}
.photo-037 {
	background-image: url(../../img/photos/wwe/wwe-reymysterio.jpg);
}
.photo-038 {
	background-image: url(../../img/photos/wwe/wwe-undertaker4.jpg);
}
.photo-039 {
	background-image: url(../../img/photos/wwe/wwe-cenaj.jpg);
}
.photo-040 {
	background-image: url(../../img/photos/wwe/wwe-ortonr.jpg);
}
.photo-041 {
	background-image: url(../../img/photos/wwe/wwe-edge.jpg);
}
.photo-042 {
	background-image: url(../../img/photos/wwe/wwe-delrioa.jpg);
}
.photo-043 {
	background-image: url(../../img/photos/wwe/wwe-sheamus1.jpg);
}
.photo-044 {
	background-image: url(../../img/photos/wwe/wwe-romanreigns.jpg);
}
.photo-045 {
	background-image: url(../../img/photos/wwe/wwe-tripleh2.jpg);
}
.photo-046 {
	background-image: url(../../img/photos/wwe/wwe-nakamuras.jpg);
}
.photo-047 {
	background-image: url(../../img/photos/wwe/wwe-rollinss2.jpg);
	background-size: 120%;
	background-position: center;
}

.photo-048 {
	background-image: url(../../img/photos/wwe/wwe-mcintyred.jpg);
	background-size: 120%;
	background-position: center;}

.photo-049 {
	background-image: url(../../img/photos/wwe/wwe-edge21.png);
	background-size: 120%;
	background-position: center;
}
.photo-050 {
	background-image: url(../../img/photos/wwe/wwe-lesnarb2.png);
	background-size: 120%;
	background-position: center;
}
.photo-051 {
	background-image: url(../../img/photos/wwe/wwe-rhodesc.png);
	background-size: 110%;
	background-position: center;
}
.photo-052 {
	background-image: url(../../img/photos/wwe/wwe-usojey.png);
	background-size: 110%;
	background-position: center;
}
.photo-w01 {
	background-image: url(../../img/photos/wwe/wwe-asuka.png);
	background-size: 110%;
	background-position: center;
}
.photo-w02 {
	background-image: url(../../img/photos/wwe/wwe-lynchb.png);
	background-size: 110%;
	background-position: center;
}
.photo-w03, .photo-w08 {
	background-image: url(../../img/photos/wwe/wwe-flairc.png);
	background-size: 120%;
	background-position: center;
}
.photo-w04 {
	background-image: url(../../img/photos/wwe/wwe-belairb.png);
	background-size: 110%;
	background-position: center;
}
.photo-w05 {
	background-image: url(../../img/photos/wwe/wwe-rouseyr.png);
	background-size: 100%;
	background-position: center;
}
.photo-w06 {
	background-image: url(../../img/photos/wwe/wwe-ripleyr.png);
	background-size: 120%;
	background-position: center;
}
.photo-w07 {
	background-image: url(../../img/photos/wwe/wwe-bayley.png);
	background-size: 110%;
	background-position: center;
}