.area-001{height:1%;width:1%;}
.area-002{height:2%;width:2%;}
.area-003{height:3%;width:3%;}
.area-004{height:4%;width:4%;}
.area-005{height:5%;width:5%;}
.area-006{height:6%;width:6%;}
.area-007{height:7%;width:7%;}
.area-008{height:8%;width:8%;}
.area-009{height:9%;width:9%;}
.area-010{height:10%;width:10%;}
.area-011{height:11%;width:11%;}
.area-012{height:12%;width:12%;}
.area-013{height:13%;width:13%;}
.area-014{height:14%;width:14%;}
.area-015{height:15%;width:15%;}
.area-016{height:16%;width:16%;}
.area-017{height:17%;width:17%;}
.area-018{height:18%;width:18%;}
.area-019{height:19%;width:19%;}
.area-020{height:20%;width:20%;}
.area-021{height:21%;width:21%;}
.area-022{height:22%;width:22%;}
.area-023{height:23%;width:23%;}
.area-024{height:24%;width:24%;}
.area-025{height:25%;width:25%;}
.area-026{height:26%;width:26%;}
.area-027{height:27%;width:27%;}
.area-028{height:28%;width:28%;}
.area-029{height:29%;width:29%;}
.area-030{height:30%;width:30%;}
.area-031{height:31%;width:31%;}
.area-032{height:32%;width:32%;}
.area-033{height:33%;width:33%;}
.area-034{height:34%;width:34%;}
.area-035{height:35%;width:35%;}
.area-036{height:36%;width:36%;}
.area-037{height:37%;width:37%;}
.area-038{height:38%;width:38%;}
.area-039{height:39%;width:39%;}
.area-040{height:40%;width:40%;}
.area-041{height:41%;width:41%;}
.area-042{height:42%;width:42%;}
.area-043{height:43%;width:43%;}
.area-044{height:44%;width:44%;}
.area-045{height:45%;width:45%;}
.area-046{height:46%;width:46%;}
.area-047{height:47%;width:47%;}
.area-048{height:48%;width:48%;}
.area-049{height:49%;width:49%;}
.area-050{height:50%;width:50%;}
.area-051{height:51%;width:51%;}
.area-052{height:52%;width:52%;}
.area-053{height:53%;width:53%;}
.area-054{height:54%;width:54%;}
.area-055{height:55%;width:55%;}
.area-056{height:56%;width:56%;}
.area-057{height:57%;width:57%;}
.area-058{height:58%;width:58%;}
.area-059{height:59%;width:59%;}
.area-060{height:60%;width:60%;}
.area-061{height:61%;width:61%;}
.area-062{height:62%;width:62%;}
.area-063{height:63%;width:63%;}
.area-064{height:64%;width:64%;}
.area-065{height:65%;width:65%;}
.area-066{height:66%;width:66%;}
.area-067{height:67%;width:67%;}
.area-068{height:68%;width:68%;}
.area-069{height:69%;width:69%;}
.area-070{height:70%;width:70%;}
.area-071{height:71%;width:71%;}
.area-072{height:72%;width:72%;}
.area-073{height:73%;width:73%;}
.area-074{height:74%;width:74%;}
.area-075{height:75%;width:75%;}
.area-076{height:76%;width:76%;}
.area-077{height:77%;width:77%;}
.area-078{height:78%;width:78%;}
.area-079{height:79%;width:79%;}
.area-080{height:80%;width:80%;}
.area-081{height:81%;width:81%;}
.area-082{height:82%;width:82%;}
.area-083{height:83%;width:83%;}
.area-084{height:84%;width:84%;}
.area-085{height:85%;width:85%;}
.area-086{height:86%;width:86%;}
.area-087{height:87%;width:87%;}
.area-088{height:88%;width:88%;}
.area-089{height:89%;width:89%;}
.area-090{height:90%;width:90%;}
.area-091{height:91%;width:91%;}
.area-092{height:92%;width:92%;}
.area-093{height:93%;width:93%;}
.area-094{height:94%;width:94%;}
.area-095{height:95%;width:95%;}
.area-096{height:96%;width:96%;}
.area-097{height:97%;width:97%;}
.area-098{height:98%;width:98%;}
.area-099{height:99%;width:99%;}
.area-100{height:100%;width:100%;}

.area-pix-001{height:1px;width:1px;}
.area-pix-002{height:2px;width:2px;}
.area-pix-003{height:3px;width:3px;}
.area-pix-004{height:4px;width:4px;}
.area-pix-005{height:5px;width:5px;}
.area-pix-006{height:6px;width:6px;}
.area-pix-007{height:7px;width:7px;}
.area-pix-008{height:8px;width:8px;}
.area-pix-009{height:9px;width:9px;}
.area-pix-010{height:10px;width:10px;}
.area-pix-011{height:11px;width:11px;}
.area-pix-012{height:12px;width:12px;}
.area-pix-013{height:13px;width:13px;}
.area-pix-014{height:14px;width:14px;}
.area-pix-015{height:15px;width:15px;}
.area-pix-016{height:16px;width:16px;}
.area-pix-017{height:17px;width:17px;}
.area-pix-018{height:18px;width:18px;}
.area-pix-019{height:19px;width:19px;}
.area-pix-020{height:20px;width:20px;}
.area-pix-021{height:21px;width:21px;}
.area-pix-022{height:22px;width:22px;}
.area-pix-023{height:23px;width:23px;}
.area-pix-024{height:24px;width:24px;}
.area-pix-025{height:25px;width:25px;}
.area-pix-026{height:26px;width:26px;}
.area-pix-027{height:27px;width:27px;}
.area-pix-028{height:28px;width:28px;}
.area-pix-029{height:29px;width:29px;}
.area-pix-030{height:30px;width:30px;}
.area-pix-031{height:31px;width:31px;}
.area-pix-032{height:32px;width:32px;}
.area-pix-033{height:33px;width:33px;}
.area-pix-034{height:34px;width:34px;}
.area-pix-035{height:35px;width:35px;}
.area-pix-036{height:36px;width:36px;}
.area-pix-037{height:37px;width:37px;}
.area-pix-038{height:38px;width:38px;}
.area-pix-039{height:39px;width:39px;}
.area-pix-040{height:40px;width:40px;}
.area-pix-041{height:41px;width:41px;}
.area-pix-042{height:42px;width:42px;}
.area-pix-043{height:43px;width:43px;}
.area-pix-044{height:44px;width:44px;}
.area-pix-045{height:45px;width:45px;}
.area-pix-046{height:46px;width:46px;}
.area-pix-047{height:47px;width:47px;}
.area-pix-048{height:48px;width:48px;}
.area-pix-049{height:49px;width:49px;}
.area-pix-050{height:50px;width:50px;}
.area-pix-051{height:51px;width:51px;}
.area-pix-052{height:52px;width:52px;}
.area-pix-053{height:53px;width:53px;}
.area-pix-054{height:54px;width:54px;}
.area-pix-055{height:55px;width:55px;}
.area-pix-056{height:56px;width:56px;}
.area-pix-057{height:57px;width:57px;}
.area-pix-058{height:58px;width:58px;}
.area-pix-059{height:59px;width:59px;}
.area-pix-060{height:60px;width:60px;}
.area-pix-061{height:61px;width:61px;}
.area-pix-062{height:62px;width:62px;}
.area-pix-063{height:63px;width:63px;}
.area-pix-064{height:64px;width:64px;}
.area-pix-065{height:65px;width:65px;}
.area-pix-066{height:66px;width:66px;}
.area-pix-067{height:67px;width:67px;}
.area-pix-068{height:68px;width:68px;}
.area-pix-069{height:69px;width:69px;}
.area-pix-070{height:70px;width:70px;}
.area-pix-071{height:71px;width:71px;}
.area-pix-072{height:72px;width:72px;}
.area-pix-073{height:73px;width:73px;}
.area-pix-074{height:74px;width:74px;}
.area-pix-075{height:75px;width:75px;}
.area-pix-076{height:76px;width:76px;}
.area-pix-077{height:77px;width:77px;}
.area-pix-078{height:78px;width:78px;}
.area-pix-079{height:79px;width:79px;}
.area-pix-080{height:80px;width:80px;}
.area-pix-081{height:81px;width:81px;}
.area-pix-082{height:82px;width:82px;}
.area-pix-083{height:83px;width:83px;}
.area-pix-084{height:84px;width:84px;}
.area-pix-085{height:85px;width:85px;}
.area-pix-086{height:86px;width:86px;}
.area-pix-087{height:87px;width:87px;}
.area-pix-088{height:88px;width:88px;}
.area-pix-089{height:89px;width:89px;}
.area-pix-090{height:90px;width:90px;}
.area-pix-091{height:91px;width:91px;}
.area-pix-092{height:92px;width:92px;}
.area-pix-093{height:93px;width:93px;}
.area-pix-094{height:94px;width:94px;}
.area-pix-095{height:95px;width:95px;}
.area-pix-096{height:96px;width:96px;}
.area-pix-097{height:97px;width:97px;}
.area-pix-098{height:98px;width:98px;}
.area-pix-099{height:99px;width:99px;}
.area-pix-100{height:100px;width:100px;}

.per-w-001{width:1%;min-width:1px;}
.per-w-002{width:2%;min-width:1.5px;}
.per-w-003{width:3%;min-width:2px;}
.per-w-004{width:4%;min-width:2.5px;}
.per-w-005{width:5%;min-width:3px;}
.per-w-006{width:6%;min-width:3.5px;}
.per-w-007{width:7%;min-width:4px;}
.per-w-008{width:8%;min-width:4.5px;}
.per-w-009{width:9%;min-width:5px;}
.per-w-010{width:10%;}
.per-w-011{width:11%;}
.per-w-012{width:12%;}
.per-w-013{width:13%;}
.per-w-014{width:14%;}
.per-w-015{width:15%;}
.per-w-016{width:16%;}
.per-w-017{width:17%;}
.per-w-018{width:18%;}
.per-w-019{width:19%;}
.per-w-020{width:20%;}
.per-w-021{width:21%;}
.per-w-022{width:22%;}
.per-w-023{width:23%;}
.per-w-024{width:24%;}
.per-w-025{width:25%;}
.per-w-026{width:26%;}
.per-w-027{width:27%;}
.per-w-028{width:28%;}
.per-w-029{width:29%;}
.per-w-030{width:30%;}
.per-w-031{width:31%;}
.per-w-032{width:32%;}
.per-w-033{width:33%;}
.per-w-034{width:34%;}
.per-w-035{width:35%;}
.per-w-036{width:36%;}
.per-w-037{width:37%;}
.per-w-038{width:38%;}
.per-w-039{width:39%;}
.per-w-040{width:40%;}
.per-w-041{width:41%;}
.per-w-042{width:42%;}
.per-w-043{width:43%;}
.per-w-044{width:44%;}
.per-w-045{width:45%;}
.per-w-046{width:46%;}
.per-w-047{width:47%;}
.per-w-048{width:48%;}
.per-w-049{width:49%;}
.per-w-050{width:50%;}
.per-w-051{width:51%;}
.per-w-052{width:52%;}
.per-w-053{width:53%;}
.per-w-054{width:54%;}
.per-w-055{width:55%;}
.per-w-056{width:56%;}
.per-w-057{width:57%;}
.per-w-058{width:58%;}
.per-w-059{width:59%;}
.per-w-060{width:60%;}
.per-w-061{width:61%;}
.per-w-062{width:62%;}
.per-w-063{width:63%;}
.per-w-064{width:64%;}
.per-w-065{width:65%;}
.per-w-066{width:66%;}
.per-w-067{width:67%;}
.per-w-068{width:68%;}
.per-w-069{width:69%;}
.per-w-070{width:70%;}
.per-w-071{width:71%;}
.per-w-072{width:72%;}
.per-w-073{width:73%;}
.per-w-074{width:74%;}
.per-w-075{width:75%;}
.per-w-076{width:76%;}
.per-w-077{width:77%;}
.per-w-078{width:78%;}
.per-w-079{width:79%;}
.per-w-080{width:80%;}
.per-w-081{width:81%;}
.per-w-082{width:82%;}
.per-w-083{width:83%;}
.per-w-084{width:84%;}
.per-w-085{width:85%;}
.per-w-086{width:86%;}
.per-w-087{width:87%;}
.per-w-088{width:88%;}
.per-w-089{width:89%;}
.per-w-090{width:90%;}
.per-w-091{width:91%;}
.per-w-092{width:92%;}
.per-w-093{width:93%;}
.per-w-094{width:94%;}
.per-w-095{width:95%;}
.per-w-096{width:96%;}
.per-w-097{width:97%;}
.per-w-098{width:98%;}
.per-w-099{width:99%;}
.per-w-100{width:100%;}

.per-h-001{height:1%;min-height:1px;}
.per-h-002{height:2%;min-height:1.5px;}
.per-h-003{height:3%;min-height:2px;}
.per-h-004{height:4%;min-height:2.5px;}
.per-h-005{height:5%;min-height:3px;}
.per-h-006{height:6%;min-height:3.5px;}
.per-h-007{height:7%;min-height:4px;}
.per-h-008{height:8%;min-height:4.5px;}
.per-h-009{height:9%;min-height:5px;}
.per-h-010{height:10%;}
.per-h-011{height:11%;}
.per-h-012{height:12%;}
.per-h-013{height:13%;}
.per-h-014{height:14%;}
.per-h-015{height:15%;}
.per-h-016{height:16%;}
.per-h-017{height:17%;}
.per-h-018{height:18%;}
.per-h-019{height:19%;}
.per-h-020{height:20%;}
.per-h-021{height:21%;}
.per-h-022{height:22%;}
.per-h-023{height:23%;}
.per-h-024{height:24%;}
.per-h-025{height:25%;}
.per-h-026{height:26%;}
.per-h-027{height:27%;}
.per-h-028{height:28%;}
.per-h-029{height:29%;}
.per-h-030{height:30%;}
.per-h-031{height:31%;}
.per-h-032{height:32%;}
.per-h-033{height:33%;}
.per-h-034{height:34%;}
.per-h-035{height:35%;}
.per-h-036{height:36%;}
.per-h-037{height:37%;}
.per-h-038{height:38%;}
.per-h-039{height:39%;}
.per-h-040{height:40%;}
.per-h-041{height:41%;}
.per-h-042{height:42%;}
.per-h-043{height:43%;}
.per-h-044{height:44%;}
.per-h-045{height:45%;}
.per-h-046{height:46%;}
.per-h-047{height:47%;}
.per-h-048{height:48%;}
.per-h-049{height:49%;}
.per-h-050{height:50%;}
.per-h-051{height:51%;}
.per-h-052{height:52%;}
.per-h-053{height:53%;}
.per-h-054{height:54%;}
.per-h-055{height:55%;}
.per-h-056{height:56%;}
.per-h-057{height:57%;}
.per-h-058{height:58%;}
.per-h-059{height:59%;}
.per-h-060{height:60%;}
.per-h-061{height:61%;}
.per-h-062{height:62%;}
.per-h-063{height:63%;}
.per-h-064{height:64%;}
.per-h-065{height:65%;}
.per-h-066{height:66%;}
.per-h-067{height:67%;}
.per-h-068{height:68%;}
.per-h-069{height:69%;}
.per-h-070{height:70%;}
.per-h-071{height:71%;}
.per-h-072{height:72%;}
.per-h-073{height:73%;}
.per-h-074{height:74%;}
.per-h-075{height:75%;}
.per-h-076{height:76%;}
.per-h-077{height:77%;}
.per-h-078{height:78%;}
.per-h-079{height:79%;}
.per-h-080{height:80%;}
.per-h-081{height:81%;}
.per-h-082{height:82%;}
.per-h-083{height:83%;}
.per-h-084{height:84%;}
.per-h-085{height:85%;}
.per-h-086{height:86%;}
.per-h-087{height:87%;}
.per-h-088{height:88%;}
.per-h-089{height:89%;}
.per-h-090{height:90%;}
.per-h-091{height:91%;}
.per-h-092{height:92%;}
.per-h-093{height:93%;}
.per-h-094{height:94%;}
.per-h-095{height:95%;}
.per-h-096{height:96%;}
.per-h-097{height:97%;}
.per-h-098{height:98%;}
.per-h-099{height:99%;}
.per-h-100{height:100%;}

.area-pix-64-100{height:64px;width:64px;}
.area-pix-64-099{height:63.4px;width:63.4px;}
.area-pix-64-098{height:62.8px;width:62.8px;}
.area-pix-64-097{height:62.3px;width:62.3px;}
.area-pix-64-096{height:61.7px;width:61.7px;}
.area-pix-64-095{height:61.1px;width:61.1px;}
.area-pix-64-094{height:60.5px;width:60.5px;}
.area-pix-64-093{height:59.9px;width:59.9px;}
.area-pix-64-092{height:59.3px;width:59.3px;}
.area-pix-64-091{height:58.8px;width:58.8px;}
.area-pix-64-090{height:58.2px;width:58.2px;}
.area-pix-64-089{height:57.6px;width:57.6px;}
.area-pix-64-088{height:57.0px;width:57.0px;}
.area-pix-64-087{height:56.4px;width:56.4px;}
.area-pix-64-086{height:55.8px;width:55.8px;}
.area-pix-64-085{height:55.2px;width:55.2px;}
.area-pix-64-084{height:54.7px;width:54.7px;}
.area-pix-64-083{height:54.1px;width:54.1px;}
.area-pix-64-082{height:53.5px;width:53.5px;}
.area-pix-64-081{height:52.9px;width:52.9px;}
.area-pix-64-080{height:52.3px;width:52.3px;}
.area-pix-64-079{height:51.8px;width:51.8px;}
.area-pix-64-078{height:51.2px;width:51.2px;}
.area-pix-64-077{height:50.6px;width:50.6px;}
.area-pix-64-076{height:50.0px;width:50.0px;}
.area-pix-64-075{height:49.4px;width:49.4px;}
.area-pix-64-074{height:48.8px;width:48.8px;}
.area-pix-64-073{height:48.3px;width:48.3px;}
.area-pix-64-072{height:47.7px;width:47.7px;}
.area-pix-64-071{height:47.1px;width:47.1px;}
.area-pix-64-070{height:46.5px;width:46.5px;}
.area-pix-64-069{height:45.9px;width:45.9px;}
.area-pix-64-068{height:45.4px;width:45.4px;}
.area-pix-64-067{height:44.8px;width:44.8px;}
.area-pix-64-066{height:44.2px;width:44.2px;}
.area-pix-64-065{height:43.6px;width:43.6px;}
.area-pix-64-064{height:43.0px;width:43.0px;}
.area-pix-64-063{height:42.4px;width:42.4px;}
.area-pix-64-062{height:41.9px;width:41.9px;}
.area-pix-64-061{height:41.3px;width:41.3px;}
.area-pix-64-060{height:40.7px;width:40.7px;}
.area-pix-64-059{height:40.1px;width:40.1px;}
.area-pix-64-058{height:39.5px;width:39.5px;}
.area-pix-64-057{height:38.9px;width:38.9px;}
.area-pix-64-056{height:38.4px;width:38.4px;}
.area-pix-64-055{height:37.8px;width:37.8px;}
.area-pix-64-054{height:37.2px;width:37.2px;}
.area-pix-64-053{height:36.6px;width:36.6px;}
.area-pix-64-052{height:36.0px;width:36.0px;}
.area-pix-64-051{height:35.4px;width:35.4px;}
.area-pix-64-050{height:34.9px;width:34.9px;}
.area-pix-64-049{height:34.3px;width:34.3px;}
.area-pix-64-048{height:33.7px;width:33.7px;}
.area-pix-64-047{height:33.1px;width:33.1px;}
.area-pix-64-046{height:32.5px;width:32.5px;}
.area-pix-64-045{height:31.9px;width:31.9px;}
.area-pix-64-044{height:31.4px;width:31.4px;}
.area-pix-64-043{height:30.8px;width:30.8px;}
.area-pix-64-042{height:30.2px;width:30.2px;}
.area-pix-64-041{height:29.6px;width:29.6px;}
.area-pix-64-040{height:29px;width:29px;}
.area-pix-64-039{height:28.4px;width:28.4px;}
.area-pix-64-038{height:27.9px;width:27.9px;}
.area-pix-64-037{height:27.3px;width:27.3px;}
.area-pix-64-036{height:26.7px;width:26.7px;}
.area-pix-64-035{height:26.1px;width:26.1px;}
.area-pix-64-034{height:25.5px;width:25.5px;}
.area-pix-64-033{height:25.0px;width:25.0px;}
.area-pix-64-032{height:24.4px;width:24.4px;}
.area-pix-64-031{height:23.8px;width:23.8px;}
.area-pix-64-030{height:23.2px;width:23.2px;}
.area-pix-64-029{height:22.6px;width:22.6px;}
.area-pix-64-028{height:22.0px;width:22.0px;}
.area-pix-64-027{height:21.5px;width:21.5px;}
.area-pix-64-026{height:20.9px;width:20.9px;}
.area-pix-64-025{height:20.3px;width:20.3px;}
.area-pix-64-024{height:19.7px;width:19.7px;}
.area-pix-64-023{height:19.1px;width:19.1px;}
.area-pix-64-022{height:18.5px;width:18.5px;}
.area-pix-64-021{height:18.0px;width:18.0px;}
.area-pix-64-020{height:17.4px;width:17.4px;}
.area-pix-64-019{height:16.8px;width:16.8px;}
.area-pix-64-018{height:16.2px;width:16.2px;}
.area-pix-64-017{height:15.6px;width:15.6px;}
.area-pix-64-016{height:15.0px;width:15.0px;}
.area-pix-64-015{height:14.5px;width:14.5px;}
.area-pix-64-014{height:13.9px;width:13.9px;}
.area-pix-64-013{height:13.3px;width:13.3px;}
.area-pix-64-012{height:12.7px;width:12.7px;}
.area-pix-64-011{height:12.1px;width:12.1px;}
.area-pix-64-010{height:11.5px;width:11.5px;}
.area-pix-64-009{height:11.0px;width:11.0px;}
.area-pix-64-008{height:10.4px;width:10.4px;}
.area-pix-64-007{height:9.8px;width:9.8px;}
.area-pix-64-006{height:9.2px;width:9.2px;}
.area-pix-64-005{height:8.6px;width:8.6px;}
.area-pix-64-004{height:8.0px;width:8.0px;}
.area-pix-64-003{height:7.5px;width:7.5px;}
.area-pix-64-002{height:6.9px;width:6.9px;}
.area-pix-64-001{height:6.4px;width:6.4px;}
.area-pix-64-000{height:3.2px;width:3.2px;}