/* Photos - Members of Parliament */


.photo-001 {background-image: url(../../img/photos/mp/current/mp-kinnocks.jpg);}
.photo-002 {background-image: url(../../img/photos/mp/current/mp-bebbg.jpg);}
.photo-003 {background-image: url(../../img/photos/mp/current/mp-tamim.jpg);}
.photo-004 {background-image: url(../../img/photos/mp/current/mp-williamsh.jpg);}
.photo-005 {background-image: url(../../img/photos/mp/current/mp-smithnicholas.jpg);}
.photo-006 {background-image: url(../../img/photos/mp/current/mp-davieschristopher.jpg);}
.photo-007 {background-image: url(../../img/photos/mp/current/mp-moonm.jpg);}
.photo-008 {background-image: url(../../img/photos/mp/current/mp-davidw.jpg);}
.photo-009 {background-image: url(../../img/photos/mp/current/mp-stevensjo.jpg);}
.photo-010 {background-image: url(../../img/photos/mp/current/mp-williamscraig.jpg);}
.photo-011 {background-image: url(../../img/photos/mp/current/mp-doughtys.jpg);}
.photo-012 {background-image: url(../../img/photos/mp/current/mp-brennank.jpg);}
.photo-013 {background-image: url(../../img/photos/mp/current/mp-edwardsjonathan.jpg);}
.photo-014 {background-image: url(../../img/photos/mp/current/mp-hartsimon.jpg);}
.photo-015 {background-image: url(../../img/photos/mp/current/mp-williamsmark.jpg);}
.photo-016 {background-image: url(../../img/photos/mp/current/mp-elanjoness.jpg);}
.photo-017 {background-image: url(../../img/photos/mp/current/mp-jonesdavid.jpg);}
.photo-018 {background-image: url(../../img/photos/mp/current/mp-clwyda.jpg);}
.photo-019 {background-image: url(../../img/photos/mp/current/mp-hansondavid.jpg);}
.photo-020 {background-image: url(../../img/photos/mp/current/mp-savillerobertsl.jpg);}
.photo-021 {background-image: url(../../img/photos/mp/current/mp-daviesbyron.jpg);}
.photo-022 {background-image: url(../../img/photos/mp/current/mp-evanschris.jpg);}
.photo-023 {background-image: url(../../img/photos/mp/current/mp-griffithn.jpg);}
.photo-024 {background-image: url(../../img/photos/mp/current/mp-jonesgerald.jpg);}
.photo-025 {background-image: url(../../img/photos/mp/current/mp-daviesdavid.jpg);}
.photo-026 {background-image: url(../../img/photos/mp/current/mp-daviesglyn.jpg);}
.photo-027 {background-image: url(../../img/photos/mp/current/mp-reesc.jpg);}
.photo-028 {background-image: url(../../img/photos/mp/current/mp-mordenj.jpg);}
.photo-029 {background-image: url(../../img/photos/mp/current/mp-flynnp.jpg);}
.photo-030 {background-image: url(../../img/photos/mp/current/mp-irrancadaviesh.jpg);}
.photo-031 {background-image: url(../../img/photos/mp/current/mp-smithowen.jpg);}
.photo-032 {background-image: url(../../img/photos/mp/current/mp-crabbs.jpg);}
.photo-033 {background-image: url(../../img/photos/mp/current/mp-bryantc.jpg);}
.photo-034 {background-image: url(../../img/photos/mp/current/mp-harriscarolyn.jpg);}
.photo-035 {background-image: url(../../img/photos/mp/current/mp-daviesgeraint.jpg);}
.photo-036 {background-image: url(../../img/photos/mp/current/mp-thomassymondsn.jpg);}
.photo-037 {background-image: url(../../img/photos/mp/current/mp-daviesjames.jpg);}
.photo-038 {background-image: url(../../img/photos/mp/current/mp-cairnsa.jpg);}
.photo-039 {background-image: url(../../img/photos/mp/current/mp-lucasi.jpg);}
.photo-040 {background-image: url(../../img/photos/mp/current/mp-owena.jpg);}