/* Photos - Members of Parliament */



.photo-001 {
	background-image: url(../../img/photos/mp/current/mp-trevelyanam.jpg);
}
.photo-002 {
	background-image: url(../../img/photos/mp/current/mp-goodmanh.jpg);
}
.photo-003 {
	background-image: url(../../img/photos/mp/current/mp-andersond.jpg);
}
.photo-004 {
	background-image: url(../../img/photos/mp/current/mp-campbellr.jpg);
}
.photo-005 {
	background-image: url(../../img/photos/mp/current/mp-chapmanjenny.jpg);
}
.photo-006 {
	background-image: url(../../img/photos/mp/current/mp-blackmanwoodsr.jpg);
}
.photo-007 {
	background-image: url(../../img/photos/mp/current/mp-joneskevan.jpg);
}
.photo-008 {
	background-image: url(../../img/photos/mp/current/mp-glassp.jpg);
}
.photo-009 {
	background-image: url(../../img/photos/mp/current/mp-morrisg.jpg);
}
.photo-010 {
	background-image: url(../../img/photos/mp/current/mp-mearnsi.jpg);
}
.photo-011 {
	background-image: url(../../img/photos/mp/current/mp-wrightiain.jpg);
}
.photo-012 {
	background-image: url(../../img/photos/mp/current/mp-oppermang.jpg);
}
.photo-013 {
	background-image: url(../../img/photos/mp/current/mp-phillipsonb.jpg);
}
.photo-014 {
	background-image: url(../../img/photos/mp/current/mp-hepburns.jpg);
}
.photo-015 {
	background-image: url(../../img/photos/mp/current/mp-mcdonaldandy.jpg);
}
.photo-016 {
	background-image: url(../../img/photos/mp/current/mp-blenkinsopt.jpg);
}
.photo-017 {
	background-image: url(../../img/photos/mp/current/mp-onwurahc.jpg);
}
.photo-018 {
	background-image: url(../../img/photos/mp/current/mp-brownnick.jpg);
}
.photo-019 {
	background-image: url(../../img/photos/mp/current/mp-mckinnellc.jpg);
}
.photo-020 {
	background-image: url(../../img/photos/mp/current/mp-turleya.jpg);
}
.photo-021 {
	background-image: url(../../img/photos/mp/mp-wilsonphilip.jpg);
}
.photo-022 {
	background-image: url(../../img/photos/mp/current/mp-lewellbucke.jpg);
}
.photo-023 {
	background-image: url(../../img/photos/mp/current/mp-cunninghama.jpg);
}
.photo-024 {
	background-image: url(../../img/photos/mp/current/mp-whartonj.jpg);
}
.photo-025 {
	background-image: url(../../img/photos/mp/current/mp-elliottj.jpg);
}
.photo-026 {
	background-image: url(../../img/photos/mp/current/mp-campbellalan.jpg);
}
.photo-027 {
	background-image: url(../../img/photos/mp/current/mp-glindonm.jpg);
}
.photo-028 {
	background-image: url(../../img/photos/mp/current/mp-laveryi.jpg);
}
.photo-029 {
	background-image: url(../../img/photos/mp/current/mp-hodgsons.jpg);
}
