
#wrapper-mixcount {
  height: 175px;
}

#container-mixcount .hide {
	min-height:64px;
	opacity:0;
}

li.mix {
  margin: 0 0 5px 0;
}

.mix table.text-ow th {
width: 16px;
}
.mix table.text-ow tr >td:last-of-type {
width: 24px;
}

.mix small.align-right.text-right {
font-family: 'Roboto Condensed', sans-serif;
text-transform: uppercase;
}
.mix small.text-faint {
line-height: 1.5;
display: inherit;
}

.mix em, 
.mix small + em {
font-family: 'Roboto Condensed', sans-serif;
    line-height: initial;
    display: block;
    letter-spacing: -0.015em;
    font-weight: 600;
}

.auto-grid, .auto-grid-nogap {
  --auto-grid-min-size: 21rem; /* 21rem for Samsung Galaxy 8 */
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
  grid-gap: .5rem;
  padding-top:5rem;
  }

.auto-grid-nogap {
  grid-gap:0;
}
.auto-grid .mix {
	display: inline-block;
  vertical-align: top;
  margin: 5px 0;
  list-style: none;
}
.auto-grid .mix-lg > div {
	min-height:196px;
}
.mix.man {
  margin: 0;
}
#container-mixcount {
  position: relative;
}
