.clearfix-all {
	clear:both;
}
.clearfix-xs {
	clear:left;
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */
@media screen and (min-width:480px) {
.clearfix-xs {	clear:inherit;}
.clearfix-480 {	clear:left;}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */
} 
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */
@media screen and (min-width:768px) {
.clearfix-480 {	clear:inherit;}
.clearfix-768, .clearfix-768-up {clear:left;}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */
} 
@media screen and (min-width:992px) {
.clearfix-768 {	clear:inherit;}
.clearfix-992, .clearfix-992-up {clear:left;}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */
}
@media screen and (min-width:1024px) {
.clearfix-992, .clearfix-1200 { clear:inherit;}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */
}
@media screen and (min-width:1200px) {
.clearfix-1200 { clear:left;}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */
}
@media screen and (min-width:1600px) {
.clearfix-1200, .clearfix-null { clear:inherit;}
.clearfix-1600 { clear:left;}
.col-md-4.col-md-4-lg-3 {
	width:25%;
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */
}