/* Photos - Members of Parliament */


.photo-001 {background-image: url(../../img/photos/mp/mp-mortonw.jpg);}
.photo-002 {background-image: url(../../img/photos/mp/mp-stuartg.jpg);}
.photo-003 {background-image: url(../../img/photos/mp/mp-dromeyj.jpg);}
.photo-004 {background-image: url(../../img/photos/mp/mp-godsiffr.jpg);}
.photo-005 {background-image: url(../../img/photos/mp/mp-byrnel.jpg);}
.photo-006 {background-image: url(../../img/photos/mp/mp-mahmoods.jpg);}
.photo-007 {background-image: url(../../img/photos/mp/mp-burdenr.jpg);}
.photo-008 {background-image: url(../../img/photos/mp/mp-mahmoodk.jpg);}
.photo-009 {background-image: url(../../img/photos/mp/mp-mccabes.jpg);}
.photo-010 {background-image: url(../../img/photos/mp/mp-phillipsj.jpg);}
.photo-011 {background-image: url(../../img/photos/mp/mp-javids.jpg);}
.photo-012 {background-image: url(../../img/photos/mp/mp-griffithsa.jpg);}
.photo-013 {background-image: url(../../img/photos/mp/mp-millinga.jpg);}
.photo-014 {background-image: url(../../img/photos/mp/mp-fletcherc.jpg);}
.photo-015 {background-image: url(../../img/photos/mp/mp-robinsong.jpg);}
.photo-016 {background-image: url(../../img/photos/mp/mp-cunninghamjim.jpg);}
.photo-017 {background-image: url(../../img/photos/mp/mp-austini.jpg);}
.photo-018 {background-image: url(../../img/photos/mp/mp-woodmike.jpg);}
.photo-019 {background-image: url(../../img/photos/mp/mp-morrisj.jpg);}
.photo-020 {background-image: url(../../img/photos/mp/mp-normanj.jpg);}
.photo-021 {background-image: url(../../img/photos/mp/mp-wigginb.jpg);}
.photo-022 {background-image: url(../../img/photos/mp/mp-wrightjeremy.jpg);}
.photo-023 {background-image: url(../../img/photos/mp/mp-fabricantm.jpg);}
.photo-024 {background-image: url(../../img/photos/mp/mp-dunnep.jpg);}
.photo-025 {background-image: url(../../img/photos/mp/mp-spelmanc.jpg);}
.photo-026 {background-image: url(../../img/photos/mp/mp-farrellyp.jpg);}
.photo-027 {background-image: url(../../img/photos/mp/mp-jonesmarcus.jpg);}
.photo-028 {background-image: url(../../img/photos/mp/mp-lumleyk.jpg);}
.photo-029 {background-image: url(../../img/photos/mp/mp-pawseym.jpg);}
.photo-030 {background-image: url(../../img/photos/mp/mp-kawczynskid.jpg);}
.photo-031 {background-image: url(../../img/photos/mp/mp-patersono.jpg);}
.photo-032 {background-image: url(../../img/photos/mp/mp-knightj.jpg);}
.photo-033 {background-image: url(../../img/photos/mp/mp-lefroyj.jpg);}
.photo-034 {background-image: url(../../img/photos/mp/mp-bradleyk.jpg);}
.photo-035 {background-image: url(../../img/photos/mp/mp-williamsong.jpg);}
.photo-036 {background-image: url(../../img/photos/mp/mp-huntt.jpg);}
.photo-037 {background-image: url(../../img/photos/mp/mp-smeethr.jpg);}
.photo-038 {background-image: url(../../img/photos/mp/mp-flellor.jpg);}
.photo-039 {background-image: url(../../img/photos/mp/mp-cashb.jpg);}
.photo-040 {background-image: url(../../img/photos/mp/mp-jamesm.jpg);}
.photo-041 {background-image: url(../../img/photos/mp/mp-zahawin.jpg);}
.photo-042 {background-image: url(../../img/photos/mp/mp-mitchellandrew.jpg);}
.photo-043 {background-image: url(../../img/photos/mp/mp-pincherc.jpg);}
.photo-044 {background-image: url(../../img/photos/mp/mp-allanl.jpg);}
.photo-045 {background-image: url(../../img/photos/mp/mp-winnickd.jpg);}
.photo-046 {background-image: url(../../img/photos/mp/mp-vazv.jpg);}
.photo-047 {background-image: url(../../img/photos/mp/mp-spellarj.jpg);}
.photo-048 {background-image: url(../../img/photos/mp/mp-whitechristopher.jpg);}
.photo-049 {background-image: url(../../img/photos/mp/mp-traceyc.jpg);}
.photo-050 {background-image: url(../../img/photos/mp/mp-watsont.jpg);}
.photo-051 {background-image: url(../../img/photos/mp/mp-baileya.jpg);}
.photo-052 {background-image: url(../../img/photos/mp/mp-reynoldse.jpg);}
.photo-053 {background-image: url(../../img/photos/mp/mp-mcfaddenp.jpg);}
.photo-054 {background-image: url(../../img/photos/mp/mp-marrisr.jpg);}
.photo-055 {background-image: url(../../img/photos/mp/mp-walkerrobin.jpg);}
.photo-056 {background-image: url(../../img/photos/mp/mp-huddlestonn.jpg);}
.photo-057 {background-image: url(../../img/photos/mp/mp-baldwinh.jpg);}
.photo-058 {background-image: url(../../img/photos/mp/mp-pritchardmark.jpg);}
.photo-059 {background-image: url(../../img/photos/mp/mp-garnierm.jpg);}