/*-Flags---National-*/

.flag-xs {
	background-size: contain;
}
.flag-001, .flag-afg {
		background-image:url(../../img/flags/flag-afghanistan.png);}
		
.flag-002, .flag-alb {
		background-image:url(../../img/flags/flag-albania.png);}
		
.flag-003, .flag-alg {
		background-image:url(../../img/flags/flag-algeria.png);}
		
.flag-004, .flag-and {
		background-image:url(../../img/flags/flag-andorra.png);}
		
.flag-005, .flag-ang {
		background-image:url(../../img/flags/flag-angola.png);}
		
.flag-006, .flag-aba {
		background-image:url(../../img/flags/flag-antigua-barbuda.png);}
		
.flag-007, .flag-arg {
		background-image:url(../../img/flags/flag-argentina.png);}
		
.flag-008, .flag-arm {
		background-image:url(../../img/flags/flag-armenia.png);}
		
.flag-009, .flag-aus, .flag-aul {
		background-image:url(../../img/flags/flag-australia.png);}
		
.flag-010, .flag-aut {
		background-image:url(../../img/flags/flag-austria.png);}
		
.flag-011, .flag-aze {
		background-image:url(../../img/flags/flag-azerbaijan.png);}
		
.flag-012 {
		background-image:url(../../img/flags/flag-bahamas.png);}
		
.flag-013 {
		background-image:url(../../img/flags/flag-bahrain.png);}
		
.flag-014 {
		background-image:url(../../img/flags/flag-bangladesh.png);}
		
.flag-015 {
		background-image:url(../../img/flags/flag-barbados.png);}
		
.flag-016 {
		background-image:url(../../img/flags/flag-belarus.png);}
		
.flag-017, .flag-bgm {
		background-image:url(../../img/flags/flag-belgium.png);}
		
.flag-018 {
		background-image:url(../../img/flags/flag-belize.png);}
		
.flag-019 {
		background-image:url(../../img/flags/flag-benin.png);}
		
.flag-020 {
		background-image:url(../../img/flags/flag-bhutan.png);}
		
.flag-021 {
		background-image:url(../../img/flags/flag-bolivia.png);}
		
.flag-022, .flag-bha {
		background-image:url(../../img/flags/flag-bosnia-herzegovina.png);}
		
.flag-023 {
		background-image:url(../../img/flags/flag-botswana.png);}
		
.flag-024, .flag-bra {
		background-image:url(../../img/flags/flag-brazil.png);}
		
.flag-025 {
		background-image:url(../../img/flags/flag-brunei.png);}
		
.flag-026, .flag-bul {
		background-image:url(../../img/flags/flag-bulgaria.png);}
		
.flag-027 {
		background-image:url(../../img/flags/flag-burkina-faso.png);}
		
.flag-028 {
		background-image:url(../../img/flags/flag-burundi.png);}
		
.flag-029 {
		background-image:url(../../img/flags/flag-cambodia.png);}
		
.flag-030, .flag-cmn {
		background-image:url(../../img/flags/flag-cameroon.png);}
		
.flag-031, .flag-can {
		background-image:url(../../img/flags/flag-canada.png);}
		
.flag-032, .flag-cpv {
		background-image:url(../../img/flags/flag-cape-verde.png);}
		
.flag-033 {
		background-image:url(../../img/flags/flag-central-african-republic.png);}
		
.flag-034 {
		background-image:url(../../img/flags/flag-chad.png);}
		
.flag-035, .flag-chl {
		background-image:url(../../img/flags/flag-chile.png);}
		
.flag-036, .flag-cna {
		background-image:url(../../img/flags/flag-china.png);}
		
.flag-037, .flag-col {
		background-image:url(../../img/flags/flag-colombia.png);}
		
.flag-038 {
		background-image:url(../../img/flags/flag-comoros.png);}
		
.flag-039 {
		background-image:url(../../img/flags/flag-congo.png);}
		
.flag-040, .flag-cdr {
		background-image:url(../../img/flags/flag-congo-dr.png);}
		
.flag-041, .flag-cos {
		background-image:url(../../img/flags/flag-costa-rica.png);}
		
.flag-042, .flag-cro {
		background-image:url(../../img/flags/flag-croatia.png);}
		
.flag-043, .flag-cub {
		background-image:url(../../img/flags/flag-cuba.png);}
	

.flag-044, .flag-cyp {
		background-image:url(../../img/flags/flag-cyprus.png);}
		
.flag-045, .flag-cze {
		background-image:url(../../img/flags/flag-czech-republic.png);}
		
.flag-046, .flag-den {
		background-image:url(../../img/flags/flag-denmark.png);}
		
.flag-047 {
		background-image:url(../../img/flags/flag-djibouti.png);}
		
.flag-048 {
		background-image:url(../../img/flags/flag-dominica.png);}
		
.flag-049 {
		background-image:url(../../img/flags/flag-dominican-republic.png);}
		
.flag-050 {
		background-image:url(../../img/flags/flag-east-timor.png);}
		
.flag-051, .flag-ecu {
		background-image:url(../../img/flags/flag-ecuador.png);}
		
.flag-052, .flag-egy {
		background-image:url(../../img/flags/flag-egypt.png);}
		
.flag-053 {
		background-image:url(../../img/flags/flag-el-salvador.png);}
		
.flag-054 {
		background-image:url(../../img/flags/flag-equatorial-guinea.png);}
		
.flag-055 {
		background-image:url(../../img/flags/flag-eritrea.png);}
		
.flag-056, .flag-est {
		background-image:url(../../img/flags/flag-estonia.png);}
		
.flag-057 {
		background-image:url(../../img/flags/flag-ethiopia.png);}
		
.flag-058 {
		background-image:url(../../img/flags/flag-fiji.png);}
		
.flag-059, .flag-fin {
		background-image:url(../../img/flags/flag-finland.png);}
		
.flag-060, .flag-fra {
		background-image:url(../../img/flags/flag-france.png);}
		
.flag-061 {
		background-image:url(../../img/flags/flag-gabon.png);}
		
.flag-062 {
		background-image:url(../../img/flags/flag-gambia.png);}
		
.flag-063, .flag-geo {
		background-image:url(../../img/flags/flag-georgia.png);}
		
.flag-064, .flag-ger {
		background-image:url(../../img/flags/flag-germany.png);}
		
.flag-065, .flag-gha {
		background-image:url(../../img/flags/flag-ghana.png);}
		
.flag-066, .flag-gre {
		background-image:url(../../img/flags/flag-greece.png);}

.flag-187g, .flag-gib {
		background-image:url(../../img/flags/flag-gibraltar.png);}
	

.flag-067 {
		background-image:url(../../img/flags/flag-grenada.png);}
		
.flag-068 {
		background-image:url(../../img/flags/flag-guatemala.png);}
		
.flag-069 {
		background-image:url(../../img/flags/flag-guinea.png);}
		
.flag-070 {
		background-image:url(../../img/flags/flag-guinea-bissau.png);}
		
.flag-071 {
		background-image:url(../../img/flags/flag-guyana.png);}
		
.flag-072, .flag-hai {
		background-image:url(../../img/flags/flag-haiti.png);}
		
.flag-073 {
		background-image:url(../../img/flags/flag-honduras.png);}
		
.flag-074, .flag-hun {
		background-image:url(../../img/flags/flag-hungary.png);}
		
.flag-075, .flag-ice {
		background-image:url(../../img/flags/flag-iceland.png);}
		
.flag-076 {
		background-image:url(../../img/flags/flag-india.png);}
		
.flag-077, .flag-ino {
		background-image:url(../../img/flags/flag-indonesia.png);}
		
.flag-078, .flag-irn {
		background-image:url(../../img/flags/flag-iran.png);}
		
.flag-079, .flag-irq {
		background-image:url(../../img/flags/flag-iraq.png);}
		
.flag-080, .flag-ire {
		background-image:url(../../img/flags/flag-ireland.png);}
		
.flag-081, .flag-isr {
		background-image:url(../../img/flags/flag-israel.png);}
		
.flag-082, .flag-ita {
		background-image:url(../../img/flags/flag-italy.png);}
		
.flag-083, .flag-civ {
		background-image:url(../../img/flags/flag-ivory-coast.png);}
		
.flag-084, .flag-jam {
		background-image:url(../../img/flags/flag-jamaica.png);}
		
.flag-085, .flag-jpn {
		background-image:url(../../img/flags/flag-japan.png);}
		
.flag-086, .flag-jor {
		background-image:url(../../img/flags/flag-jordan.png);}
		
.flag-087 {
		background-image:url(../../img/flags/flag-kazakhstan.png);}
		
.flag-088 {
		background-image:url(../../img/flags/flag-kenya.png);}
		
.flag-089 {
		background-image:url(../../img/flags/flag-kiribati.png);}
		
.flag-090, .flag-nko {
		background-image:url(../../img/flags/flag-korea-dpr.png);}
		
.flag-091, .flag-sko {
		background-image:url(../../img/flags/flag-korea-republic.png);}
		
.flag-092 {
		background-image:url(../../img/flags/flag-kosovo.png);}
		
.flag-093 {
		background-image:url(../../img/flags/flag-kuwait.png);}
		
.flag-094 {
		background-image:url(../../img/flags/flag-kyrgyzstan.png);}
		
.flag-095 {
		background-image:url(../../img/flags/flag-laos.png);}
		
.flag-096 {
		background-image:url(../../img/flags/flag-latvia.png);}
		
.flag-097 {
		background-image:url(../../img/flags/flag-lebanon.png);}
		
.flag-098 {
		background-image:url(../../img/flags/flag-lesotho.png);}
		
.flag-099 {
		background-image:url(../../img/flags/flag-liberia.png);}
		
.flag-100 {
		background-image:url(../../img/flags/flag-libya.png);}
		
.flag-101 {
		background-image:url(../../img/flags/flag-liechtenstein.png);}
		
.flag-102 {
		background-image:url(../../img/flags/flag-lithuania.png);}
		
.flag-103, .flag-lux {
		background-image:url(../../img/flags/flag-luxembourg.png);}
		
.flag-104, .flag-nmc {
		background-image:url(../../img/flags/flag-macedonia.png);}
		
.flag-105 {
		background-image:url(../../img/flags/flag-madagascar.png);}
		
.flag-106 {
		background-image:url(../../img/flags/flag-malawi.png);}
		
.flag-107 {
		background-image:url(../../img/flags/flag-malaysia.png);}
		
.flag-108 {
		background-image:url(../../img/flags/flag-maldives.png);}
		
.flag-109 {
		background-image:url(../../img/flags/flag-mali.png);}
		
.flag-110 {
		background-image:url(../../img/flags/flag-malta.png);}
		
.flag-111 {
		background-image:url(../../img/flags/flag-marshall-islands.png);}
		
.flag-112 {
		background-image:url(../../img/flags/flag-mauritania.png);}
		
.flag-113 {
		background-image:url(../../img/flags/flag-mauritius.png);}
		
.flag-114, .flag-mex {
		background-image:url(../../img/flags/flag-mexico.png);}
		
.flag-115 {
		background-image:url(../../img/flags/flag-micronesia.png);}
		
.flag-116, .flag-mol {
		background-image:url(../../img/flags/flag-moldova.png);}
		
.flag-117 {
		background-image:url(../../img/flags/flag-monaco.png);}
		
.flag-118 {
		background-image:url(../../img/flags/flag-mongolia.png);}
		
.flag-119, .flag-mgo {
		background-image:url(../../img/flags/flag-montenegro.png);}
		
.flag-120, .flag-mor, .flag-mco {
		background-image:url(../../img/flags/flag-morocco.png);}
		
.flag-121 {
		background-image:url(../../img/flags/flag-mozambique.png);}
		
.flag-122 {
		background-image:url(../../img/flags/flag-myanmar.png);}
		
.flag-123 {
		background-image:url(../../img/flags/flag-namibia.png);}
		
.flag-124 {
		background-image:url(../../img/flags/flag-nauru.png);}
		
.flag-125 {
		background-image:url(../../img/flags/flag-nepal.png);}
		
.flag-126, .flag-ned {
		background-image:url(../../img/flags/flag-netherlands.png);}

.flag-126c, .flag-cur {
		background-image:url(../../img/flags/flag-curacao.png);}
		

.flag-127, .flag-nzd {
		background-image:url(../../img/flags/flag-new-zealand.png);}
		
.flag-128 {
		background-image:url(../../img/flags/flag-nicaragua.png);}
		
.flag-129 {
		background-image:url(../../img/flags/flag-niger.png);}
		
.flag-130, .flag-ngi {
		background-image:url(../../img/flags/flag-nigeria.png);}
		
.flag-131, .flag-nor {
		background-image:url(../../img/flags/flag-norway.png);}
		
.flag-132 {
		background-image:url(../../img/flags/flag-oman.png);}
		
.flag-133 {
		background-image:url(../../img/flags/flag-pakistan.png);}
		
.flag-134 {
		background-image:url(../../img/flags/flag-palau.png);}

.flag-135 {
		background-image:url(../../img/flags/flag-palestine.png);}
		
.flag-136, .flag-pan {
		background-image:url(../../img/flags/flag-panama.png);}
		
.flag-137 {
		background-image:url(../../img/flags/flag-papua-new-guinea.png);}
		
.flag-138, .flag-pgy {
		background-image:url(../../img/flags/flag-paraguay.png);}
		
.flag-139, .flag-per {
		background-image:url(../../img/flags/flag-peru.png);}
		
.flag-140 {
		background-image:url(../../img/flags/flag-philippines.png);}
		
.flag-141, .flag-pol {
		background-image:url(../../img/flags/flag-poland.png);}
		
.flag-142, .flag-por {
		background-image:url(../../img/flags/flag-portugal.png);}
		
.flag-143, .flag-qat {
		background-image:url(../../img/flags/flag-qatar.png);}
		
.flag-144, .flag-rom {
		background-image:url(../../img/flags/flag-romania.png);}
		
.flag-145, .flag-rus {
		background-image:url(../../img/flags/flag-russia.png);}

.flag-145a, .sov {
		background-image:url(../../img/flags/flag-sovietunion.png);}
		
.flag-146 {
		background-image:url(../../img/flags/flag-rwanda.png);}
		
.flag-147 {
		background-image:url(../../img/flags/flag-saint-kitts-and-nevis.png);}
		
.flag-148 {
		background-image:url(../../img/flags/flag-saint-lucia.png);}
		
.flag-149 {
		background-image:url(../../img/flags/flag-saint-vincent-and-the-grenadines.png);}
		
.flag-150 {
		background-image:url(../../img/flags/flag-samoa.png);}
		
.flag-151 {
		background-image:url(../../img/flags/flag-san-marino.png);}
		
.flag-152 {
		background-image:url(../../img/flags/flag-sao-tome-and-principe.png);}
		
.flag-153, .flag-sau {
		background-image:url(../../img/flags/flag-saudi-arabia.png);}
		
.flag-154, .flag-sen {
		background-image:url(../../img/flags/flag-senegal.png);}
		
.flag-155, .flag-ser {
		background-image:url(../../img/flags/flag-serbia.png);}
		
.flag-156 {
		background-image:url(../../img/flags/flag-seychelles.png);}
		
.flag-157 {
		background-image:url(../../img/flags/flag-sierra-leone.png);}
		
.flag-158 {
		background-image:url(../../img/flags/flag-singapore.png);}
		
.flag-159, .flag-svk {
		background-image:url(../../img/flags/flag-slovakia.png);}
		
.flag-160, .flag-svn {
		background-image:url(../../img/flags/flag-slovenia.png);}
		
.flag-161 {
		background-image:url(../../img/flags/flag-solomon-islands.png);}
		
.flag-162 {
		background-image:url(../../img/flags/flag-somalia.png);}
		
.flag-163, .flag-saf {
		background-image:url(../../img/flags/flag-south-africa.png);}
		
.flag-164 {
		background-image:url(../../img/flags/flag-south-sudan.png);}
		
.flag-165, .flag-esp {
		background-image:url(../../img/flags/flag-spain.png);}
		
.flag-166 {
		background-image:url(../../img/flags/flag-sri-lanka.png);}
		
.flag-167 {
		background-image:url(../../img/flags/flag-sudan.png);}
		
.flag-168 {
		background-image:url(../../img/flags/flag-suriname.png);}
		
.flag-169 {
		background-image:url(../../img/flags/flag-swaziland.png);}
		
.flag-170, .flag-swe {
		background-image:url(../../img/flags/flag-sweden.png);}
		
.flag-171, .flag-sui {
		background-image:url(../../img/flags/flag-switzerland.png);
	    background-color: rgba(0, 0, 0, .5);
    background-position: center center;
}
		
.flag-172 {
		background-image:url(../../img/flags/flag-syria.png);}
		
.flag-173 {
		background-image:url(../../img/flags/flag-taiwan.png);}
		
.flag-174 {
		background-image:url(../../img/flags/flag-tajikistan.png);}
		
.flag-175 {
		background-image:url(../../img/flags/flag-tanzania.png);}
		
.flag-176 {
		background-image:url(../../img/flags/flag-thailand.png);}
		
.flag-177 {
		background-image:url(../../img/flags/flag-togo.png);}
		
.flag-178 {
		background-image:url(../../img/flags/flag-tonga.png);}
		
.flag-179 {
		background-image:url(../../img/flags/flag-trinidad-tobago.png);}
		
.flag-180, .flag-tun {
		background-image:url(../../img/flags/flag-tunisia.png);}
		
.flag-181, .flag-tky {
		background-image:url(../../img/flags/flag-turkey.png);}
		
.flag-182 {
		background-image:url(../../img/flags/flag-turkmenistan.png);}
		
.flag-183 {
		background-image:url(../../img/flags/flag-tuvalu.png);}
		
.flag-184 {
		background-image:url(../../img/flags/flag-uganda.png);}
		
.flag-185, .flag-ukr {
		background-image:url(../../img/flags/flag-ukraine.png);}
		
.flag-186 {
		background-image:url(../../img/flags/flag-united-arab-emirates.png);}
		
.flag-187, .flag-ukm, .flag-gbr {
		background-image:url(../../img/flags/flag-united-kingdom.png);}
.flag-187e, .flag-eng {
		background-image:url(../../img/flags/flag-england.png);}
.flag-187s, .flag-sco {
		background-image:url(../../img/flags/flag-scotland.png);}
.flag-187u, .flag-nir {
		background-image:url(../../img/flags/flag-ireland-northern.png);}
.flag-187w, .flag-wal {
		background-image:url(../../img/flags/flag-wales.png);}
						

.flag-188, .flag-usa {
		background-image:url(../../img/flags/flag-united-states.png);}
		
.flag-189, .flag-uru {
		background-image:url(../../img/flags/flag-uruguay.png);}
		
.flag-190, .flag-uzb {
		background-image:url(../../img/flags/flag-uzbekistan.png);}
		
.flag-191 {
		background-image:url(../../img/flags/flag-vanuatu.png);}
		
.flag-192 {
		background-image:url(../../img/flags/flag-vatican-city.png);}
		
.flag-193 {
		background-image:url(../../img/flags/flag-venezuela.png);}
		
.flag-194 {
		background-image:url(../../img/flags/flag-vietnam.png);}
		
.flag-195 {
		background-image:url(../../img/flags/flag-yemen.png);}
		
.flag-196 {
		background-image:url(../../img/flags/flag-zambia.png);}
		
.flag-197{
		background-image:url(../../img/flags/flag-zimbabwe.png);}


.flag-tah {
		background-image:url(../../img/flags/flag-tahiti.png);}
.flag-sov {
		background-image:url(../../img/flags/flag-ussr.png);}
.flag-far {
		background-image:url(../../img/flags/flag-faroe-islands.png);}
}