/*-Strips---UEFA-*/

.strip-26-cl1 { background-image:url(../../img/strips/league-fra/fra_psg_1_2526.png); }
.strip-26-cl2 { background-image:url(../../img/strips/league-eng/eng_arsenal_1_2526.png); }

.strip-25-cl1 { background-image:url(../../img/strips/league-fra/fra_psg_1_2425.png); }
.strip-25-cl2 { background-image:url(../../img/strips/league-ita/ita_inter_4_2425.png); }

.strip-24-cl1 { background-image:url(../../img/strips/league-ger/ger_dortmund_1_2324_e.png); }
.strip-24-cl2 { background-image:url(../../img/strips/league-esp/esp_real_madrid_1_2324.png); }

.strip-23-cl1 { background-image:url(../../img/strips/league-eng/eng_manchester_city_1_2223.png); }
.strip-23-cl2 { background-image:url(../../img/strips/league-ita/ita_internazionale_1_2223.png); }

.strip-22-cl1 { background-image:url(../../img/strips/league-eng/eng_liverpool_1_2122.png); }
.strip-22-cl2 { background-image:url(../../img/strips/league-esp/esp_real_madrid_1_2122.png); }

.strip-21-cl1 { background-image:url(../../img/strips/league-eng/eng_manchester_city_1_2021.png); }
.strip-21-cl2 { background-image:url(../../img/strips/league-eng/eng_chelsea_1_2021.png); }

.strip-20-cl1 { background-image:url(../../img/strips/league-fra/fra_psg_paris_1_1920.png); }
.strip-20-cl2 { background-image:url(../../img/strips/league-ger/ger_bayern_munchen_1_1920.png); }

.strip-19-cl1 { background-image:url(../../img/strips/league-eng/eng_tottenham_1_1819_e.png); }
.strip-19-cl2 { background-image:url(../../img/strips/league-eng/eng_liverpool_1_1819.png); }

.strip-18-cl1 { background-image:url(../../img/strips/league-esp/esp_real_madrid_1_1718.png); }
.strip-18-cl2 { background-image:url(../../img/strips/league-eng/eng_liverpool_1_1718.png); }

.strip-17-cl1 { background-image:url(../../img/strips/league-ita/ita_juventus_1_1617_2.png); }
.strip-17-cl2 { background-image:url(../../img/strips/league-esp/esp_real_madrid_2_1617.png); }

.strip-16-cl1 { background-image:url(../../img/strips/league-esp/esp_real_madrid_1_1516.png); }
.strip-16-cl2 { background-image:url(../../img/strips/league-esp/esp_atletico_madrid_1_1516.png); }

.strip-15-cl1 { background-image:url(../../img/strips/league-ita/ita_juventus_1_1415.png); }
.strip-15-cl2 { background-image:url(../../img/strips/league-esp/esp_barcelona_1_1415.png); }

.strip-14-cl1 { background-image:url(../../img/strips/league-esp/esp_real_1_1314.png); }
.strip-14-cl2 { background-image:url(../../img/strips/league-esp/esp_atl_madrid_1_1314.png); }

.strip-13-cl1 { background-image:url(../../img/strips/league-ger/ger_dortmund_1e_1213.png); }
.strip-13-cl2 { background-image:url(../../img/strips/league-ger/ger_bayern_1_1314.png); }

.strip-12-cl1 { background-image:url(../../img/strips/league-ger/ger_bayern_1_1112.png); }
.strip-12-cl2 { background-image:url(../../img/strips/league-eng/eng_chelsea_1_1112.png); }

.strip-11-cl1 { background-image:url(../../img/strips/league-esp/esp_barcelona_1_1011.png); }
.strip-11-cl2 { background-image:url(../../img/strips/league-eng/eng_mu_2_1011.png); }

.strip-10-cl1 { background-image:url(../../img/strips/league-ger/ger_bayern_1_1011.png); }
.strip-10-cl2 { background-image:url(../../img/strips/league-ita/ita_inter_1_0910_2.png); }

.strip-09-cl1 { background-image:url(../../img/strips/league-esp/esp_barcelona_1_0809.gif); }
.strip-09-cl2 { background-image:url(../../img/strips/league-eng/eng_mu_2_0809_2.png); }

.strip-08-cl1 { background-image:url(../../img/strips/league-eng/eng_mu_1_0708_2.png); }
.strip-08-cl2 { background-image:url(../../img/strips/league-eng/eng_chelsea_1_0809_2.png); }

.strip-07-cl1 { background-image:url(../../img/strips/league-ita/ita_milan_2_0607.gif); }
.strip-07-cl2 { background-image:url(../../img/strips/league-eng/eng_liverpool_1_0608.gif); }

.strip-06-cl1 { background-image:url(../../img/strips/league-esp/esp_barcelona_1_0506.gif); }
.strip-06-cl2 { background-image:url(../../img/strips/league-eng/eng_arsenal_2_0506.gif); }

.strip-05-cl1 { background-image:url(../../img/strips/league-ita/ita_milan_2_0405.gif); }
.strip-05-cl2 { background-image:url(../../img/strips/league-eng/eng_liverpool_1_0406.gif); }

.strip-04-cl1 { background-image:url(../../img/strips/league-fra/fra_monaco_1_0304.gif); }
.strip-04-cl2 { background-image:url(../../img/strips/league-por/por_porto_1_0304.png); }

.strip-03-cl1 { background-image:url(../../img/strips/league-ita/ita_juventus_1e_0203.gif); }
.strip-03-cl2 { background-image:url(../../img/strips/league-ita/ita_milan_2_0203.gif); }

.strip-02-cl1 { background-image:url(../../img/strips/league-ger/ger_leverkusen_1_0102.gif); }
.strip-02-cl2 { background-image:url(../../img/strips/league-esp/esp_real_1_0102.gif); }

.strip-01-cl1 { background-image:url(../../img/strips/league-ger/ger_bayern_1e_0102.gif); }
.strip-01-cl2 { background-image:url(../../img/strips/league-esp/eng_chelsea_1_1617.gif); }


.strip-26-el1 { background-image:url(../../img/strips/league-ger/ger_freiburg_1_2526_e.png); }
.strip-26-el2 { background-image:url(../../img/strips/league-eng/eng_av_1_2526.png); }

.strip-25-el1 { background-image:url(../../img/strips/league-eng/eng_tottenham_1_2425_2.png); }
.strip-25-el2 { background-image:url(../../img/strips/league-eng/eng_man_united_1_2425.png); }

.strip-24-el1 { background-image:url(../../img/strips/league-ita/ita_atalanta_1_2324.png); }
.strip-24-el2 { background-image:url(../../img/strips/league-ger/ger_bayer_leverkusen_2_2324.png); }

.strip-23-el1 { background-image:url(../../img/strips/league-esp/esp_sevilla_1_2223.png); }
.strip-23-el2 { background-image:url(../../img/strips/league-ita/ita_roma_1_2223.png); }

.strip-22-el1 { background-image:url(../../img/strips/league-ger/ger_eintracht_fra_3_2122.png); }
.strip-22-el2 { background-image:url(../../img/strips/league-sco/sco_rangers_1_2122_3.png); }

.strip-21-el1 { background-image:url(../../img/strips/league-esp/esp_villarreal_1_2021.png); }
.strip-21-el2 { background-image:url(../../img/strips/league-eng/eng_manchester_united_1_2021_3.png); }

.strip-20-el1 { background-image:url(../../img/strips/league-esp/esp_sevilla_1_1920.png); }
.strip-20-el2 { background-image:url(../../img/strips/league-ita/ita_internazionale_1_1920_e.png); }

.strip-19-el1 { background-image:url(../../img/strips/league-eng/eng_chelsea_1_1819.png); }
.strip-19-el2 { background-image:url(../../img/strips/league-eng/eng_arsenal_1_1819.png); }

.strip-18-el1 { background-image:url(../../img/strips/league-fra/fra_olympique_marseille_1_1718.png); }
.strip-18-el2 { background-image:url(../../img/strips/league-esp/esp_atletico_madrid_1_1718_2.png); }

.strip-17-el1 { background-image:url(../../img/strips/league-ned/ned_ajax_1_1617.png); }
.strip-17-el2 { background-image:url(../../img/strips/league-eng/eng_man_united_2_1617.png); }

.strip-16-el1 { background-image:url(../../img/strips/league-eng/eng_liverpool_1_1516.png); }
.strip-16-el2 { background-image:url(../../img/strips/league-esp/esp_sevilla_1_1516.png); }

.strip-15-el1 { background-image:url(../../img/strips/league-ukr/ukr_dnipro_1_1415.png); }
.strip-15-el2 { background-image:url(../../img/strips/league-esp/esp_sevilla_2_1415.png); }

.strip-14-el1 { background-image:url(../../img/strips/league-esp/esp_sevilla_1_1314.png); }
.strip-14-el2 { background-image:url(../../img/strips/league-por/por_benfica_1_1314.png); }

.strip-13-el1 { background-image:url(../../img/strips/league-por/por_benfica_1_1213.png); }
.strip-13-el2 { background-image:url(../../img/strips/league-eng/eng_chelsea_1_1213.png); }

.strip-12-el1 { background-image:url(../../img/strips/league-esp/esp_atl_madrid_1_1112.png); }
.strip-12-el2 { background-image:url(../../img/strips/league-esp/esp_ath_bilbao_2_1112.png); }

.strip-11-el1 { background-image:url(../../img/strips/league-por/por_porto_1_1011.png); }
.strip-11-el2 { background-image:url(../../img/strips/league-por/por_braga_1_1011.png); }

.strip-10-el1 { background-image:url(../../img/strips/league-esp/esp_atl_madrid_1_0910.gif); }
.strip-10-el2 { background-image:url(../../img/strips/league-eng/eng_fulham_3_0910.gif); }

.strip-09-el1 { background-image:url(../../img/strips/league-ukr/ukr_shakhtar_1_0809.png); }
.strip-09-el2 { background-image:url(../../img/strips/league-ger/ger_werder_1_0809.gif); }

.strip-08-el1 { background-image:url(../../img/strips/league-rus/rus_zenit_2_08.gif); }
.strip-08-el2 { background-image:url(../../img/strips/league-sco/sco_rangers_1_0708.gif); }

.strip-07-el1 { background-image:url(../../img/strips/league-esp/esp_espanyol_1_0607.gif); }
.strip-07-el2 { background-image:url(../../img/strips/league-esp/esp_sevilla_1e_0607.gif); }

.strip-06-el1 { background-image:url(../../img/strips/league-eng/eng_boro_1_0506.gif); }
.strip-06-el2 { background-image:url(../../img/strips/league-esp/esp_sevilla_1e_0506.gif); }

.strip-05-el1 { background-image:url(../../img/strips/league-por/por_sporting_1e_0405.png); }
.strip-05-el2 { background-image:url(../../img/strips/league-rus/rus_cska_1_05.gif); }

.strip-04-el1 { background-image:url(../../img/strips/league-esp/esp_valencia_1_0304.gif); }
.strip-04-el2 { background-image:url(../../img/strips/league-fra/eng_southampton_3_1617_2.gif); }

.strip-03-el1 { background-image:url(../../img/strips/league-sco/sco_celtic_1_0102.gif); }
.strip-03-el2 { background-image:url(../../img/strips/league-por/por_porto_1_0203.png); }

.strip-02-el1 { background-image:url(../../img/strips/league-ned/ned_feyenoord_1_0102.gif); }
.strip-02-el2 { background-image:url(../../img/strips/league-ger/ger_dortmund_1_0203.gif); }

.strip-01-el1 { background-image:url(../../img/strips/league-eng/eng_liverpool_1_0001.gif); }
.strip-01-el2 { background-image:url(../../img/strips/league-esp/esp_alaves_1_0001.gif); }

