/* Photos - Members of Parliament */



.photo-001 {
	background-image: url(../../img/photos/mp/mp-blackmank.jpg);
}
.photo-002 {
	background-image: url(../../img/photos/mp/mp-mccaigc.jpg);
}
.photo-003 {
	background-image: url(../../img/photos/mp/mp-donaldsonsb.jpg);
}
.photo-004 {
	background-image: url(../../img/photos/mp/mp-grayn.jpg);
}
.photo-005 {
	background-image: url(../../img/photos/mp/mp-weirm.jpg);
}
.photo-006 {
	background-image: url(../../img/photos/mp/mp-oharab.jpg);
}
.photo-007 {
	background-image: url(../../img/photos/mp/mp-wilsonc.jpg);
}
.photo-008 {
	background-image: url(../../img/photos/mp/mp-whitfordp.jpg);
}
.photo-009 {
	background-image: url(../../img/photos/mp/mp-gibsonp.jpg);
}
.photo-010 {
	background-image: url(../../img/photos/mp/mp-whiteforde.jpg);
}
.photo-011 {
	background-image: url(../../img/photos/mp/mp-kerrc.jpg);
}
.photo-012 {
	background-image: url(../../img/photos/mp/mp-monaghanp.jpg);
}
.photo-013 {
	background-image: url(../../img/photos/mp/mp-boswellp.jpg);
}
.photo-014 {
	background-image: url(../../img/photos/mp/mp-mcdonalds.jpg);
}
.photo-015 {
	background-image: url(../../img/photos/mp/mp-arklessr.jpg);
}
.photo-016 {
	background-image: url(../../img/photos/mp/mp-mundelld.jpg);
}
.photo-017 {
	background-image: url(../../img/photos/mp/mp-nicolsonj.jpg);
}
.photo-018 {
	background-image: url(../../img/photos/mp/mp-dochertym.jpg);
}
.photo-019 {
	background-image: url(../../img/photos/mp/mp-hosies.jpg);
}
.photo-020 {
	background-image: url(../../img/photos/mp/mp-lawc.jpg);
}
.photo-021 {
	background-image: url(../../img/photos/mp/mp-chapmand.jpg);
}
.photo-022 {
	background-image: url(../../img/photos/mp/mp-cameronl.jpg);
}
.photo-023 {
	background-image: url(../../img/photos/mp/mp-kerevang.jpg);
}
.photo-024 {
	background-image: url(../../img/photos/mp/mp-sheppardt.jpg);
}
.photo-025 {
	background-image: url(../../img/photos/mp/mp-brockd.jpg);
}
.photo-026 {
	background-image: url(../../img/photos/mp/mp-murrayi.jpg);
}
.photo-027 {
	background-image: url(../../img/photos/mp/mp-cherryj.jpg);
}
.photo-028 {
	background-image: url(../../img/photos/mp/mp-thomsonm.jpg);
}
.photo-029 {
	background-image: url(../../img/photos/mp/mp-mcnallyj.jpg);
}
.photo-030 {
	background-image: url(../../img/photos/mp/mp-gethinss.jpg);
}
.photo-031 {
	background-image: url(../../img/photos/mp/mp-thewlissa.jpg);
}
.photo-032 {
background-image: url(../../img/photos/mp/mp-mcgarryn.jpg);
}
.photo-033 {
background-image: url(../../img/photos/mp/mp-gradyp.jpg);
}
.photo-034 {
background-image: url(../../img/photos/mp/mp-mclaughlina.jpg);
}
.photo-035 {
background-image: url(../../img/photos/mp/mp-monaghanc.jpg);
}
.photo-036 {
background-image: url(../../img/photos/mp/mp-mcdonaldstewart.jpg);
}
.photo-037 {
background-image: url(../../img/photos/mp/mp-stephensc.jpg);
}
.photo-038 {
background-image: url(../../img/photos/mp/mp-grantp.jpg);
}
.photo-039 {
background-image: url(../../img/photos/mp/mp-salmonda.jpg);
}
.photo-040 {
background-image: url(../../img/photos/mp/mp-cowanr.jpg);
}
.photo-041 {
background-image: url(../../img/photos/mp/mp-hendryd.jpg);
}
.photo-042 {
background-image: url(../../img/photos/mp/mp-browna.jpg);
}
.photo-043 {
background-image: url(../../img/photos/mp/mp-mullinr.jpg);
}
.photo-044 {
background-image: url(../../img/photos/mp/mp-crawleya.jpg);
}
.photo-045 {
background-image: url(../../img/photos/mp/mp-daym.jpg);
}
.photo-046 {
background-image: url(../../img/photos/mp/mp-bardellh.jpg);
}
.photo-047 {
background-image: url(../../img/photos/mp/mp-thompsono.jpg);
}
.photo-048 {
background-image: url(../../img/photos/mp/mp-robertsona.jpg);
}
.photo-049 {
background-image: url(../../img/photos/mp/mp-fellowsm.jpg);
}
.photo-050 {
background-image: url(../../img/photos/mp/mp-macneila.jpg);
}
.photo-051 {
background-image: url(../../img/photos/mp/mp-ahmedsheikht.jpg);
}
.photo-052 {
background-image: url(../../img/photos/mp/mp-carmichaela.jpg);
}
.photo-053 {
background-image: url(../../img/photos/mp/mp-newlandsg.jpg);
}
.photo-054 {
background-image: url(../../img/photos/mp/mp-blackm.jpg);
}
.photo-055 {
background-image: url(../../img/photos/mp/mp-wishartp.jpg);
}
.photo-056 {
background-image: url(../../img/photos/mp/mp-oswaldk.jpg);
}
.photo-057 {
background-image: url(../../img/photos/mp/mp-blackfordi.jpg);
}
.photo-058 {
background-image: url(../../img/photos/mp/mp-ferrierm.jpg);
}
.photo-059 {
background-image: url(../../img/photos/mp/mp-patersons.jpg);
}
.photo-060 {
background-image: url(../../img/photos/mp/mp-donaldsonsb.jpg);
}
.photo-061 {
background-image: url(../../img/photos/mp/mp-dochertym.jpg);
}
