/* Photos - Members of Parliament */

.photo-001 {background-image: url(../../img/photos/mp/mp-millsn.jpg);}
.photo-002 {background-image: url(../../img/photos/mp/mp-depierog.jpg);}
.photo-003 {background-image: url(../../img/photos/mp/mp-mannj.jpg);}
.photo-004 {background-image: url(../../img/photos/mp/mp-skinnerd.jpg);}
.photo-005 {background-image: url(../../img/photos/mp/mp-warmanm.jpg);}
.photo-006 {background-image: url(../../img/photos/mp/mp-tredinnickd.jpg);}
.photo-007 {background-image: url(../../img/photos/mp/mp-soubryam.jpg);}
.photo-008 {background-image: url(../../img/photos/mp/mp-argare.jpg);}
.photo-009 {background-image: url(../../img/photos/mp/mp-perkinst.jpg);}
.photo-010 {background-image: url(../../img/photos/mp/mp-pursglovet.jpg);}
.photo-011 {background-image: url(../../img/photos/mp/mp-heatonharrisc.jpg);}
.photo-012 {background-image: url(../../img/photos/mp/mp-sollowaya.jpg);}
.photo-013 {background-image: url(../../img/photos/mp/mp-beckettm.jpg);}
.photo-014 {background-image: url(../../img/photos/mp/mp-lathamp.jpg);}
.photo-015 {background-image: url(../../img/photos/mp/mp-mcloughlinp.jpg);}
.photo-016 {background-image: url(../../img/photos/mp/mp-engeln.jpg);}
.photo-017 {background-image: url(../../img/photos/mp/mp-wheelerh.jpg);}
.photo-018 {background-image: url(../../img/photos/mp/mp-throupm.jpg);}
.photo-019 {background-image: url(../../img/photos/mp/mp-leighe.jpg);}
.photo-020 {background-image: url(../../img/photos/mp/mp-coakerv.jpg);}
.photo-021 {background-image: url(../../img/photos/mp/mp-bolesn.jpg);}
.photo-022 {background-image: url(../../img/photos/mp/mp-garniere.jpg);}
.photo-023 {background-image: url(../../img/photos/mp/mp-binghama.jpg);}
.photo-024 {background-image: url(../../img/photos/mp/mp-hayesj.jpg);}
.photo-025 {background-image: url(../../img/photos/mp/mp-hollobonep.jpg);}
.photo-026 {background-image: url(../../img/photos/mp/mp-vazk.jpg);}
.photo-027 {background-image: url(../../img/photos/mp/mp-ashworthj.jpg);}
.photo-028 {background-image: url(../../img/photos/mp/mp-kendalll.jpg);}
.photo-029 {background-image: url(../../img/photos/mp/mp-bridgena.jpg);}
.photo-030 {background-image: url(../../img/photos/mp/mp-costaa.jpg);}
.photo-031 {background-image: url(../../img/photos/mp/mp-mccartneyk.jpg);}
.photo-032 {background-image: url(../../img/photos/mp/mp-morgann.jpg);}
.photo-033 {background-image: url(../../img/photos/mp/mp-atkinsv.jpg);}
.photo-034 {background-image: url(../../img/photos/mp/mp-mealea.jpg);}
.photo-035 {background-image: url(../../img/photos/mp/mp-jenrickr.jpg);}
.photo-036 {background-image: url(../../img/photos/mp/mp-ellism.jpg);}
.photo-037 {background-image: url(../../img/photos/mp/mp-mackintoshd.jpg);}
.photo-038 {background-image: url(../../img/photos/mp/mp-leadsoma.jpg);}
.photo-039 {background-image: url(../../img/photos/mp/mp-lesliechris.jpg);}
.photo-040 {background-image: url(../../img/photos/mp/mp-alleng.jpg);}
.photo-041 {background-image: url(../../img/photos/mp/mp-greenwoodl.jpg);}
.photo-042 {background-image: url(../../img/photos/mp/mp-clarkek.jpg);}
.photo-043 {background-image: url(../../img/photos/mp/mp-duncana.jpg);}
.photo-044 {background-image: url(../../img/photos/mp/mp-spencerm.jpg);}
.photo-045 {background-image: url(../../img/photos/mp/mp-phillipss.jpg);}
.photo-046 {background-image: url(../../img/photos/mp/mp-bonep.jpg);}

