/* Pie - Members of Parliament */

.pie-001	{background-image: url(../../img/pie/blue/strong/pie-53.svg),
	url(../../img/pie/red/strong/pie-80.svg),
url(../../img/pie/orange/vivid/pie-88.svg),
url(../../img/pie/purple/pie-96.svg),
url(../../img/pie/green/strong/pie-99.svg)
;}
.pie-002	{background-image: url(../../img/pie/red/strong/pie-50.svg),
	url(../../img/pie/blue/strong/pie-72.svg),
url(../../img/pie/purple/pie-94.svg),
url(../../img/pie/green/strong/pie-98.svg),
url(../../img/pie/orange/vivid/pie-99.svg)
;}
.pie-003	{background-image: url(../../img/pie/red/strong/pie-42.svg),
	url(../../img/pie/blue/strong/pie-82.svg),
url(../../img/pie/purple/pie-94.svg),
url(../../img/pie/orange/vivid/pie-97.svg),
url(../../img/pie/green/strong/pie-99.svg)
;}
.pie-004	{background-image: url(../../img/pie/red/strong/pie-67.svg),
	url(../../img/pie/blue/strong/pie-82.svg),
url(../../img/pie/purple/pie-92.svg),
url(../../img/pie/green/strong/pie-96.svg),
url(../../img/pie/orange/vivid/pie-99.svg)
;}
.pie-005	{background-image: url(../../img/pie/red/strong/pie-56.svg),
	url(../../img/pie/blue/strong/pie-83.svg),
url(../../img/pie/purple/pie-97.svg),
url(../../img/pie/orange/vivid/pie-99.svg);
}
.pie-006	{background-image: url(../../img/pie/red/strong/pie-62.svg),
	url(../../img/pie/purple/pie-79.svg),
url(../../img/pie/blue/strong/pie-94.svg),
url(../../img/pie/green/strong/pie-98.svg),
url(../../img/pie/orange/vivid/pie-99.svg);
}
.pie-007	{background-image: url(../../img/pie/blue/strong/pie-44.svg),
	url(../../img/pie/red/strong/pie-80.svg),
url(../../img/pie/purple/pie-95.svg),
url(../../img/pie/orange/vivid/pie-97.svg),
url(../../img/pie/green/strong/pie-99.svg)
;}
.pie-008	{background-image: url(../../img/pie/red/strong/pie-42.svg),
	url(../../img/pie/blue/strong/pie-76.svg),
url(../../img/pie/purple/pie-93.svg),
url(../../img/pie/green/strong/pie-96.svg),
url(../../img/pie/orange/vivid/pie-98.svg)
;}
.pie-009	{background-image: url(../../img/pie/red/strong/pie-43.svg),
	url(../../img/pie/blue/strong/pie-76.svg),
url(../../img/pie/purple/pie-95.svg),
url(../../img/pie/orange/vivid/pie-98.svg),
url(../../img/pie/green/strong/pie-99.svg)
;}
.pie-010	{background-image: url(../../img/pie/red/strong/pie-51.svg),
	url(../../img/pie/purple/pie-75.svg),
url(../../img/pie/blue/strong/pie-95.svg),
url(../../img/pie/green/strong/pie-98.svg),
url(../../img/pie/orange/vivid/pie-99.svg)
;}
.pie-011	{background-image: url(../../img/pie/blue/strong/pie-41.svg),
	url(../../img/pie/red/strong/pie-80.svg),
url(../../img/pie/purple/pie-95.svg),
url(../../img/pie/orange/vivid/pie-99.svg),
url(../../img/pie/grey/strong/pie-99.svg)
;}
.pie-012	{background-image: url(../../img/pie/red/strong/pie-75.svg),
	url(../../img/pie/purple/pie-86.svg),
url(../../img/pie/blue/strong/pie-94.svg),
url(../../img/pie/green/strong/pie-97.svg),
url(../../img/pie/orange/vivid/pie-99.svg)
;}
.pie-013	{background-image: url(../../img/pie/red/strong/pie-38.svg),
	url(../../img/pie/orange/vivid/pie-67.svg),
url(../../img/pie/purple/pie-84.svg),
url(../../img/pie/blue/strong/pie-97.svg),
url(../../img/pie/green/strong/pie-99.svg)
;}
.pie-014	{background-image: url(../../img/pie/blue/strong/pie-42.svg),
	url(../../img/pie/red/strong/pie-83.svg),
url(../../img/pie/purple/pie-95.svg),
url(../../img/pie/green/strong/pie-98.svg),
url(../../img/pie/orange/vivid/pie-99.svg)
;}
.pie-015	{background-image: url(../../img/pie/red/strong/pie-45.svg),
	url(../../img/pie/blue/strong/pie-80.svg),
url(../../img/pie/purple/pie-93.svg),
url(../../img/pie/orange/vivid/pie-97.svg),
url(../../img/pie/green/strong/pie-99.svg)
;}
.pie-016	{background-image: url(../../img/pie/blue/strong/pie-44.svg),
	url(../../img/pie/red/strong/pie-82.svg),
url(../../img/pie/purple/pie-94.svg),
url(../../img/pie/green/strong/pie-97.svg),
url(../../img/pie/orange/vivid/pie-99.svg)
;}
.pie-017	{background-image: url(../../img/pie/blue/strong/pie-43.svg),
	url(../../img/pie/orange/vivid/pie-74.svg),
url(../../img/pie/red/strong/pie-90.svg),
url(../../img/pie/purple/pie-98.svg),
url(../../img/pie/grey/pie-99.svg)
;}
.pie-018	{background-image: url(../../img/pie/red/strong/pie-45.svg),
	url(../../img/pie/blue/strong/pie-81.svg),
url(../../img/pie/purple/pie-95.svg),
url(../../img/pie/orange/vivid/pie-98.svg),
url(../../img/pie/green/strong/pie-99.svg)
;}
.pie-019	{background-image: url(../../img/pie/red/strong/pie-43.svg),
	url(../../img/pie/blue/strong/pie-86.svg),
url(../../img/pie/purple/pie-94.svg),
url(../../img/pie/orange/vivid/pie-99.svg);
}
.pie-020	{background-image: url(../../img/pie/blue/strong/pie-53.svg),
	url(../../img/pie/red/strong/pie-73.svg),
url(../../img/pie/purple/pie-87.svg),
url(../../img/pie/orange/vivid/pie-96.svg),
url(../../img/pie/green/strong/pie-99.svg)
;}
.pie-021	{background-image: url(../../img/pie/red/strong/pie-42.svg),
	url(../../img/pie/blue/strong/pie-78.svg),
url(../../img/pie/purple/pie-94.svg),
url(../../img/pie/orange/vivid/pie-98.svg)
;}
.pie-022	{background-image: url(../../img/pie/blue/strong/pie-45.svg),
	url(../../img/pie/red/strong/pie-83.svg),
url(../../img/pie/purple/pie-93.svg),
url(../../img/pie/orange/vivid/pie-96.svg)
;}
.pie-023	{background-image: url(../../img/pie/red/strong/pie-51.svg),
	url(../../img/pie/blue/strong/pie-75.svg),
url(../../img/pie/purple/pie-94.svg),
url(../../img/pie/green/strong/pie-98.svg)
;}
.pie-024	{background-image: url(../../img/pie/blue/strong/pie-51.svg),
	url(../../img/pie/red/strong/pie-75.svg),
url(../../img/pie/purple/pie-87.svg),
url(../../img/pie/orange/vivid/pie-96.svg),
url(../../img/pie/green/strong/pie-99.svg)
;}
.pie-025	{background-image: url(../../img/pie/red/strong/pie-48.svg),
	url(../../img/pie/blue/strong/pie-82.svg),
url(../../img/pie/purple/pie-94.svg),
url(../../img/pie/orange/vivid/pie-97.svg),
url(../../img/pie/green/strong/pie-99.svg)
;}
.pie-026	{background-image: url(../../img/pie/blue/strong/pie-49.svg),
	url(../../img/pie/red/strong/pie-68.svg),
url(../../img/pie/purple/pie-81.svg),
url(../../img/pie/grey/pie-93.svg),
url(../../img/pie/orange/vivid/pie-97.svg)
;}
.pie-027	{background-image: url(../../img/pie/red/strong/pie-69.svg),
	url(../../img/pie/blue/strong/pie-83.svg),
url(../../img/pie/purple/pie-92.svg),
url(../../img/pie/orange/vivid/pie-97.svg)
;}
.pie-028	{background-image: url(../../img/pie/red/strong/pie-63.svg),
	url(../../img/pie/blue/strong/pie-81.svg),
url(../../img/pie/purple/pie-95.svg),
url(../../img/pie/orange/vivid/pie-97.svg),
url(../../img/pie/green/strong/pie-99.svg)
;}
.pie-029	{background-image: url(../../img/pie/blue/strong/pie-41.svg),
	url(../../img/pie/orange/vivid/pie-67.svg),
url(../../img/pie/red/strong/pie-85.svg),
url(../../img/pie/purple/pie-97.svg),
url(../../img/pie/green/strong/pie-99.svg)
;}
.pie-030	{background-image: url(../../img/pie/red/strong/pie-43.svg),
	url(../../img/pie/purple/pie-75.svg),
url(../../img/pie/blue/strong/pie-94.svg),
url(../../img/pie/orange/vivid/pie-97.svg),
url(../../img/pie/green/strong/pie-99.svg)
;}
.pie-031	{background-image: url(../../img/pie/red/strong/pie-42.svg),
	url(../../img/pie/blue/strong/pie-74.svg),
url(../../img/pie/purple/pie-95.svg),
url(../../img/pie/green/strong/pie-98.svg),
url(../../img/pie/orange/vivid/pie-99.svg)
;}
.pie-032	{background-image: url(../../img/pie/red/strong/pie-78.svg),
	url(../../img/pie/purple/pie-88.svg),
url(../../img/pie/blue/strong/pie-95.svg),
url(../../img/pie/orange/vivid/pie-98.svg)
;}
.pie-033	{background-image: url(../../img/pie/red/strong/pie-49.svg),
	url(../../img/pie/blue/strong/pie-81.svg),
url(../../img/pie/purple/pie-93.svg),
url(../../img/pie/green/strong/pie-96.svg),
url(../../img/pie/orange/vivid/pie-99.svg)
;}
.pie-034	{background-image: url(../../img/pie/red/strong/pie-42.svg),
	url(../../img/pie/blue/strong/pie-81.svg),
url(../../img/pie/purple/pie-91.svg),
url(../../img/pie/green/strong/pie-96.svg),
url(../../img/pie/orange/vivid/pie-99.svg)
;}
.pie-035	{background-image: url(../../img/pie/red/strong/pie-54.svg),
	url(../../img/pie/blue/strong/pie-77.svg),
url(../../img/pie/purple/pie-97.svg),
url(../../img/pie/orange/vivid/pie-99.svg)
;}
.pie-036	{background-image: url(../../img/pie/red/strong/pie-67.svg),
	url(../../img/pie/green/strong/pie-79.svg),
url(../../img/pie/blue/strong/pie-89.svg),
url(../../img/pie/purple/pie-95.svg),
url(../../img/pie/orange/vivid/pie-99.svg)
;}
.pie-037	{background-image: url(../../img/pie/red/strong/pie-81.svg),
	url(../../img/pie/purple/pie-90.svg),
url(../../img/pie/blue/strong/pie-95.svg),
url(../../img/pie/green/strong/pie-98.svg),
url(../../img/pie/orange/vivid/pie-99.svg)
;}
.pie-038	{background-image: url(../../img/pie/red/strong/pie-69.svg),
	url(../../img/pie/blue/strong/pie-79.svg),
url(../../img/pie/purple/pie-87.svg),
url(../../img/pie/orange/vivid/pie-93.svg),
url(../../img/pie/green/strong/pie-98.svg)
;}
.pie-039	{background-image: url(../../img/pie/red/strong/pie-75.svg),
	url(../../img/pie/purple/pie-84.svg),
url(../../img/pie/blue/strong/pie-91.svg),
url(../../img/pie/orange/vivid/pie-96.svg),
url(../../img/pie/green/strong/pie-98.svg)
;}
.pie-040	{background-image: url(../../img/pie/blue/strong/pie-53.svg),
	url(../../img/pie/red/strong/pie-76.svg),
url(../../img/pie/purple/pie-88.svg),
url(../../img/pie/orange/vivid/pie-96.svg)
;}
.pie-041	{background-image: url(../../img/pie/red/strong/pie-52.svg),
	url(../../img/pie/purple/pie-74.svg),
url(../../img/pie/blue/strong/pie-94.svg),
url(../../img/pie/orange/vivid/pie-98.svg)
;}
.pie-042	{background-image: url(../../img/pie/red/strong/pie-61.svg),
	url(../../img/pie/blue/strong/pie-75.svg),
url(../../img/pie/purple/pie-86.svg),
url(../../img/pie/green/strong/pie-95.svg),
url(../../img/pie/orange/vivid/pie-99.svg)
;}
.pie-043	{background-image: url(../../img/pie/red/strong/pie-67.svg),
	url(../../img/pie/green/strong/pie-77.svg),
url(../../img/pie/blue/strong/pie-87.svg),
url(../../img/pie/purple/pie-95.svg),
url(../../img/pie/orange/vivid/pie-99.svg)
;}
.pie-044	{background-image: url(../../img/pie/red/strong/pie-54.svg),
	url(../../img/pie/orange/vivid/pie-78.svg),
url(../../img/pie/blue/strong/pie-88.svg),
url(../../img/pie/green/strong/pie-96.svg),
url(../../img/pie/purple/pie-99.svg)
;}
.pie-045	{background-image: url(../../img/pie/blue/strong/pie-46.svg),
	url(../../img/pie/red/strong/pie-81.svg),
url(../../img/pie/purple/pie-93.svg),
url(../../img/pie/orange/vivid/pie-97.svg),
url(../../img/pie/green/strong/pie-99.svg)
;}
.pie-046	{background-image: url(../../img/pie/red/strong/pie-39.svg),
	url(../../img/pie/blue/strong/pie-65.svg),
url(../../img/pie/purple/pie-84.svg),
url(../../img/pie/orange/vivid/pie-97.svg),
url(../../img/pie/green/strong/pie-99.svg)
;}
.pie-047	{background-image: url(../../img/pie/red/strong/pie-55.svg),
	url(../../img/pie/purple/pie-76.svg),
url(../../img/pie/blue/strong/pie-95.svg),
url(../../img/pie/orange/vivid/pie-99.svg)
;}
.pie-048	{background-image: url(../../img/pie/blue/strong/pie-47.svg),
	url(../../img/pie/red/strong/pie-82.svg),
url(../../img/pie/purple/pie-94.svg),
url(../../img/pie/orange/vivid/pie-97.svg),
url(../../img/pie/green/strong/pie-99.svg)
;}
.pie-049	{background-image: url(../../img/pie/blue/strong/pie-60.svg),
	url(../../img/pie/red/strong/pie-74.svg),
url(../../img/pie/purple/pie-86.svg),
url(../../img/pie/orange/vivid/pie-95.svg),
url(../../img/pie/green/strong/pie-99.svg)
;}
.pie-050	{background-image: url(../../img/pie/red/strong/pie-56.svg),
	url(../../img/pie/blue/strong/pie-76.svg),
url(../../img/pie/purple/pie-91.svg),
url(../../img/pie/green/strong/pie-96.svg),
url(../../img/pie/orange/vivid/pie-99.svg)
;}
.pie-051	{background-image: url(../../img/pie/blue/strong/pie-46.svg),
	url(../../img/pie/red/strong/pie-81.svg),
url(../../img/pie/purple/pie-95.svg),
url(../../img/pie/orange/vivid/pie-99.svg)
;}
.pie-052	{background-image: url(../../img/pie/blue/strong/pie-49.svg),
	url(../../img/pie/red/strong/pie-72.svg),
url(../../img/pie/purple/pie-88.svg),
url(../../img/pie/orange/vivid/pie-93.svg),
url(../../img/pie/green/strong/pie-97.svg)
;}
.pie-053	{background-image: url(../../img/pie/red/strong/pie-46.svg),
	url(../../img/pie/purple/pie-65.svg),
url(../../img/pie/blue/strong/pie-82.svg),
url(../../img/pie/orange/vivid/pie-92.svg),
url(../../img/pie/grey/pie-95.svg),
url(../../img/pie/green/strong/pie-98.svg)
;}
.pie-054	{background-image: url(../../img/pie/red/strong/pie-47.svg),
	url(../../img/pie/blue/strong/pie-82.svg),
url(../../img/pie/purple/pie-96.svg),
url(../../img/pie/green/strong/pie-98.svg),
url(../../img/pie/orange/vivid/pie-99.svg);
}
.pie-055	{background-image: url(../../img/pie/red/strong/pie-57.svg),
	url(../../img/pie/blue/strong/pie-77.svg),
url(../../img/pie/purple/pie-92.svg),
url(../../img/pie/orange/vivid/pie-96.svg),
url(../../img/pie/green/strong/pie-99.svg)
;}
.pie-056	{background-image: url(../../img/pie/red/strong/pie-60.svg),
	url(../../img/pie/blue/strong/pie-76.svg),
url(../../img/pie/purple/pie-90.svg),
url(../../img/pie/orange/vivid/pie-96.svg)
;}
.pie-057	{background-image: url(../../img/pie/red/strong/pie-49.svg),
	url(../../img/pie/blue/strong/pie-69.svg),
url(../../img/pie/purple/pie-87.svg),
url(../../img/pie/green/strong/pie-92.svg),
url(../../img/pie/orange/vivid/pie-96.svg)
;}
.pie-058	{background-image: url(../../img/pie/red/strong/pie-54.svg),
	url(../../img/pie/blue/strong/pie-84.svg),
url(../../img/pie/purple/pie-94.svg),
url(../../img/pie/orange/vivid/pie-98.svg),
url(../../img/pie/green/strong/pie-99.svg)
;}
.pie-059	{background-image: url(../../img/pie/orange/vivid/pie-31.svg),
	url(../../img/pie/blue/strong/pie-59.svg),
url(../../img/pie/red/strong/pie-78.svg),
url(../../img/pie/purple/pie-95.svg),
url(../../img/pie/green/strong/pie-98.svg)
;}
.pie-060	{background-image: url(../../img/pie/red/strong/pie-45.svg),
	url(../../img/pie/blue/strong/pie-74.svg),
url(../../img/pie/purple/pie-93.svg),
url(../../img/pie/green/strong/pie-98.svg)
;}
.pie-061	{background-image: url(../../img/pie/red/strong/pie-50.svg),
	url(../../img/pie/blue/strong/pie-75.svg),
url(../../img/pie/purple/pie-88.svg),
url(../../img/pie/orange/vivid/pie-96.svg),
url(../../img/pie/green/strong/pie-99.svg)
;}
.pie-062	{background-image: url(../../img/pie/red/strong/pie-53.svg),
	url(../../img/pie/blue/strong/pie-81.svg),
url(../../img/pie/purple/pie-92.svg),
url(../../img/pie/green/strong/pie-97.svg),
url(../../img/pie/orange/vivid/pie-99.svg)
;}
.pie-063	{background-image: url(../../img/pie/blue/strong/pie-59.svg),
	url(../../img/pie/red/strong/pie-77.svg),
url(../../img/pie/purple/pie-88.svg),
url(../../img/pie/orange/vivid/pie-97.svg)
;}
.pie-064	{background-image: url(../../img/pie/red/strong/pie-60.svg),
	url(../../img/pie/blue/strong/pie-83.svg),
url(../../img/pie/purple/pie-95.svg),
url(../../img/pie/green/strong/pie-98.svg),
url(../../img/pie/orange/vivid/pie-99.svg)
;}
.pie-065	{background-image: url(../../img/pie/red/strong/pie-48.svg),
	url(../../img/pie/blue/strong/pie-76.svg),
url(../../img/pie/purple/pie-93.svg),
url(../../img/pie/orange/vivid/pie-97.svg),
url(../../img/pie/green/strong/pie-99.svg)
;}
.pie-066	{background-image: url(../../img/pie/blue/strong/pie-44.svg),
	url(../../img/pie/red/strong/pie-83.svg),
url(../../img/pie/purple/pie-91.svg),
url(../../img/pie/orange/vivid/pie-97.svg),
url(../../img/pie/green/strong/pie-99.svg)
;}
.pie-067	{background-image: url(../../img/pie/blue/strong/pie-43.svg),
	url(../../img/pie/red/strong/pie-84.svg),
url(../../img/pie/purple/pie-94.svg),
url(../../img/pie/orange/vivid/pie-97.svg),
url(../../img/pie/green/strong/pie-99.svg)
;}
.pie-068	{background-image: url(../../img/pie/orange/vivid/pie-52.svg),
	url(../../img/pie/blue/strong/pie-85.svg),
url(../../img/pie/purple/pie-91.svg),
url(../../img/pie/red/strong/pie-96.svg),
url(../../img/pie/green/strong/pie-99.svg)
;}
.pie-069	{background-image: url(../../img/pie/red/strong/pie-52.svg),
	url(../../img/pie/blue/strong/pie-73.svg),
url(../../img/pie/purple/pie-93.svg),
url(../../img/pie/green/strong/pie-96.svg),
url(../../img/pie/orange/vivid/pie-99.svg)
;}
.pie-070	{background-image: url(../../img/pie/red/strong/pie-48.svg),
	url(../../img/pie/blue/strong/pie-85.svg),
url(../../img/pie/purple/pie-94.svg),
url(../../img/pie/orange/vivid/pie-98.svg),
url(../../img/pie/green/strong/pie-99.svg)
;}
.pie-071	{background-image: url(../../img/pie/red/strong/pie-45.svg),
	url(../../img/pie/blue/strong/pie-89.svg),
url(../../img/pie/purple/pie-96.svg),
url(../../img/pie/orange/vivid/pie-99.svg),
url(../../img/pie/grey/strong/pie-99.svg)
;}
.pie-072	{background-image: url(../../img/pie/red/strong/pie-42.svg),
	url(../../img/pie/blue/strong/pie-72.svg),
url(../../img/pie/purple/pie-92.svg),
url(../../img/pie/orange/vivid/pie-96.svg),
url(../../img/pie/green/strong/pie-99.svg)
;}
.pie-073	{background-image: url(../../img/pie/red/strong/pie-44.svg),
	url(../../img/pie/blue/strong/pie-74.svg),
url(../../img/pie/purple/pie-92.svg),
url(../../img/pie/green/strong/pie-95.svg),
url(../../img/pie/orange/vivid/pie-98.svg)
;}
.pie-074	{background-image: url(../../img/pie/blue/strong/pie-53.svg),
	url(../../img/pie/red/strong/pie-78.svg),
url(../../img/pie/purple/pie-91.svg),
url(../../img/pie/orange/vivid/pie-96.svg),
url(../../img/pie/green/strong/pie-99.svg)
;}
.pie-075	{background-image: url(../../img/pie/red/strong/pie-50.svg),
	url(../../img/pie/blue/strong/pie-76.svg),
url(../../img/pie/purple/pie-91.svg),
url(../../img/pie/orange/vivid/pie-96.svg),
url(../../img/pie/green/strong/pie-99.svg)
;}


.swing-pie-001 {
	background-image: url(../../img/pie/red/strong/swing-25.svg),
	 url(../../img/pie/blue/strong/swing-50.svg);
}
.swing-pie-002 {
	background-image: url(../../img/pie/red/strong/swing-27.svg),
	 url(../../img/pie/blue/strong/swing-50.svg);
}
.swing-pie-003 {
	background-image: url(../../img/pie/blue/strong/swing-30.svg),
	 url(../../img/pie/red/strong/swing-50.svg);
}
.swing-pie-004 {
	background-image: url(../../img/pie/red/strong/swing-31.svg),
	 url(../../img/pie/blue/strong/swing-50.svg);
}
.swing-pie-005 {
	background-image: url(../../img/pie/red/strong/swing-29.svg),
	 url(../../img/pie/blue/strong/swing-50.svg);
}
.swing-pie-006 {
	background-image: url(../../img/pie/purple/swing-28.svg),
	 url(../../img/pie/red/strong/swing-50.svg);
}
.swing-pie-007 {
	background-image: url(../../img/pie/blue/strong/swing-27.svg),
	 url(../../img/pie/red/strong/swing-50.svg);
}
.swing-pie-008 {
	background-image: url(../../img/pie/red/strong/swing-26.svg),
	 url(../../img/pie/blue/strong/swing-50.svg);
}
.swing-pie-009 {
	background-image: url(../../img/pie/blue/strong/swing-25.svg),
	 url(../../img/pie/red/strong/swing-50.svg);
}
.swing-pie-010 {
	background-image: url(../../img/pie/red/strong/swing-33.svg),
	 url(../../img/pie/purple/swing-50.svg);
}
.swing-pie-011 {
	background-image: url(../../img/pie/blue/strong/swing-25.svg),
	 url(../../img/pie/red/strong/swing-50.svg);
}
.swing-pie-012 {
	background-image: url(../../img/pie/red/strong/swing-27.svg),
	 url(../../img/pie/purple/swing-50.svg);
}
.swing-pie-013 {
	background-image: url(../../img/pie/red/strong/swing-31.svg),
	 url(../../img/pie/orange/vivid/swing-50.svg);
}
.swing-pie-014 {
	background-image: url(../../img/pie/red/strong/swing-27.svg),
	 url(../../img/pie/blue/strong/swing-50.svg);
}
.swing-pie-015 {
	background-image: url(../../img/pie/blue/strong/swing-27.svg),
	 url(../../img/pie/red/strong/swing-50.svg);
}
.swing-pie-016 {
	background-image: url(../../img/pie/red/strong/swing-27.svg),
	 url(../../img/pie/blue/strong/swing-50.svg);
}
.swing-pie-017 {
	background-image: url(../../img/pie/blue/strong/swing-34.svg),
	 url(../../img/pie/orange/vivid/swing-50.svg);
}
.swing-pie-018 {
	background-image: url(../../img/pie/blue/strong/swing-27.svg),
	 url(../../img/pie/red/strong/swing-50.svg);
}
.swing-pie-019 {
	background-image: url(../../img/pie/blue/strong/swing-27.svg),
	 url(../../img/pie/red/strong/swing-50.svg);
}
.swing-pie-020 {
	background-image: url(../../img/pie/red/strong/swing-27.svg),
	 url(../../img/pie/blue/strong/swing-50.svg);
}
.swing-pie-021 {
	background-image: url(../../img/pie/red/strong/swing-26.svg),
	 url(../../img/pie/blue/strong/swing-50.svg);
}
.swing-pie-022 {
	background-image: url(../../img/pie/red/strong/swing-27.svg),
	 url(../../img/pie/blue/strong/swing-50.svg);
}
.swing-pie-023 {
	background-image: url(../../img/pie/blue/strong/swing-26.svg),
	 url(../../img/pie/red/strong/swing-50.svg);
}
.swing-pie-024 {
	background-image: url(../../img/pie/red/strong/swing-26.svg),
	 url(../../img/pie/blue/strong/swing-50.svg);
}
.swing-pie-025 {
	background-image: url(../../img/pie/blue/strong/swing-27.svg),
	 url(../../img/pie/red/strong/swing-50.svg);
}
.swing-pie-026 {
	background-image: url(../../img/pie/blue/strong/swing-26.svg),
	 url(../../img/pie/red/strong/swing-50.svg);
}
.swing-pie-027 {
	background-image: url(../../img/pie/red/strong/swing-31.svg),
	 url(../../img/pie/blue/strong/swing-50.svg);
}
.swing-pie-028 {
	background-image: url(../../img/pie/red/strong/swing-29.svg),
	 url(../../img/pie/blue/strong/swing-50.svg);
}
.swing-pie-029 {
	background-image: url(../../img/pie/blue/strong/swing-40.svg),
	 url(../../img/pie/orange/vivid/swing-50.svg);
}
.swing-pie-030 {
	background-image: url(../../img/pie/purple/swing-38.svg),
	 url(../../img/pie/red/strong/swing-50.svg);
}
.swing-pie-031 {
	background-image: url(../../img/pie/blue/strong/swing-27.svg),
	 url(../../img/pie/red/strong/swing-50.svg);
}
.swing-pie-032 {
	background-image: url(../../img/pie/purple/swing-25.svg),
	 url(../../img/pie/red/strong/swing-50.svg);
}
.swing-pie-033 {
	background-image: url(../../img/pie/blue/strong/swing-29.svg),
	 url(../../img/pie/red/strong/swing-50.svg);
}
.swing-pie-034 {
	background-image: url(../../img/pie/red/strong/swing-27.svg),
	 url(../../img/pie/blue/strong/swing-50.svg);
}
.swing-pie-035 {
	background-image: url(../../img/pie/blue/strong/swing-27.svg),
	 url(../../img/pie/red/strong/swing-50.svg);
}
.swing-pie-036 {
	background-image: url(../../img/pie/green/strong/swing-25.svg),
	 url(../../img/pie/red/strong/swing-50.svg);
}
.swing-pie-037 {
	background-image: url(../../img/pie/purple/swing-27.svg),
	 url(../../img/pie/red/strong/swing-50.svg);
}
.swing-pie-038 {
	background-image: url(../../img/pie/red/strong/swing-32.svg),
	 url(../../img/pie/blue/strong/swing-50.svg);
}
.swing-pie-039 {
	background-image: url(../../img/pie/purple/swing-28.svg),
	 url(../../img/pie/red/strong/swing-50.svg);
}
.swing-pie-040 {
	background-image: url(../../img/pie/blue/strong/swing-27.svg),
	 url(../../img/pie/red/strong/swing-50.svg);
}
.swing-pie-041 {
	background-image: url(../../img/pie/red/strong/swing-25.svg),
	 url(../../img/pie/purple/swing-50.svg);
}
.swing-pie-042 {
	background-image: url(../../img/pie/red/strong/swing-28.svg),
	 url(../../img/pie/blue/strong/swing-50.svg);
}
.swing-pie-043 {
	background-image: url(../../img/pie/red/strong/swing-30.svg),
	 url(../../img/pie/green/strong/swing-50.svg);
}
.swing-pie-044 {
	background-image: url(../../img/pie/red/strong/swing-42.svg),
	 url(../../img/pie/orange/vivid/swing-50.svg);
}
.swing-pie-045 {
	background-image: url(../../img/pie/blue/strong/swing-29.svg),
	 url(../../img/pie/red/strong/swing-50.svg);
}
.swing-pie-046 {
	background-image: url(../../img/pie/red/strong/swing-29.svg),
	 url(../../img/pie/blue/strong/swing-50.svg);
}
.swing-pie-047 {
	background-image: url(../../img/pie/purple/swing-29.svg),
	 url(../../img/pie/red/strong/swing-50.svg);
}
.swing-pie-048 {
	background-image: url(../../img/pie/blue/strong/swing-27.svg),
	 url(../../img/pie/red/strong/swing-50.svg);
}
.swing-pie-049 {
	background-image: url(../../img/pie/blue/strong/swing-27.svg),
	 url(../../img/pie/red/strong/swing-50.svg);
}
.swing-pie-050 {
	background-image: url(../../img/pie/red/strong/swing-30.svg),
	 url(../../img/pie/blue/strong/swing-50.svg);
}
.swing-pie-051 {
	background-image: url(../../img/pie/red/strong/swing-25.svg),
	 url(../../img/pie/blue/strong/swing-50.svg);
}
.swing-pie-052 {
	background-image: url(../../img/pie/red/strong/swing-26.svg),
	 url(../../img/pie/blue/strong/swing-50.svg);
}
.swing-pie-053 {
	background-image: url(../../img/pie/red/strong/swing-27.svg),
	 url(../../img/pie/purple/swing-50.svg);
}
.swing-pie-054 {
	background-image: url(../../img/pie/blue/strong/swing-26.svg),
	 url(../../img/pie/red/strong/swing-50.svg);
}
.swing-pie-055 {
	background-image: url(../../img/pie/red/strong/swing-29.svg),
	 url(../../img/pie/blue/strong/swing-50.svg);
}
.swing-pie-056 {
	background-image: url(../../img/pie/red/strong/swing-29.svg),
	 url(../../img/pie/blue/strong/swing-50.svg);
}
.swing-pie-057 {
	background-image: url(../../img/pie/red/strong/swing-30.svg),
	 url(../../img/pie/blue/strong/swing-50.svg);
}
.swing-pie-058 {
	background-image: url(../../img/pie/red/strong/swing-33.svg),
	 url(../../img/pie/blue/strong/swing-50.svg);
}
.swing-pie-059 {
	background-image: url(../../img/pie/blue/strong/swing-30.svg),
	 url(../../img/pie/orange/vivid/swing-50.svg);
}
.swing-pie-060 {
	background-image: url(../../img/pie/red/strong/swing-30.svg),
	 url(../../img/pie/blue/strong/swing-50.svg);
}
.swing-pie-061 {
	background-image: url(../../img/pie/red/strong/swing-29.svg),
	 url(../../img/pie/blue/strong/swing-50.svg);
}
.swing-pie-062 {
	background-image: url(../../img/pie/red/strong/swing-28.svg),
	 url(../../img/pie/blue/strong/swing-50.svg);
}
.swing-pie-063 {
	background-image: url(../../img/pie/blue/strong/swing-27.svg),
	 url(../../img/pie/red/strong/swing-50.svg);
}
.swing-pie-064 {
	background-image: url(../../img/pie/red/strong/swing-34.svg),
	 url(../../img/pie/blue/strong/swing-50.svg);
}
.swing-pie-065 {
	background-image: url(../../img/pie/red/strong/swing-27.svg),
	 url(../../img/pie/blue/strong/swing-50.svg);
}
.swing-pie-066 {
	background-image: url(../../img/pie/red/strong/swing-26.svg),
	 url(../../img/pie/blue/strong/swing-50.svg);
}
.swing-pie-067 {
	background-image: url(../../img/pie/red/strong/swing-25.svg),
	 url(../../img/pie/blue/strong/swing-50.svg);
}
.swing-pie-068 {
	background-image: url(../../img/pie/blue/strong/swing-28.svg),
	 url(../../img/pie/orange/vivid/swing-50.svg);
}
.swing-pie-069 {
	background-image: url(../../img/pie/red/strong/swing-29.svg),
	 url(../../img/pie/blue/strong/swing-50.svg);
}
.swing-pie-070 {
	background-image: url(../../img/pie/red/strong/swing-30.svg),
	 url(../../img/pie/blue/strong/swing-50.svg);
}
.swing-pie-071 {
	background-image: url(../../img/pie/red/strong/swing-29.svg),
	 url(../../img/pie/blue/strong/swing-50.svg);
}
.swing-pie-072 {
	background-image: url(../../img/pie/blue/strong/swing-25.svg),
	 url(../../img/pie/red/strong/swing-50.svg);
}
.swing-pie-073 {
	background-image: url(../../img/pie/red/strong/swing-27.svg),
	 url(../../img/pie/blue/strong/swing-50.svg);
}
.swing-pie-074 {
	background-image: url(../../img/pie/blue/strong/swing-26.svg),
	 url(../../img/pie/red/strong/swing-50.svg);
}
.swing-pie-075 {
	background-image: url(../../img/pie/red/strong/swing-28.svg),
	 url(../../img/pie/blue/strong/swing-50.svg);
}