/*-Strips---UEFA-*/

.strip-26che1 { background-image:url(/img/strips/league-eng/eng_chelsea_1_2526.png); }
.strip-26ars1 { background-image:url(/img/strips/league-eng/eng_arsenal_1_2526.png); }
.strip-26mnc1 { background-image:url(/img/strips/league-eng/eng_mc_1_2526.png); }

.strip-25cry1 { background-image:url(/img/strips/league-eng/eng_c_palace_1_2425.png); }
.strip-25mnc1 { background-image:url(/img/strips/league-eng/eng_man_city_1_2425.png); }

.strip-25liv1 { background-image:url(/img/strips/league-eng/eng_liverpool_1_2425.png); }
.strip-25new1 { background-image:url(/img/strips/league-eng/eng_newcastle_1_2425.png); }

.strip-24mnc1 { background-image:url(/img/strips/league-eng/eng_man_city_1_2324.png); }
.strip-24mnu2 { background-image:url(/img/strips/league-eng/eng_man_united_1_2324_2.png); }

.strip-24che1 { background-image:url(/img/strips/league-eng/eng_chelsea_1_2324.png); }
.strip-24liv1 { background-image:url(/img/strips/league-eng/eng_liverpool_1_2324_2.png); }

.strip-23mnc1 { background-image:url(/img/strips/league-eng/eng_manchester_city_1_2223.png); }
.strip-23mnu1 { background-image:url(/img/strips/league-eng/eng_man_united_1_2223_4.png); }
.strip-23mnu2 { background-image:url(/img/strips/league-eng/eng_man_united_1_2223_3.png); }
.strip-23new1 { background-image:url(/img/strips/league-eng/eng_newcastle_1_2223.png); }

.strip-22che2 { background-image:url(/img/strips/league-eng/eng_chelsea_2_2122_2.png); }
.strip-22che1 { background-image:url(/img/strips/league-eng/eng_chelsea_1_2122.png); }
.strip-22liv1 { background-image:url(/img/strips/league-eng/eng_liverpool_1_2122.png); }

.strip-21che1 { background-image:url(/img/strips/league-eng/eng_chelsea_1_2021.png); }
.strip-21lei3 { background-image:url(/img/strips/league-eng/eng_leicester_city_3_2021.png); }

.strip-21mnc1 { background-image:url(/img/strips/league-eng/eng_manchester_city_1_2021.png); }
.strip-21tot2 { background-image:url(/img/strips/league-eng/eng_tottenham_2_2021.png); }

.strip-20ars1 { background-image:url(/img/strips/league-eng/eng_arsenal_1_2021.png); }
.strip-20che1 { background-image:url(/img/strips/league-eng/eng_chelsea_1_2021.png); }

.strip-20ast1 { background-image:url(/img/strips/league-eng/eng_aston_villa_1_1920.png); }
.strip-20mnc2 { background-image:url(/img/strips/league-eng/eng_manchester_city_2_1920.png); }

.strip-19mnc2 { background-image:url(/img/strips/league-eng/eng_manchester_city_1_1819_2.png); }
.strip-19wat1 { background-image:url(/img/strips/league-eng/eng_watford_1_1819.png); }
.strip-19che1 { background-image:url(/img/strips/league-eng/eng_chelsea_1_1819.png); }
.strip-19mnc1 { background-image:url(/img/strips/league-eng/eng_manchester_city_1_1819.png); }

.strip-18che1 { background-image:url(/img/strips/league-eng/eng_chelsea_1_1718.png); }
.strip-18mnu1 { background-image:url(/img/strips/league-eng/eng_man_united_1_1718.png); }
.strip-18ars1 { background-image:url(/img/strips/league-eng/eng_arsenal_1_1718.png); }
.strip-18mnc1 { background-image:url(/img/strips/league-eng/eng_man_city_1_1718.png); }

.strip-17ars1 { background-image:url(/img/strips/league-eng/eng_arsenal_1_1617.png); }
.strip-17chl1 { background-image:url(/img/strips/league-eng/eng_chelsea_1_1617.png); }
.strip-17mnu1 { background-image:url(/img/strips/league-eng/eng_man_united_3_1617.png); }

.strip-17spn2 { background-image:url(/img/strips/league-eng/eng_southampton_3_1617_2.png); }

.strip-16crp1 { background-image:url(/img/strips/league-eng/eng_c_palace_1_1516.png); }
.strip-16mnu2 { background-image:url(/img/strips/league-eng/eng_man_united_2_1516.png); }

.strip-16mnc1 { background-image:url(/img/strips/league-eng/eng_man_city_4_1516.png); }

.strip-16liv1 { background-image:url(/img/strips/league-eng/eng_liverpool_1_1516.png); }

.strip-15ars2 { background-image:url(/img/strips/league-eng/eng_arsenal_2_1415.png); }

.strip-15asv1 { background-image:url(/img/strips/league-eng/eng_avilla_1_1415.png); }


.strip-15chl1 { background-image:url(/img/strips/league-eng/eng_chelsea_4_1415.png); }

.strip-15toh1 { background-image:url(/img/strips/league-eng/eng_spurs_1_1415.png); }

.strip-14ars1 { background-image:url(/img/strips/league-eng/eng_arsenal_1_1213.png); }
.strip-14hlc1 { background-image:url(/img/strips/league-eng/eng_hull_1_1314.png); }

.strip-14mnc1 { background-image:url(/img/strips/league-eng/eng_man_city_1_1314.png); }

.strip-14sun1 { background-image:url(/img/strips/league-eng/eng_sunderland_1_1314.png); }

.strip-13mnc1 { background-image:url(/img/strips/league-eng/eng_mc_1_1213.png); }

.strip-13wig2 { background-image:url(/img/strips/league-eng/eng_wigan_2_1213.png); }

.strip-13bdc1 { background-image:url(/img/strips/league-eng/eng_bradford_3_1213.png); }

.strip-13swc1 { background-image:url(/img/strips/league-eng/eng_swansea_1_1213.png); }

.strip-12chl1 { background-image:url(/img/strips/league-eng/eng_chelsea_1_1112.png); }
.strip-12liv1 { background-image:url(/img/strips/league-eng/eng_liverpool_1_1011.png); }

.strip-12cdc1 { background-image:url(/img/strips/league-eng/eng_cardiff_1_1112.png); }

.strip-12liv1 { background-image:url(/img/strips/league-eng/eng_liverpool_1_1213.png); }


.strip-11mnc1 { background-image:url(/img/strips/league-eng/eng_mc_1_1011.png); }
.strip-11stc1 { background-image:url(/img/strips/league-eng/eng_stoke_1_1011.png); }
.strip-11ars1 { background-image:url(/img/strips/league-eng/eng_arsenal_1_1011.gif); }

.strip-11bmc1 { background-image:url(/img/strips/league-eng/eng_birmingham_1_1011.png); }

.strip-10chl1 { background-image:url(/img/strips/league-eng/eng_chelsea_1_1011.png); }

.strip-10por2 { background-image:url(/img/strips/league-eng/eng_portsmouth_2_1011.png); }


.strip-10asv2 { background-image:url(/img/strips/league-eng/eng_avilla_2_0910.gif); }

.strip-10mnu1 { background-image:url(/img/strips/league-eng/eng_mu_1_0910.gif); }


.strip-09chl2 { background-image:url(/img/strips/league-eng/eng_chelsea_3_0809.gif); }
.strip-09eve1 { background-image:url(/img/strips/league-eng/eng_everton_1_0809.gif); }


.strip-09mnu1 { background-image:url(/img/strips/league-eng/eng_mu_1_0708.gif); }

.strip-09toh1 { background-image:url(/img/strips/league-eng/eng_spurs_1_0809.gif); }

.strip-08crc2 { background-image:url(/img/strips/league-eng/eng_cardiff_2_0708.gif); }
.strip-08por1 { background-image:url(/img/strips/league-eng/eng_portsmouth_1_0809.gif); }

.strip-08chl1 { background-image:url(/img/strips/league-eng/eng_chelsea_1_0608.gif); }

.strip-08toh1 { background-image:url(/img/strips/league-eng/eng_spurs_1_0708.gif); }
.strip-07chl1 { background-image:url(/img/strips/league-eng/eng_chelsea_1_0608.gif); }
.strip-07mnu1 { background-image:url(/img/strips/league-eng/eng_mu_1_0607.gif); }
.strip-07ars1 { background-image:url(/img/strips/league-eng/eng_arsenal_1_0608.gif); }

.strip-06liv1 { background-image:url(/img/strips/league-eng/eng_liverpool_1e_0506.gif); }

.strip-06whu2 { background-image:url(/img/strips/league-eng/eng_westham_3_0506.png); }

.strip-06mnu1 { background-image:url(/img/strips/league-eng/eng_mu_1_0406.gif); }

.strip-06wig1 { background-image:url(/img/strips/league-eng/eng_wigan_1_0506.gif); }

.strip-05ars1 { background-image:url(/img/strips/league-eng/eng_arsenal_1_0405.gif); }

.strip-05mnu2 { background-image:url(/img/strips/league-eng/eng_mu_3_0406.png); }


.strip-05liv1 { background-image:url(/img/strips/league-eng/eng_liverpool_1_0406.gif); }

.strip-05chl1 { background-image:url(/img/strips/league-eng/eng_chelsea_1_0305.gif); }

.strip-04mnu1 { background-image:url(/img/strips/league-eng/eng_mu_1_0204.gif); }
.strip-04mil1 { background-image:url(/img/strips/league-eng/eng_millwall_1_0304.gif); }

.strip-04bnw1 { background-image:url(/img/strips/league-eng/eng_bolton_1_0305.gif); }

.strip-04mbh1 { background-image:url(/img/strips/league-eng/eng_boro_1_0304.gif); }

.strip-03ars1 { background-image:url(/img/strips/league-eng/eng_arsenal_1_0204.gif); }
.strip-03shn2 { background-image:url(/img/strips/league-eng/eng_southampton_2_0304.gif); }

.strip-03liv1 { background-image:url(/img/strips/league-eng/eng_liverpool_1_0204.gif); }

.strip-03mnu2 { background-image:url(/img/strips/league-eng/eng_mu_2_0304.gif); }

.strip-02ars1 { background-image:url(/img/strips/league-eng/eng_arsenal_1_0002.gif); }

.strip-02chl1 { background-image:url(/img/strips/league-eng/eng_chelsea_1_0103.gif); }


.strip-02bbr1 { background-image:url(/img/strips/league-eng/eng_blackburn_1_0002.gif); }
.strip-02toh3 { background-image:url(/img/strips/league-eng/eng_spurs_3_0102.gif); }

.strip-01ars1 { background-image:url(/img/strips/league-eng/eng_arsenal_1_0002.gif); }

.strip-01liv1 { background-image:url(/img/strips/league-eng/eng_liverpool_1_0001.gif); }

.strip-01bmc1 { background-image:url(/img/strips/league-eng/eng_birmingham_1_0102.gif); }

.strip-00lec1 { background-image:url(/img/strips/league-eng/eng_leicester_1_0002.gif); }


