/*-Strips---wc26-*/

.strip-alg1 {
background-image:url(url(../../img/strips/international/wc26/alg_26_111.svg));
}
.strip-alg2 {
background-image:url(url(../../img/strips/international/wc26/alg_26_222.svg));
}
.strip-alg3 {
background-image:url(url(../../img/strips/international/wc26/alg_26_211.svg));
}
.strip-arg1 {
background-image:url(url(../../img/strips/international/wc26/arg_26_111.svg));
}
.strip-arg2 {
background-image:url(url(../../img/strips/international/wc26/arg_26_222.svg));
background-image:url(url(../../img/strips/international/wc26/ARG_2_26.png));
}
.strip-arg3 {
background-image:url(url(../../img/strips/international/wc26/arg_26_133.svg));
}
.strip-arg4 {
background-image:url(url(../../img/strips/international/wc26/arg_26_131.svg));
}
.strip-aul1 {
background-image:url(url(../../img/strips/international/wc26/aus_26_111.svg));
background-image:url(url(../../img/strips/international/wc26/AUS_1_26.png));
}
.strip-aul2 {
background-image:url(url(../../img/strips/international/wc26/aus_26_133.svg));
background-image:url(url(../../img/strips/international/wc26/AUS_2_26.png));
}
.strip-aul3 {
background-image:url(url(../../img/strips/international/wc26/aus_26_133.svg));
background-image:url(url(../../img/strips/international/wc26/AUS_1_26_2.png));
}
.strip-aut1 {
background-image:url(url(../../img/strips/international/wc26/aut_26_111.svg));
}
.strip-aut2 {
background-image:url(url(../../img/strips/international/wc26/aut_26_131.svg));
}
.strip-aut3 {
background-image:url(url(../../img/strips/international/wc26/AUT_2_26.png));
}
.strip-aut4 {
background-image:url(url(../../img/strips/international/wc26/AUT_2_26_4.png));
}
.strip-bgm1 {
background-image:url(url(../../img/strips/international/wc26/bgm_26_111.svg));
background-image:url(url(../../img/strips/international/wc26/BEL_1_26.png))
}
.strip-bgm2 {
background-image:url(url(../../img/strips/international/wc26/BEL_2_26.png))
}
.strip-bha1 {
background-image:url(url(../../img/strips/international/wc26/bha_26_111.svg)); 
background-image:url(url(../../img/strips/international/wc26/BIH_1_26.png))
}
.strip-bha2 {
background-image:url(url(../../img/strips/international/wc26/bha_26_222.svg));
background-image:url(url(../../img/strips/international/wc26/BIH_2_26.png));
}
.strip-bra1 {
background-image:url(url(../../img/strips/international/wc26/bra_26_111.svg));
background-image:url(url(../../img/strips/international/wc26/BRA_1_26.png));
}
.strip-bra2 {
background-image:url(url(../../img/strips/international/wc26/bra_26_222.svg));
background-image:url(url(../../img/strips/international/wc26/BRA_2_26.png));
}
.strip-bra3 {
background-image:url(url(../../img/strips/international/wc26/bra_26_131.svg));
}
.strip-can1 {
background-image:url(url(../../img/strips/international/wc26/can_26_111.svg));
background-image:url(url(../../img/strips/international/wc26/CAN_1_26.png))
}
.strip-can2 {
background-image:url(url(../../img/strips/international/wc26/can_26_222.svg));
background-image:url(url(../../img/strips/international/wc26/CAN_2_26.png))
}
.strip-can3 {
background-image:url(url(../../img/strips/international/wc26/can_26_333.svg));
background-image:url(url(../../img/strips/international/wc26/CAN_3_26.png))
}
.strip-cdr1 {
background-image:url(url(../../img/strips/international/wc26/cdr_26_111.svg));
background-image:url(url(../../img/strips/international/wc26/COD_1_26.png));
}
.strip-cdr2 {
background-image:url(url(../../img/strips/international/wc26/cdr_26_222.svg));
background-image:url(url(../../img/strips/international/wc26/COD_2_26.png));
}
.strip-cdr3 {
background-image:url(url(../../img/strips/international/wc26/cdr_26_333.svg));
background-image:url(url(../../img/strips/international/wc26/COD_3_26.png));
}
.strip-civ1 {
background-image:url(url(../../img/strips/international/wc26/civ_26_111.svg));
}
.strip-col1 {
background-image:url(url(../../img/strips/international/wc26/col_26_111.svg));
background-image:url(url(../../img/strips/international/wc26/COL_1_26.png));
}
.strip-col2 {
background-image:url(url(../../img/strips/international/wc26/col_26_222.svg));
background-image:url(url(../../img/strips/international/wc26/COL_2_26.png));
}
.strip-col3 {
background-image:url(url(../../img/strips/international/wc26/col_26_131.svg));
}
.strip-col4 {
background-image:url(url(../../img/strips/international/wc26/col_26_113.svg));
}
.strip-col5 {
background-image:url(url(../../img/strips/international/wc26/COL_1_26_2.png));
}
.strip-cro1 {
background-image:url(url(../../img/strips/international/wc26/cro_26_111.svg));
}
.strip-cro2 {
background-image:url(url(../../img/strips/international/wc26/cro_26_222.svg));
}
.strip-cur1 {
background-image:url(url(../../img/strips/international/wc26/cur_26_111.svg));
background-image:url(url(../../img/strips/international/wc26/CUW_1_26.png));
}
.strip-cur2 {
background-image:url(url(../../img/strips/international/wc26/cur_26_111.svg));
background-image:url(url(../../img/strips/international/wc26/CUW_2_26.png));
}
.strip-cur3 {
background-image:url(url(../../img/strips/international/wc26/cur_26_121.svg));
background-image:url(url(../../img/strips/international/wc26/CUW_1_26_2.png));
}
.strip-cvd1 {
background-image:url(url(../../img/strips/international/wc26/cvd_26_111.svg));
background-image:url(url(../../img/strips/international/wc26/CPV_1_26.png));
}
.strip-cvd2 {
background-image:url(url(../../img/strips/international/wc26/cvd_26_222.svg));
background-image:url(url(../../img/strips/international/wc26/CPV_2_26.png));
}
.strip-cvd3 {
background-image:url(url(../../img/strips/international/wc26/cvd_26_333.svg));
background-image:url(url(../../img/strips/international/wc26/CPV_3_26.png));
}
.strip-cze1 {
background-image:url(url(../../img/strips/international/wc26/cze_26_111.svg));
}
.strip-cze2 {
background-image:url(url(../../img/strips/international/wc26/cze_26_222.svg));
}
.strip-ecu1 {
background-image:url(url(../../img/strips/international/wc26/ecu_26_111.svg));
background-image:url(url(../../img/strips/international/wc26/ECU_1_26.png));
}
.strip-ecu2 {
background-image:url(url(../../img/strips/international/wc26/ecu_26_122.svg));
}
.strip-ecu3 {
background-image:url(url(../../img/strips/international/wc26/ecu_26_222.svg));
}
.strip-ecu4 {
background-image:url(url(../../img/strips/international/wc26/ecu_26_133.svg));
}
.strip-ecu5 {
background-image:url(url(../../img/strips/international/wc26/ECU_1_26_2.png));
}
.strip-egy1 {
background-image:url(url(../../img/strips/international/wc26/egy_26_111.svg));
background-image:url(url(../../img/strips/international/wc26/EGY_1_26.png));
}
.strip-egy2 {
background-image:url(url(../../img/strips/international/wc26/egy_26_212.svg));
background-image:url(url(../../img/strips/international/wc26/EGY_2_26.png));
}
.strip-egy3 {
background-image:url(url(../../img/strips/international/wc26/egy_26_121.svg));
background-image:url(url(../../img/strips/international/wc26/EGY_1_26_2.png));
}
.strip-eng1 {
background-image:url(url(../../img/strips/international/wc26/eng_26_111.svg));
background-image:url(url(../../img/strips/international/wc26/ENG_1_26.png));
}
.strip-eng2 {
background-image:url(url(../../img/strips/international/wc26/eng_26_222.svg));
background-image:url(url(../../img/strips/international/wc26/ENG_2_26.png));
}
.strip-eng3 {
background-image:url(url(../../img/strips/international/wc26/ENG_1_26_2.png));
}
.strip-esp1 {
background-image:url(url(../../img/strips/international/wc26/esp_26_111.svg));
}
.strip-esp2 {
background-image:url(url(../../img/strips/international/wc26/esp_26_222.svg));
}
.strip-esp3 {
background-image:url(url(../../img/strips/international/wc26/esp_26_233.svg));
}
.strip-esp4 {
background-image:url(url(../../img/strips/international/wc26/ESP_2_26.png));
}
.strip-fra1 {
background-image:url(url(../../img/strips/international/wc26/fra_26_111.svg));
background-image:url(url(../../img/strips/international/wc26/FRA_1_26.png));
}
.strip-fra2 {
background-image:url(url(../../img/strips/international/wc26/fra_26_222.svg));
background-image:url(url(../../img/strips/international/wc26/FRA_2_26.png));
}
.strip-fra3 {
background-image:url(url(../../img/strips/international/wc26/fra_26_133.svg));
background-image:url(url(../../img/strips/international/wc26/FRA_1_26_2.png));
}
.strip-ger1 {
background-image:url(url(../../img/strips/international/wc26/ger_26_111.svg));
background-image:url(url(../../img/strips/international/wc26/GER_1_26_2.png));
}
.strip-ger2 {
background-image:url(url(../../img/strips/international/wc26/ger_26_222.svg));
background-image:url(url(../../img/strips/international/wc26/GER_2_26.png));
}
.strip-ger3 {
background-image:url(url(../../img/strips/international/wc26/ger_26_131.svg));
}
.strip-gha1 {
background-image:url(url(../../img/strips/international/wc26/gha_26_111.svg));
background-image:url(url(../../img/strips/international/wc26/GHA_1_26.png));
}
.strip-gha2 {
background-image:url(url(../../img/strips/international/wc26/gha_26_222.svg));
background-image:url(url(../../img/strips/international/wc26/GHA_2_26.png));
}

.strip-hai1 {
background-image:url(url(../../img/strips/international/wc26/hai_26_111.svg));
background-image:url(url(../../img/strips/international/wc26/HAI_1_26.png));
}
.strip-hai2 {
background-image:url(url(../../img/strips/international/wc26/hai_26_222.svg));
background-image:url(url(../../img/strips/international/wc26/HAI_2_26.png));
}
.strip-irn1 {
background-image:url(url(../../img/strips/international/wc26/irn_26_111.svg));
}
.strip-irq1 {
background-image:url(url(../../img/strips/international/wc26/irq_26_111.svg));
background-image:url(url(../../img/strips/international/wc26/IRQ_1_26.png));
}
.strip-irq2 {
background-image:url(url(../../img/strips/international/wc26/irq_26_222.svg));
background-image:url(url(../../img/strips/international/wc26/IRQ_2_26.png));
}
.strip-irq3 {
background-image:url(url(../../img/strips/international/wc26/irq_26_212.svg));
}
.strip-jpn1 {
background-image:url(url(../../img/strips/international/wc26/jpn_26_111.svg));
background-image:url(url(../../img/strips/international/wc26/JPN_1_26.png));
}
.strip-jpn2 {
background-image:url(url(../../img/strips/international/wc26/jpn_26_131.svg));
}
.strip-jpn3 {
background-image:url(url(../../img/strips/international/wc26/JPN_2_26.png));
}
.strip-jpn4 {
background-image:url(url(../../img/strips/international/wc26/JPN_2_26_2.png));
}
.strip-jor1 {
background-image:url(url(../../img/strips/international/wc26/jor_26_111.svg));
}
.strip-jor2 {
background-image:url(url(../../img/strips/international/wc26/jor_26_222.svg));
}
.strip-mex1 {
background-image:url(url(../../img/strips/international/wc26/mex_26_111.svg));
background-image:url(url(../../img/strips/international/wc26/MEX_1_26.png));
}
.strip-mex2 {
background-image:url(url(../../img/strips/international/wc26/mex_26_212.svg));
/*background-image:url(url(../../img/strips/international/wc26/MEX_2_26.png));*/
}
.strip-mex3 {
background-image:url(url(../../img/strips/international/wc26/mex_26_333.svg));
background-image:url(url(../../img/strips/international/wc26/MEX_3_26.png));
}
.strip-mor1 {
background-image:url(url(../../img/strips/international/wc26/mor_26_111.svg));
background-image:url(url(../../img/strips/international/wc26/MAR_1_26.png));
}
.strip-mor2 {
background-image:url(url(../../img/strips/international/wc26/mor_26_222.svg));
background-image:url(url(../../img/strips/international/wc26/MAR_2_26.png));
}
.strip-mor3 {
background-image:url(url(../../img/strips/international/wc26/mor_26_131.svg));
background-image:url(url(../../img/strips/international/wc26/MAR_1_26.png));
}
.strip-ned1 {
background-image:url(url(../../img/strips/international/wc26/ned_26_111.svg));
background-image:url(url(../../img/strips/international/wc26/NED_1_26.png));
}
.strip-ned2 {
background-image:url(url(../../img/strips/international/wc26/ned_26_121.svg));
background-image:url(url(../../img/strips/international/wc26/NED_1_26_2.png));
}
.strip-nzd1 {
background-image:url(url(../../img/strips/international/wc26/nzd_26_111.svg));
}
.strip-nzd2 {
background-image:url(url(../../img/strips/international/wc26/nzd_26_222.svg));
}
.strip-nor1 {
background-image:url(url(../../img/strips/international/wc26/nor_26_111.svg));
background-image:url(url(../../img/strips/international/wc26/NOR_1_26.png));
}
.strip-nor2 {
background-image:url(url(../../img/strips/international/wc26/nor_26_222.svg));
background-image:url(url(../../img/strips/international/wc26/NOR_2_26.png));
}
.strip-nor3 {
background-image:url(url(../../img/strips/international/wc26/nor_26_133.svg));
background-image:url(url(../../img/strips/international/wc26/NOR_1_26_3.png));
}
.strip-nor4 {
background-image:url(url(../../img/strips/international/wc26/NOR_3_26.png));
}
.strip-nor5 {
background-image:url(url(../../img/strips/international/wc26/NOR_1_26_1.png));
}
.strip-nor6 {
background-image:url(url(../../img/strips/international/wc26/NOR_1_26_2.png));
}
.strip-pan1 {
background-image:url(url(../../img/strips/international/wc26/pan_26_111.svg));
background-image:url(url(../../img/strips/international/wc26/PAN_1_26.png));
}
.strip-pan2 {
background-image:url(url(../../img/strips/international/wc26/pan_26_222.svg));
background-image:url(url(../../img/strips/international/wc26/PAN_2_26.png));
}
.strip-pan3 {
background-image:url(url(../../img/strips/international/wc26/pan_26_333.svg));
background-image:url(url(../../img/strips/international/wc26/PAN_3_26.png));
}
.strip-pgy1 {
background-image:url(url(../../img/strips/international/wc26/pgy_26_111.svg));
}
.strip-pgy2 {
background-image:url(url(../../img/strips/international/wc26/pgy_26_222.svg));
background-image:url(url(../../img/strips/international/wc26/PAR_2_26.png));
}
.strip-pgy3 {
background-image:url(url(../../img/strips/international/wc26/pgy_26_133.svg));
}
.strip-pgy4 {
background-image:url(url(../../img/strips/international/wc26/PAR_1_26_3.png));
}
.strip-por1 {
background-image:url(url(../../img/strips/international/wc26/por_26_111.svg));
}
.strip-por2 {
background-image:url(url(../../img/strips/international/wc26/POR_2_26_2.png));
}
.strip-qat1 {
background-image:url(url(../../img/strips/international/wc26/qat_26_111.svg));
}
.strip-qat2 {
background-image:url(url(../../img/strips/international/wc26/qat_26_222.svg));
}
.strip-saf1 {
background-image:url(url(../../img/strips/international/wc26/saf_26_111.svg));
background-image:url(url(../../img/strips/international/wc26/RSA_1_26.png));
}
.strip-saf3 {
background-image:url(url(../../img/strips/international/wc26/saf_26_121.svg));
background-image:url(url(../../img/strips/international/wc26/RSA_1_26_2.png));
}
.strip-sau1 {
background-image:url(url(../../img/strips/international/wc26/sau_26_111.svg));
}
.strip-sau2 {
background-image:url(url(../../img/strips/international/wc26/sau_26_222.svg));
}
.strip-sco1 {
background-image:url(url(../../img/strips/international/wc26/sco_26_111.svg));
background-image:url(url(../../img/strips/international/wc26/SCO_1_25.png));
}
.strip-sco2 {
background-image:url(url(../../img/strips/international/wc26/sco_26_222.svg));
background-image:url(url(../../img/strips/international/wc26/SCO_2_25.png));
}
.strip-sco3 {
background-image:url(url(../../img/strips/international/wc26/sco_26_232.svg));
}
.strip-sen1 {
background-image:url(url(../../img/strips/international/wc26/sen_26_111.svg));
background-image:url(url(../../img/strips/international/wc26/SEN_1_26.png));
}
.strip-sen2 {
background-image:url(url(../../img/strips/international/wc26/sen_26_222.svg));
background-image:url(url(../../img/strips/international/wc26/SEN_2_26.png));
}
.strip-sen3 {
background-image:url(url(../../img/strips/international/wc26/sen_26_121.svg));
background-image:url(url(../../img/strips/international/wc26/SEN_1_26_2.png));
}
.strip-sko1 {
background-image: url(url(../../img/strips/international/wc26/sko_26_111.svg));
background-image:url(url(../../img/strips/international/wc26/KOR_1_26.png))
}
.strip-sko2 {
background-image:url(url(../../img/strips/international/wc26/sko_26_222.svg));
background-image:url(url(../../img/strips/international/wc26/KOR_2_26.png))
}
.strip-swe1 {
background-image:url(url(../../img/strips/international/wc26/swe_26_111.svg));
}
.strip-swe2 {
background-image:url(url(../../img/strips/international/wc26/swe_26_222.svg));
}
.strip-sui1 {
background-image:url(url(../../img/strips/international/wc26/sui_26_111.svg));
background-image:url(url(../../img/strips/international/wc26/SUI_1_26.png))
}
.strip-sui2 {
background-image:url(url(../../img/strips/international/wc26/sui_26_222.svg));
background-image:url(url(../../img/strips/international/wc26/SUI_2_26.png))
}
.strip-tky1 {
background-image:url(url(../../img/strips/international/wc26/tky_26_111.svg));
}
.strip-tky2 {
background-image:url(url(../../img/strips/international/wc26/tky_26_222.svg));
}
.strip-tun1 {
background-image:url(url(../../img/strips/international/wc26/tun_26_111.svg));
}
.strip-tun2 {
background-image:url(url(../../img/strips/international/wc26/tun_26_222.svg));
}
.strip-usa1 {
background-image:url(url(../../img/strips/international/wc26/usa_26_111.svg));
background-image:url(url(../../img/strips/international/wc26/USA_1_26.png));
}
.strip-usa2 {
background-image:url(url(../../img/strips/international/wc26/usa_26_222.svg));
background-image:url(url(../../img/strips/international/wc26/USA_2_26.png));
}
.strip-usa3 {
background-image:url(url(../../img/strips/international/wc26/usa_26_131.svg));
}
.strip-uru1 {
background-image:url(url(../../img/strips/international/wc26/uru_26_111.svg));
background-image:url(url(../../img/strips/international/wc26/URU_1_26.png));
}
.strip-uru2 {
background-image:url(url(../../img/strips/international/wc26/uru_26_222.svg));
background-image:url(url(../../img/strips/international/wc26/URU_2_26.png));
}
.strip-uru3 {
background-image:url(url(../../img/strips/international/wc26/uru_26_133.svg));
background-image:url(url(../../img/strips/international/wc26/URU_1_26_2.png));
}
.strip-uzb1 {
background-image:url(url(../../img/strips/international/wc26/uzb_26_111.svg));
background-image:url(url(../../img/strips/international/wc26/UZB_1_26.png));
}
.strip-uzb2 {
background-image:url(url(../../img/strips/international/wc26/uzb_26_222.svg));
background-image:url(url(../../img/strips/international/wc26/UZB_2_26.png));
}

