/*-Strips---Euro 2016-*/

.strip-alb16a { background-image:url(../../img/strips/international/euro16/strip-e16-alb1.png);}
.strip-alb16b { background-image:url(../../img/strips/international/euro16/strip-e16-alb2.png);}
.strip-alb16c { background-image:url(../../img/strips/international/euro16/strip-e16-alb3.png);}

.strip-aut16a { background-image:url(../../img/strips/international/euro16/strip-e16-aut1.png);}
.strip-aut16b { background-image:url(../../img/strips/international/euro16/strip-e16-aut2.png);}
.strip-aut16c { background-image:url(../../img/strips/international/euro16/strip-e16-aut3.png);}
.strip-aut16d { background-image:url(../../img/strips/international/euro16/strip-e16-aut4.png);}

.strip-bgm16a { background-image:url(../../img/strips/international/euro16/strip-e16-bgm1.png);}
.strip-bgm16b { background-image:url(../../img/strips/international/euro16/strip-e16-bgm2.png);}
.strip-bgm16c { background-image:url(../../img/strips/international/euro16/strip-e16-bgm3.png);}

.strip-cro16a { background-image:url(../../img/strips/international/euro16/strip-e16-cro1.png);}
.strip-cro16b { background-image:url(../../img/strips/international/euro16/strip-e16-cro2.png);}
.strip-cro16c { background-image:url(../../img/strips/international/euro16/strip-e16-cro3.png);}
.strip-cze16a { background-image:url(../../img/strips/international/euro16/strip-e16-cze1.png);}
.strip-cze16b { background-image:url(../../img/strips/international/euro16/strip-e16-cze2.png);}
.strip-eng16a { background-image:url(../../img/strips/international/euro16/strip-e16-eng1.png);}
.strip-eng16b { background-image:url(../../img/strips/international/euro16/strip-e16-eng2.png);}
.strip-fra16a { background-image:url(../../img/strips/international/euro16/strip-e16-fra1.png);}
.strip-fra16b { background-image:url(../../img/strips/international/euro16/strip-e16-fra2.png);}
.strip-fra16c { background-image:url(../../img/strips/international/euro16/strip-e16-fra3.png);}
.strip-fra16d { background-image:url(../../img/strips/international/euro16/strip-e16-fra4.png);}

.strip-ger16a { background-image:url(../../img/strips/international/euro16/strip-e16-ger1.png);}
.strip-ger16b { background-image:url(../../img/strips/international/euro16/strip-e16-ger2.png);}
.strip-hun16a { background-image:url(../../img/strips/international/euro16/strip-e16-hun1.png);}
.strip-hun16b { background-image:url(../../img/strips/international/euro16/strip-e16-hun3.png);}
.strip-hun16c { background-image:url(../../img/strips/international/euro16/strip-e16-hun2.png);}
.strip-hun16d { background-image:url(../../img/strips/international/euro16/strip-e16-hun4.png);}
.strip-hun16e { background-image:url(../../img/strips/international/euro16/strip-e16-hun5.png);}

.strip-ice16a { background-image:url(../../img/strips/international/euro16/strip-e16-ice1.png);}
.strip-ice16b { background-image:url(../../img/strips/international/euro16/strip-e16-ice2.png);}
.strip-ire16a { background-image:url(../../img/strips/international/euro16/strip-e16-ire1.png);}
.strip-ire16b { background-image:url(../../img/strips/international/euro16/strip-e16-ire2.png);}
.strip-ita16a { background-image:url(../../img/strips/international/euro16/strip-e16-ita1.png);}
.strip-ita16b { background-image:url(../../img/strips/international/euro16/strip-e16-ita2.png);}
.strip-ita16c { background-image:url(../../img/strips/international/euro16/strip-e16-ita3.png);}

.strip-nir16a { background-image:url(../../img/strips/international/euro16/strip-e16-nir1.png);}
.strip-nir16b { background-image:url(../../img/strips/international/euro16/strip-e16-nir2.png);}
.strip-pol16a { background-image:url(../../img/strips/international/euro16/strip-e16-pol1.png);}
.strip-pol16b { background-image:url(../../img/strips/international/euro16/strip-e16-pol2.png);}
.strip-pol16c { background-image:url(../../img/strips/international/euro16/strip-e16-pol3.png);}
.strip-pol16d { background-image:url(../../img/strips/international/euro16/strip-e16-pol4.png);}

.strip-por16a { background-image:url(../../img/strips/international/euro16/strip-e16-por1.png);}
.strip-por16b { background-image:url(../../img/strips/international/euro16/strip-e16-por2.png);}
.strip-por16c { background-image:url(../../img/strips/international/euro16/strip-e16-por3.png);}
.strip-rom16a { background-image:url(../../img/strips/international/euro16/strip-e16-rom1.png);}
.strip-rom16b { background-image:url(../../img/strips/international/euro16/strip-e16-rom2.png);}
.strip-rus16a { background-image:url(../../img/strips/international/euro16/strip-e16-rus1.png);}
.strip-rus16b { background-image:url(../../img/strips/international/euro16/strip-e16-rus2.png);}
.strip-rus16c { background-image:url(../../img/strips/international/euro16/strip-e16-rus3.png);}
.strip-rus16d { background-image:url(../../img/strips/international/euro16/strip-e16-rus4.png);}

.strip-spn16a { background-image:url(../../img/strips/international/euro16/strip-e16-spn1.png);}
.strip-spn16b { background-image:url(../../img/strips/international/euro16/strip-e16-spn2.png);}
.strip-svk16a { background-image:url(../../img/strips/international/euro16/strip-e16-svk1.png);}
.strip-svk16b { background-image:url(../../img/strips/international/euro16/strip-e16-svk2.png);}
.strip-swe16a { background-image:url(../../img/strips/international/euro16/strip-e16-swe1.png);}
.strip-swe16b { background-image:url(../../img/strips/international/euro16/strip-e16-swe2.png);}
.strip-swi16a { background-image:url(../../img/strips/international/euro16/strip-e16-swi1.png);}
.strip-swi16b { background-image:url(../../img/strips/international/euro16/strip-e16-swi2.png);}
.strip-swi16c { background-image:url(../../img/strips/international/euro16/strip-e16-swi3.png);}
.strip-swi16d { background-image:url(../../img/strips/international/euro16/strip-e16-swi4.png);}

.strip-tky16a { background-image:url(../../img/strips/international/euro16/strip-e16-tky1.png);}
.strip-tky16b { background-image:url(../../img/strips/international/euro16/strip-e16-tky2.png);}
.strip-tky16c { background-image:url(../../img/strips/international/euro16/strip-e16-tky3.png);}
.strip-tky16d { background-image:url(../../img/strips/international/euro16/strip-e16-tky4.png);}


.strip-ukr16a { background-image:url(../../img/strips/international/euro16/strip-e16-ukr1.png);}
.strip-ukr16b { background-image:url(../../img/strips/international/euro16/strip-e16-ukr2.png);}
.strip-wal16a { background-image:url(../../img/strips/international/euro16/strip-e16-wal1.png);}
.strip-wal16b { background-image:url(../../img/strips/international/euro16/strip-e16-wal2.png);}


						
.bg-football1 {
	background-position: right center;
	background-size: contain;
	    margin: -2.1em auto 0 auto;
}
