/*-Strips---Euro 2020-*/

.strip-aut1 { background-image:url(url(/img/strips/international/euro20/AUT_1_20.png));}
.strip-aut2 { background-image:url(url(/img/strips/international/euro20/AUT_2_21.png));}
.strip-aut3 { background-image:url(url(/img/strips/international/euro20/AUT_2_21_2.png));}
.strip-aut4 { background-image:url(url(/img/strips/international/euro20/AUT_3_21.png));}

.strip-bgm1 { background-image:url(url(/img/strips/international/euro20/BGM_1_20.png));}
.strip-bgm2 { background-image:url(url(/img/strips/international/euro20/BGM_2_20.png));}
.strip-bgm3 { background-image:url(url(/img/strips/international/euro20/BGM_1_20_2.png));}

.strip-cro1 { background-image:url(url(/img/strips/international/euro20/CRO_1_20.png));}
.strip-cro2 { background-image:url(url(/img/strips/international/euro20/CRO_1_20_2.png));}
.strip-cro3 { background-image:url(url(/img/strips/international/euro20/CRO_2_20.png));}
.strip-cro4 { background-image:url(url(/img/strips/international/euro20/CRO_2_20_2.png));}
.strip-cro5 { background-image:url(url(/img/strips/international/euro20/CRO_2_20_3.png));}

.strip-cze1 { background-image:url(url(/img/strips/international/euro20/CZE_1_20.png));}
.strip-cze2 { background-image:url(url(/img/strips/international/euro20/CZE_1_20_3.png));}
.strip-cze3 { background-image:url(url(/img/strips/international/euro20/CZE_1_20_4.png));}
.strip-cze4 { background-image:url(url(/img/strips/international/euro20/CZE_2_21.png));}

.strip-den1 { background-image:url(url(/img/strips/international/euro20/DEN_1_20.png));}
.strip-den2 { background-image:url(url(/img/strips/international/euro20/DEN_2_20.png));}
.strip-den3 { background-image:url(url(/img/strips/international/euro20/DEN_3_20.png));}
.strip-den4 { background-image:url(url(/img/strips/international/euro20/DEN_2_20_2.png));}

.strip-eng1 { background-image:url(url(/img/strips/international/euro20/ENG_1_20.png));}
.strip-eng2 { background-image:url(url(/img/strips/international/euro20/ENG_2_20.png));}
.strip-eng3 { background-image:url(url(/img/strips/international/euro20/ENG_1_20_2.png));}

.strip-esp1 { background-image:url(url(/img/strips/international/euro20/ESP_1_20.png));}
.strip-esp2 { background-image:url(url(/img/strips/international/euro20/ESP_2_20.png));}
.strip-esp3 { background-image:url(url(/img/strips/international/euro20/ESP_1_20_2.png));}

.strip-fin1 { background-image:url(url(/img/strips/international/euro20/FIN_1_20.png));}
.strip-fin2 { background-image:url(url(/img/strips/international/euro20/FIN_2_20.png));}

.strip-fra1 { background-image:url(url(/img/strips/international/euro20/FRA_1_20.png));}
.strip-fra2 { background-image:url(url(/img/strips/international/euro20/FRA_2_20.png));}
.strip-fra3 { background-image:url(url(/img/strips/international/euro20/FRA_1_20_2.png));}
.strip-fra4 { background-image:url(url(/img/strips/international/euro20/FRA_2_20_2.png));}

.strip-ger1 { background-image:url(url(/img/strips/international/euro20/GER_1_20.png));}
.strip-ger2 { background-image:url(url(/img/strips/international/euro20/GER_2_20.png));}
.strip-ger3 { background-image:url(url(/img/strips/international/euro20/GER_1_20_3.png));}
.strip-ger4 { background-image:url(url(/img/strips/international/euro20/GER_2_20_2.png));}

.strip-hun1 { background-image:url(url(/img/strips/international/euro20/HUN_1_20.png));}
.strip-hun2 { background-image:url(url(/img/strips/international/euro20/HUN_2_21.png));}
.strip-hun3 { background-image:url(url(/img/strips/international/euro20/HUN_1_20_2.png));}
.strip-hun4 { background-image:url(url(/img/strips/international/euro20/HUN_2_21_2.png));}
.strip-hun5 { background-image:url(url(/img/strips/international/euro20/HUN_1_20_3.png));}

.strip-ita1 { background-image:url(url(/img/strips/international/euro20/ITA_1_20.png));}
.strip-ita2 { background-image:url(url(/img/strips/international/euro20/ITA_1_20_2.png));}
.strip-ita3 { background-image:url(url(/img/strips/international/euro20/ITA_2_20.png));}
.strip-ita4 { background-image:url(url(/img/strips/international/euro20/ITA_2_20_2.png));}
.strip-ita5 { background-image:url(url(/img/strips/international/euro20/ITA_3_20.png));}
.strip-ita6 { background-image:url(url(/img/strips/international/euro20/ITA_2_21.png));}

.strip-ned1 { background-image:url(url(/img/strips/international/euro20/NED_1_20.png));}
.strip-ned2 { background-image:url(url(/img/strips/international/euro20/NED_2_20.png));}

.strip-nmc1 { background-image:url(url(/img/strips/international/euro20/MKD_1_21.png));}
.strip-nmc2 { background-image:url(url(/img/strips/international/euro20/MKD_2_21.png));}
.strip-nmc3 { background-image:url(url(/img/strips/international/euro20/MKD_2_21.png));}
.strip-nmc4 { background-image:url(url(/img/strips/international/euro20/MKD_1_17.png));}
.strip-nmc5 { background-image:url(url(/img/strips/international/euro20/MKD_2_17.png));}

.strip-pol1 { background-image:url(url(/img/strips/international/euro20/POL_1_20.png));}
.strip-pol2 { background-image:url(url(/img/strips/international/euro20/POL_2_20.png));}
.strip-pol3 { background-image:url(url(/img/strips/international/euro20/POL_2_20_2.png));}

.strip-por1 { background-image:url(url(/img/strips/international/euro20/POR_1_20.png));}
.strip-por2 { background-image:url(url(/img/strips/international/euro20/POR_2_20.png));}
.strip-por3 { background-image:url(url(/img/strips/international/euro20/POR_1_20_2.png));}

.strip-rus1 { background-image:url(url(/img/strips/international/euro20/RUS_1_20.png));}
.strip-rus2 { background-image:url(url(/img/strips/international/euro20/RUS_2_21.png));}
.strip-rus3 { background-image:url(url(/img/strips/international/euro20/RUS_1_20_2.png));}
.strip-rus4 { background-image:url(url(/img/strips/international/euro20/RUS_2_21_2.png));}


.strip-sco1 { background-image:url(url(/img/strips/international/euro20/SCO_1_20.png));}
.strip-sco2 { background-image:url(url(/img/strips/international/euro20/SCO_2_20.png));}
.strip-sco3 { background-image:url(url(/img/strips/international/euro20/SCO_1_20_2.png));}

.strip-svk1 { background-image:url(url(/img/strips/international/euro20/SVK_1_20.png));}
.strip-svk2 { background-image:url(url(/img/strips/international/euro20/SVK_2_20.png));}

.strip-swe1 { background-image:url(url(/img/strips/international/euro20/SWE_1_19.png));}
.strip-swe2 { background-image:url(url(/img/strips/international/euro20/SWE_2_20.png));}
.strip-swe3 { background-image:url(url(/img/strips/international/euro20/SWE_1_19_2.png));}

.strip-sui1 { background-image:url(url(/img/strips/international/euro20/SUI_1_20.png));}
.strip-sui2 { background-image:url(url(/img/strips/international/euro20/SUI_2_21.png));}
.strip-sui3 { background-image:url(url(/img/strips/international/euro20/SUI_1_20_2.png));}
.strip-sui4 { background-image:url(url(/img/strips/international/euro20/SUI_1_20_3.png));}
.strip-sui5 { background-image:url(url(/img/strips/international/euro20/SUI_2_21_2.png));}

.strip-tky1 { background-image:url(url(/img/strips/international/euro20/TKY_1_20.png));}
.strip-tky2 { background-image:url(url(/img/strips/international/euro20/TKY_2_20.png));}

.strip-ukr1 { background-image:url(url(/img/strips/international/euro20/UKR_1_20.png));}
.strip-ukr2 { background-image:url(url(/img/strips/international/euro20/UKR_2_20.png));}

.strip-wal1 { background-image:url(url(/img/strips/international/euro20/WAL_1_20.png));}
.strip-wal2 { background-image:url(url(/img/strips/international/euro20/WAL_2_20.png));}
.strip-wal3 { background-image:url(url(/img/strips/international/euro20/WAL_2_20_2.png));}
					
.bg-football1 {
	background-position: right center;
	background-size: contain;
	    margin: -2.1em auto 0 auto;
}
