/*-Strips---Confederations Cup strips-*/

.strip-ger17a { background-image:url(/img/strips/international/cc17/strip-e16-ger1.png);}
.strip-ger17b { background-image:url(/img/strips/international/cc17/strip-e16-ger2.png);}
.strip-ger17c { background-image:url(/img/strips/international/cc17/strip-e16-ger3.png);}

.strip-chi17a { background-image:url(/img/strips/international/cc17/CHI_chile_national_team_1_16.png);}
.strip-chi17b { background-image:url(/img/strips/international/cc17/CHI_chile_national_team_1_16_2.png);}
.strip-chi17c { background-image:url(/img/strips/international/cc17/CHI_chile_national_team_2_16.png);}

.strip-mex17a { background-image:url(/img/strips/international/cc17/MEX_mexico_national_team_1_16.png);}
.strip-mex17b { background-image:url(/img/strips/international/cc17/MEX_mexico_national_team_2_15.png);}

.strip-por17a { background-image:url(/img/strips/international/cc17/strip-e16-por1.png);}
.strip-por17b { background-image:url(/img/strips/international/cc17/strip-e16-por2.png);}

.strip-bra13a { background-image:url(/img/strips/international/cc13/BRA_brazil_national_team_1_13.png);}
.strip-bra13b { background-image:url(/img/strips/international/cc13/BRA_brazil_national_team_2_13.png);}
.strip-bra13c { background-image:url(/img/strips/international/cc13/BRA_brazil_national_team_3_13.png);}

.strip-esp13a { background-image:url(/img/strips/international/cc13/ESP_spain_national_team_1_13.png);}
.strip-esp13b { background-image:url(/img/strips/international/cc13/ESP_spain_national_team_1_13.png);}

.strip-ita13b { background-image:url(/img/strips/international/euro12/ITA_italy_national_team_2_12_2.png);}

.strip-uru13a { background-image:url(/img/strips/international/cc13/URU_uruguay_national_team_1_13.png);}

.strip-usa09a { background-image:url(/img/strips/international/cc09/USA_national_team_1_08.png);}
.strip-usa09b { background-image:url(/img/strips/international/cc09/USA_national_team_121_08.png);}
.strip-bra09a { background-image:url(/img/strips/international/cc09/BRA_brazil_national_team_1_08.png);}
.strip-esp09a { background-image:url(/img/strips/international/cc09/ESP_spain_national_team_1_09.gif);}
.strip-saf09a { background-image:url(/img/strips/international/cc09/RSA_south_africa_national_team_1_09.gif);}
.strip-bra09b { background-image:url(/img/strips/international/cc09/BRA_brazil_national_team_112_08.png);}
.strip-saf09b { background-image:url(/img/strips/international/cc09/RSA_south_africa_national_team_2_10.gif);}

.strip-arg05a { background-image:url(/img/strips/international/cc05/ARG_argentina_national_team_121_05.png);}
.strip-bra05a { background-image:url(/img/strips/international/cc05/BRA_brazil_national_team_112_05.png);}
.strip-bra05b { background-image:url(/img/strips/international/cc05/BRA_brazil_national_team_1_05.png);}
.strip-ger05a { background-image:url(/img/strips/international/cc05/GER_germany_national_team_1_09.png);}
.strip-ger05b { background-image:url(/img/strips/international/cc05/GER_germany_national_team_2_10.png);}
.strip-mex05a { background-image:url(/img/strips/international/cc05/MEX_mexico_national_team_112_08.png);}


/*-Flags---National-*/

.flag-fra {
		background-image:url(/img/flags/flag-france.png);}
.flag-ger {
		background-image:url(/img/flags/flag-germany.png);}
.flag-ita {
		background-image:url(/img/flags/flag-italy.png);}
.flag-por {
		background-image:url(/img/flags/flag-portugal.png);}
.flag-rus {
		background-image:url(/img/flags/flag-russia.png);}
.flag-spn {
		background-image:url(/img/flags/flag-spain.png);}
.flag-aus {
		background-image:url(/img/flags/flag-australia.png);}
.flag-cam {
		background-image:url(/img/flags/flag-cameroon.png);}
.flag-nzd {
		background-image:url(/img/flags/flag-new-zealand.png);}
.flag-mex {
		background-image:url(/img/flags/flag-mexico.png);}
.flag-chi {
		background-image:url(/img/flags/flag-chile.png);}
				
.bg-football1 {
	background-position: right center;
	background-size: contain;
	    margin: -2.1em auto 0 auto;
}

