/* Photos - Members of Parliament */

.photo-001 {background-image: url(url(../../img/photos/mp/current/mp-millsn.jpg));}
.photo-002 {background-image: url(url(../../img/photos/mp/current/mp-depierog.jpg));}
.photo-003 {background-image: url(url(../../img/photos/mp/current/mp-mannj.jpg));}
.photo-004 {background-image: url(url(../../img/photos/mp/current/mp-skinnerd.jpg));}
.photo-005 {background-image: url(url(../../img/photos/mp/current/mp-warmanm.jpg));}
.photo-006 {background-image: url(url(../../img/photos/mp/current/mp-tredinnickd.jpg));}
.photo-007 {background-image: url(url(../../img/photos/mp/current/mp-soubryam.jpg));}
.photo-008 {background-image: url(url(../../img/photos/mp/current/mp-argare.jpg));}
.photo-009 {background-image: url(url(../../img/photos/mp/current/mp-perkinst.jpg));}
.photo-010 {background-image: url(url(../../img/photos/mp/current/mp-pursglovet.jpg));}
.photo-011 {background-image: url(url(../../img/photos/mp/current/mp-heatonharrisc.jpg));}
.photo-012 {background-image: url(url(../../img/photos/mp/current/mp-sollowaya.jpg));}
.photo-013 {background-image: url(url(../../img/photos/mp/current/mp-beckettm.jpg));}
.photo-014 {background-image: url(url(../../img/photos/mp/current/mp-lathamp.jpg));}
.photo-015 {background-image: url(url(../../img/photos/mp/current/mp-mcloughlinp.jpg));}
.photo-016 {background-image: url(url(../../img/photos/mp/current/mp-engeln.jpg));}
.photo-017 {background-image: url(url(../../img/photos/mp/current/mp-wheelerh.jpg));}
.photo-018 {background-image: url(url(../../img/photos/mp/current/mp-throupm.jpg));}
.photo-019 {background-image: url(url(../../img/photos/mp/current/mp-leighe.jpg));}
.photo-020 {background-image: url(url(../../img/photos/mp/current/mp-coakerv.jpg));}
.photo-021 {background-image: url(url(../../img/photos/mp/current/mp-bolesn.jpg));}
.photo-022 {background-image: url(url(../../img/photos/mp/current/mp-garniere.jpg));}
.photo-023 {background-image: url(url(../../img/photos/mp/current/mp-binghama.jpg));}
.photo-024 {background-image: url(url(../../img/photos/mp/current/mp-hayesj.jpg));}
.photo-025 {background-image: url(url(../../img/photos/mp/current/mp-hollobonep.jpg));}
.photo-026 {background-image: url(url(../../img/photos/mp/current/mp-vazk.jpg));}
.photo-027 {background-image: url(url(../../img/photos/mp/current/mp-ashworthj.jpg));}
.photo-028 {background-image: url(url(../../img/photos/mp/current/mp-kendalll.jpg));}
.photo-029 {background-image: url(url(../../img/photos/mp/current/mp-bridgena.jpg));}
.photo-030 {background-image: url(url(../../img/photos/mp/current/mp-costaa.jpg));}
.photo-031 {background-image: url(url(../../img/photos/mp/current/mp-mccartneyk.jpg));}
.photo-032 {background-image: url(url(../../img/photos/mp/current/mp-morgann.jpg));}
.photo-033 {background-image: url(url(../../img/photos/mp/current/mp-atkinsv.jpg));}
.photo-034 {background-image: url(url(../../img/photos/mp/current/mp-mealea.jpg));}
.photo-035 {background-image: url(url(../../img/photos/mp/current/mp-jenrickr.jpg));}
.photo-036 {background-image: url(url(../../img/photos/mp/current/mp-ellism.jpg));}
.photo-037 {background-image: url(url(../../img/photos/mp/current/mp-mackintoshd.jpg));}
.photo-038 {background-image: url(url(../../img/photos/mp/current/mp-leadsoma.jpg));}
.photo-039 {background-image: url(url(../../img/photos/mp/current/mp-lesliechris.jpg));}
.photo-040 {background-image: url(url(../../img/photos/mp/current/mp-alleng.jpg));}
.photo-041 {background-image: url(url(../../img/photos/mp/current/mp-greenwoodl.jpg));}
.photo-042 {background-image: url(url(../../img/photos/mp/current/mp-clarkek.jpg));}
.photo-043 {background-image: url(url(../../img/photos/mp/current/mp-duncana.jpg));}
.photo-044 {background-image: url(url(../../img/photos/mp/current/mp-spencerm.jpg));}
.photo-045 {background-image: url(url(../../img/photos/mp/current/mp-phillipss.jpg));}
.photo-046 {background-image: url(url(../../img/photos/mp/current/mp-bonep.jpg));}

