/* Photos - Members of Parliament */



.photo-001 {
	background-image: url(url(../../img/photos/mp/current/mp-hodgem.jpg));
}
.photo-002 {
	background-image: url(url(../../img/photos/mp/current/mp-ellisonj.jpg));
}
.photo-003 {
	background-image: url(url(../../img/photos/mp/current/mp-stewartb.jpg));
}
.photo-004 {
	background-image: url(url(../../img/photos/mp/current/mp-hughess.jpg));
}
.photo-005 {
	background-image: url(url(../../img/photos/mp/current/mp-alir.jpg));
}
.photo-006 {
	background-image: url(url(../../img/photos/mp/current/mp-evennettd.jpg));
}
.photo-007 {
	background-image: url(url(../../img/photos/mp/current/mp-teathers.jpg));
}
.photo-008 {
	background-image: url(url(../../img/photos/mp/current/mp-gardinerb.jpg));
}
.photo-009 {
	background-image: url(url(../../img/photos/mp/current/mp-macleodm.jpg));
}
.photo-010 {
	background-image: url(url(../../img/photos/mp/current/mp-neillb.jpg));
}
.photo-011 {
	background-image: url(url(../../img/photos/mp/current/mp-harmanh.jpg));
}
.photo-012 {
	background-image: url(url(../../img/photos/mp/current/mp-braket.jpg));
}
.photo-013 {
	background-image: url(url(../../img/photos/mp/current/mp-handsg.jpg));
}
.photo-014 {
	background-image: url(url(../../img/photos/mp/current/mp-duncansmithi.jpg));
}
.photo-015 {
	background-image: url(url(../../img/photos/mp/current/mp-villierst.jpg));
}
.photo-016 {
	background-image: url(url(../../img/photos/mp/current/mp-fieldm.jpg));
}
.photo-017 {
	background-image: url(url(../../img/photos/mp/past/mp-barwellg.jpg));
}
.photo-018 {
	background-image: url(url(../../img/photos/mp/current/mp-wicksm.jpg));
}
.photo-019 {
	background-image: url(url(../../img/photos/mp/current/mp-ottawayr.jpg));
}
.photo-020 {
	background-image: url(url(../../img/photos/mp/current/mp-cruddasj.jpg));
}
.photo-021 {
	background-image: url(url(../../img/photos/mp/current/mp-jowellt.jpg));
}
.photo-022 {
	background-image: url(url(../../img/photos/mp/current/mp-braya.jpg));
}
.photo-023 {
	background-image: url(url(../../img/photos/mp/current/mp-pounds.jpg));
}
.photo-024 {
	background-image: url(url(../../img/photos/mp/current/mp-sharmav.jpg));
}
.photo-025 {
	background-image: url(url(../../img/photos/mp/current/mp-timmss.jpg));
}
.photo-026 {
	background-image: url(url(../../img/photos/mp/current/mp-lovea.jpg));
}
.photo-027 {
	background-image: url(url(../../img/photos/mp/current/mp-effordc.jpg));
}
.photo-028 {
	background-image: url(url(../../img/photos/mp/current/mp-deboisn.jpg));
}
.photo-029 {
	background-image: url(url(../../img/photos/mp/current/mp-burrowesd.jpg));
}
.photo-030 {
	background-image: url(url(../../img/photos/mp/current/mp-pearcet.jpg));
}
.photo-031 {
	background-image: url(url(../../img/photos/mp/current/mp-keena.jpg));
}
.photo-032 {
background-image: url(url(../../img/photos/mp/current/mp-freerm.jpg));
}
.photo-033 {
background-image: url(url(../../img/photos/mp/current/mp-raynsfordn.jpg));
}
.photo-034 {
background-image: url(url(../../img/photos/mp/current/mp-abbottd.jpg));
}
.photo-035 {
background-image: url(url(../../img/photos/mp/current/mp-hillierm.jpg));
}
.photo-036 {
background-image: url(url(../../img/photos/mp/current/mp-slaughtera.jpg));
}
.photo-037 {
background-image: url(url(../../img/photos/mp/current/mp-jacksong.jpg));
}
.photo-038 {
background-image: url(url(../../img/photos/mp/current/mp-blackmanb.jpg));
}
.photo-039 {
background-image: url(url(../../img/photos/mp/current/mp-thomasg.jpg));
}
.photo-040 {
background-image: url(url(../../img/photos/mp/current/mp-mcdonnellj.jpg));
}
.photo-041 {
background-image: url(url(../../img/photos/mp/current/mp-offordm.jpg));
}
.photo-042 {
background-image: url(url(../../img/photos/mp/current/mp-dobsonf.jpg));
}
.photo-043 {
background-image: url(url(../../img/photos/mp/current/mp-watkinsona.jpg));
}
.photo-044 {
background-image: url(url(../../img/photos/mp/current/mp-featherstonel.jpg));
}
.photo-045 {
background-image: url(url(../../img/photos/mp/current/mp-scottl.jpg));
}
.photo-046 {
background-image: url(url(../../img/photos/mp/current/mp-gapesm.jpg));
}
.photo-047 {
background-image: url(url(../../img/photos/mp/current/mp-corbynj.jpg));
}
.photo-048 {
background-image: url(url(../../img/photos/mp/current/mp-thornberrye.jpg));
}
.photo-049 {
background-image: url(url(../../img/photos/mp/current/mp-rifkindm.jpg));
}
.photo-050 {
background-image: url(url(../../img/photos/mp/current/mp-daveye.jpg));
}
.photo-051 {
background-image: url(url(../../img/photos/mp/current/mp-ruddockj.jpg));
}
.photo-052 {
background-image: url(url(../../img/photos/mp/past/mp-alexanderh.jpg));
}
.photo-053 {
background-image: url(url(../../img/photos/mp/current/mp-dowdj.jpg));
}
.photo-054 {
background-image: url(url(../../img/photos/mp/current/mp-cryerj.jpg));
}
.photo-055 {
background-image: url(url(../../img/photos/mp/current/mp-mcdonaghs.jpg));
}
.photo-056 {
background-image: url(url(../../img/photos/mp/current/mp-brokenshirej.jpg));
}
.photo-057 {
background-image: url(url(../../img/photos/mp/current/mp-johnsonj.jpg));
}
.photo-058 {
background-image: url(url(../../img/photos/mp/current/mp-fitzpatrickj.jpg));
}
.photo-059 {
background-image: url(url(../../img/photos/mp/current/mp-greeningj.jpg));
}
.photo-060 {
background-image: url(url(../../img/photos/mp/current/mp-goldsmithz.jpg));
}
.photo-061 {
background-image: url(url(../../img/photos/mp/current/mp-rosindella.jpg));
}
.photo-062 {
background-image: url(url(../../img/photos/mp/current/mp-hurdn.jpg));
}
.photo-063 {
background-image: url(url(../../img/photos/mp/current/mp-umunnac.jpg));
}
.photo-064 {
background-image: url(url(../../img/photos/mp/current/mp-burstowp.jpg));
}
.photo-065 {
background-image: url(url(../../img/photos/mp/current/mp-khans.jpg));
}
.photo-066 {
background-image: url(url(../../img/photos/mp/current/mp-lammyd.jpg));
}
.photo-067 {
background-image: url(url(../../img/photos/mp/current/mp-cablev.jpg));
}
.photo-068 {
background-image: url(url(../../img/photos/mp/current/mp-randallj.jpg));
}
.photo-069 {
background-image: url(url(../../img/photos/mp/current/mp-hoeyk.jpg));
}
.photo-070 {
background-image: url(url(../../img/photos/mp/current/mp-creasys.jpg));
}
.photo-071 {
background-image: url(url(../../img/photos/mp/current/mp-brownl.jpg));
}
.photo-072 {
background-image: url(url(../../img/photos/mp/current/mp-buckk.jpg));
}
.photo-073 {
background-image: url(url(../../img/photos/mp/current/mp-hammonds.jpg));
}