/* Photos - Members of Parliament */


.photo-001 {background-image: url(url(../../img/photos/mp/current/mp-mortonw.jpg));}
.photo-002 {background-image: url(url(../../img/photos/mp/current/mp-stuartg.jpg));}
.photo-003 {background-image: url(url(../../img/photos/mp/current/mp-dromeyj.jpg));}
.photo-004 {background-image: url(url(../../img/photos/mp/current/mp-godsiffr.jpg));}
.photo-005 {background-image: url(url(../../img/photos/mp/current/mp-byrnel.jpg));}
.photo-006 {background-image: url(url(../../img/photos/mp/current/mp-mahmoods.jpg));}
.photo-007 {background-image: url(url(../../img/photos/mp/current/mp-burdenr.jpg));}
.photo-008 {background-image: url(url(../../img/photos/mp/current/mp-mahmoodk.jpg));}
.photo-009 {background-image: url(url(../../img/photos/mp/current/mp-mccabes.jpg));}
.photo-010 {background-image: url(url(../../img/photos/mp/current/mp-phillipsj.jpg));}
.photo-011 {background-image: url(url(../../img/photos/mp/current/mp-javids.jpg));}
.photo-012 {background-image: url(url(../../img/photos/mp/current/mp-griffithsa.jpg));}
.photo-013 {background-image: url(url(../../img/photos/mp/current/mp-millinga.jpg));}
.photo-014 {background-image: url(url(../../img/photos/mp/mp-fletcherc.jpg));}
.photo-015 {background-image: url(url(../../img/photos/mp/mp-robinsong.jpg));}
.photo-016 {background-image: url(url(../../img/photos/mp/current/mp-cunninghamjim.jpg));}
.photo-017 {background-image: url(url(../../img/photos/mp/current/mp-austini.jpg));}
.photo-018 {background-image: url(url(../../img/photos/mp/current/mp-woodmike.jpg));}
.photo-019 {background-image: url(url(../../img/photos/mp/current/mp-morrisj.jpg));}
.photo-020 {background-image: url(url(../../img/photos/mp/current/mp-normanj.jpg));}
.photo-021 {background-image: url(url(../../img/photos/mp/current/mp-wigginb.jpg));}
.photo-022 {background-image: url(url(../../img/photos/mp/current/mp-wrightjeremy.jpg));}
.photo-023 {background-image: url(url(../../img/photos/mp/current/mp-fabricantm.jpg));}
.photo-024 {background-image: url(url(../../img/photos/mp/current/mp-dunnep.jpg));}
.photo-025 {background-image: url(url(../../img/photos/mp/current/mp-spelmanc.jpg));}
.photo-026 {background-image: url(url(../../img/photos/mp/current/mp-farrellyp.jpg));}
.photo-027 {background-image: url(url(../../img/photos/mp/current/mp-jonesmarcus.jpg));}
.photo-028 {background-image: url(url(../../img/photos/mp/current/mp-lumleyk.jpg));}
.photo-029 {background-image: url(url(../../img/photos/mp/current/mp-pawseym.jpg));}
.photo-030 {background-image: url(url(../../img/photos/mp/current/mp-kawczynskid.jpg));}
.photo-031 {background-image: url(url(../../img/photos/mp/current/mp-patersono.jpg));}
.photo-032 {background-image: url(url(../../img/photos/mp/current/mp-knightj.jpg));}
.photo-033 {background-image: url(url(../../img/photos/mp/current/mp-lefroyj.jpg));}
.photo-034 {background-image: url(url(../../img/photos/mp/current/mp-bradleyk.jpg));}
.photo-035 {background-image: url(url(../../img/photos/mp/current/mp-williamsong.jpg));}
.photo-036 {background-image: url(url(../../img/photos/mp/current/mp-huntt.jpg));}
.photo-037 {background-image: url(url(../../img/photos/mp/current/mp-smeethr.jpg));}
.photo-038 {background-image: url(url(../../img/photos/mp/current/mp-flellor.jpg));}
.photo-039 {background-image: url(url(../../img/photos/mp/current/mp-cashb.jpg));}
.photo-040 {background-image: url(url(../../img/photos/mp/current/mp-jamesm.jpg));}
.photo-041 {background-image: url(url(../../img/photos/mp/current/mp-zahawin.jpg));}
.photo-042 {background-image: url(url(../../img/photos/mp/current/mp-mitchellandrew.jpg));}
.photo-043 {background-image: url(url(../../img/photos/mp/current/mp-pincherc.jpg));}
.photo-044 {background-image: url(url(../../img/photos/mp/current/mp-allanl.jpg));}
.photo-045 {background-image: url(url(../../img/photos/mp/current/mp-winnickd.jpg));}
.photo-046 {background-image: url(url(../../img/photos/mp/current/mp-vazv.jpg));}
.photo-047 {background-image: url(url(../../img/photos/mp/current/mp-spellarj.jpg));}
.photo-048 {background-image: url(url(../../img/photos/mp/current/mp-whitechristopher.jpg));}
.photo-049 {background-image: url(url(../../img/photos/mp/current/mp-traceyc.jpg));}
.photo-050 {background-image: url(url(../../img/photos/mp/current/mp-watsont.jpg));}
.photo-051 {background-image: url(url(../../img/photos/mp/current/mp-baileya.jpg));}
.photo-052 {background-image: url(url(../../img/photos/mp/current/mp-reynoldse.jpg));}
.photo-053 {background-image: url(url(../../img/photos/mp/current/mp-mcfaddenp.jpg));}
.photo-054 {background-image: url(url(../../img/photos/mp/current/mp-marrisr.jpg));}
.photo-055 {background-image: url(url(../../img/photos/mp/current/mp-walkerrobin.jpg));}
.photo-056 {background-image: url(url(../../img/photos/mp/current/mp-huddlestonn.jpg));}
.photo-057 {background-image: url(url(../../img/photos/mp/current/mp-baldwinh.jpg));}
.photo-058 {background-image: url(url(../../img/photos/mp/current/mp-pritchardmark.jpg));}
.photo-059 {background-image: url(url(../../img/photos/mp/current/mp-garnierm.jpg));}