/* Photos - Members of Parliament */


.photo-001 {background-image: url(../../img/photos/mp/current/mp-bradyg.jpg);}
.photo-002 {background-image: url(../../img/photos/mp/current/mp-raynera.jpg);}
.photo-003 {background-image: url(../../img/photos/mp/current/mp-woodcockj.jpg);}
.photo-004 {background-image: url(../../img/photos/mp/current/mp-fieldf.jpg);}
.photo-005 {background-image: url(../../img/photos/mp/current/mp-hollernk.jpg);}
.photo-006 {background-image: url(../../img/photos/mp/current/mp-stringerg.jpg);}
.photo-007 {background-image: url(../../img/photos/mp/current/mp-maynardp.jpg);}
.photo-008 {background-image: url(../../img/photos/mp/current/mp-marsdeng.jpg);}
.photo-009 {background-image: url(../../img/photos/mp/current/mp-crausbyd.jpg);}
.photo-010 {background-image: url(../../img/photos/mp/current/mp-qureshiy.jpg);}
.photo-011 {background-image: url(../../img/photos/mp/current/mp-greenchris.jpg);}
.photo-012 {background-image: url(../../img/photos/mp/current/mp-dowdp.jpg);}
.photo-013 {background-image: url(../../img/photos/mp/current/mp-cooperj.jpg);}
.photo-014 {background-image: url(../../img/photos/mp/current/mp-nuttalld.jpg);}
.photo-015 {background-image: url(../../img/photos/mp/current/mp-lewisi.jpg);}
.photo-016 {background-image: url(../../img/photos/mp/current/mp-stevensonjohn.jpg);}
.photo-017 {background-image: url(../../img/photos/mp/current/mp-robinsonm.jpg);}
.photo-018 {background-image: url(../../img/photos/mp/current/mp-hoylel.jpg);}
.photo-019 {background-image: url(../../img/photos/mp/current/mp-mathesonc.jpg);}
.photo-020 {background-image: url(../../img/photos/mp/current/mp-brucef.jpg);}
.photo-021 {background-image: url(../../img/photos/mp/current/mp-reedj.jpg);}
.photo-022 {background-image: url(../../img/photos/mp/current/mp-timpsone.jpg);}
.photo-023 {background-image: url(../../img/photos/mp/current/mp-gwynnea.jpg);}
.photo-024 {background-image: url(../../img/photos/mp/current/mp-sandbacha.jpg);}
.photo-025 {background-image: url(../../img/photos/mp/current/mp-maddersj.jpg);}
.photo-026 {background-image: url(../../img/photos/mp/current/mp-menziesm.jpg);}
.photo-027 {background-image: url(../../img/photos/mp/current/mp-eaglem.jpg);}
.photo-028 {background-image: url(../../img/photos/mp/current/mp-twiggd.jpg);}
.photo-029 {background-image: url(../../img/photos/mp/current/mp-wraggw.jpg);}
.photo-030 {background-image: url(../../img/photos/mp/current/mp-mcinnesl.jpg);}
.photo-031 {background-image: url(../../img/photos/mp/current/mp-jonesgraham.jpg);}
.photo-032 {background-image: url(../../img/photos/mp/current/mp-howarthg.jpg);}
.photo-033 {background-image: url(../../img/photos/mp/current/mp-cooperr.jpg);}
.photo-034 {background-image: url(../../img/photos/mp/current/mp-smithcat.jpg);}
.photo-035 {background-image: url(../../img/photos/mp/current/mp-burnhama.jpg);}
.photo-036 {background-image: url(../../img/photos/mp/current/mp-ellmanl.jpg);}
.photo-037 {background-image: url(../../img/photos/mp/current/mp-rotherams.jpg);}
.photo-038 {background-image: url(../../img/photos/mp/current/mp-bergerl.jpg);}
.photo-039 {background-image: url(../../img/photos/mp/current/mp-twiggs.jpg);}
.photo-040 {background-image: url(../../img/photos/mp/current/mp-rutleyd.jpg);}
.photo-041 {background-image: url(../../img/photos/mp/current/mp-fovarguey.jpg);}
.photo-042 {background-image: url(../../img/photos/mp/current/mp-powelllucy.jpg);}
.photo-043 {background-image: url(../../img/photos/mp/mp-kaufmang.jpg);}
.photo-044 {background-image: url(../../img/photos/mp/current/mp-smithjeff.jpg);}
.photo-045 {background-image: url(../../img/photos/mp/current/mp-morrisd.jpg);}
.photo-046 {background-image: url(../../img/photos/mp/current/mp-abrahamsd.jpg);}
.photo-047 {background-image: url(../../img/photos/mp/current/mp-meacherm.jpg);}
.photo-048 {background-image: url(../../img/photos/mp/current/mp-stephensonandrew.jpg);}
.photo-049 {background-image: url(../../img/photos/mp/current/mp-stewartr.jpg);}
.photo-050 {background-image: url(../../img/photos/mp/current/mp-hendrickm.jpg);}
.photo-051 {background-image: url(../../img/photos/mp/current/mp-kennedys.jpg);}
.photo-052 {background-image: url(../../img/photos/mp/current/mp-evansn.jpg);}
.photo-053 {background-image: url(../../img/photos/mp/current/mp-danczuks.jpg);}
.photo-054 {background-image: url(../../img/photos/mp/past/mp-berryj.jpg);}
.photo-055 {background-image: url(../../img/photos/mp/current/mp-mcginnc.jpg);}
.photo-056 {background-image: url(../../img/photos/mp/current/mp-rimmerm.jpg);}
.photo-057 {background-image: url(../../img/photos/mp/current/mp-longbaileyr.jpg);}
.photo-058 {background-image: url(../../img/photos/mp/current/mp-estersonb.jpg);}
.photo-059 {background-image: url(../../img/photos/mp/current/mp-pughjohn.jpg);}
.photo-060 {background-image: url(../../img/photos/mp/current/mp-reynoldsj.jpg);}
.photo-061 {background-image: url(../../img/photos/mp/current/mp-coffeya.jpg);}
.photo-062 {background-image: url(../../img/photos/mp/current/mp-greenk.jpg);}
.photo-063 {background-image: url(../../img/photos/mp/current/mp-osborneg.jpg);}
.photo-064 {background-image: url(../../img/photos/mp/current/mp-eaglea.jpg);}
.photo-065 {background-image: url(../../img/photos/mp/current/mp-joneshelen.jpg);}
.photo-066 {background-image: url(../../img/photos/mp/current/mp-mowatd.jpg);}
.photo-067 {background-image: url(../../img/photos/mp/current/mp-evansg.jpg);}
.photo-068 {background-image: url(../../img/photos/mp/current/mp-farront.jpg);}
.photo-069 {background-image: url(../../img/photos/mp/current/mp-nandyl.jpg);}
.photo-070 {background-image: url(../../img/photos/mp/current/mp-mcgoverna.jpg);}
.photo-071 {background-image: url(../../img/photos/mp/current/mp-greenwoodm.jpg);}
.photo-072 {background-image: url(../../img/photos/mp/current/mp-haymans.jpg);}
.photo-073 {background-image: url(../../img/photos/mp/current/mp-keeleyb.jpg);}
.photo-074 {background-image: url(../../img/photos/mp/current/mp-wallaceben.jpg);}
.photo-075 {background-image: url(../../img/photos/mp/current/mp-kanem.jpg);}