/* Photos - Members of Parliament */



.photo-001 {
	background-image: url(url(/img/photos/mp/current/mp-blackmank.jpg));
}
.photo-002 {
	background-image: url(url(/img/photos/mp/current/mp-mccaigc.jpg));
}
.photo-003 {
	background-image: url(url(/img/photos/mp/current/mp-donaldsonsb.jpg));
}
.photo-004 {
	background-image: url(url(/img/photos/mp/current/mp-grayn.jpg));
}
.photo-005 {
	background-image: url(url(/img/photos/mp/current/mp-weirm.jpg));
}
.photo-006 {
	background-image: url(url(/img/photos/mp/current/mp-oharab.jpg));
}
.photo-007 {
	background-image: url(url(/img/photos/mp/current/mp-wilsonc.jpg));
}
.photo-008 {
	background-image: url(url(/img/photos/mp/current/mp-whitfordp.jpg));
}
.photo-009 {
	background-image: url(url(/img/photos/mp/current/mp-gibsonp.jpg));
}
.photo-010 {
	background-image: url(url(/img/photos/mp/current/mp-whiteforde.jpg));
}
.photo-011 {
	background-image: url(url(/img/photos/mp/current/mp-kerrc.jpg));
}
.photo-012 {
	background-image: url(url(/img/photos/mp/current/mp-monaghanp.jpg));
}
.photo-013 {
	background-image: url(url(/img/photos/mp/current/mp-boswellp.jpg));
}
.photo-014 {
	background-image: url(url(/img/photos/mp/current/mp-mcdonalds.jpg));
}
.photo-015 {
	background-image: url(url(/img/photos/mp/current/mp-arklessr.jpg));
}
.photo-016 {
	background-image: url(url(/img/photos/mp/current/mp-mundelld.jpg));
}
.photo-017 {
	background-image: url(url(/img/photos/mp/current/mp-nicolsonj.jpg));
}
.photo-018 {
	background-image: url(url(/img/photos/mp/current/mp-dochertym.jpg));
}
.photo-019 {
	background-image: url(url(/img/photos/mp/current/mp-hosies.jpg));
}
.photo-020 {
	background-image: url(url(/img/photos/mp/current/mp-lawc.jpg));
}
.photo-021 {
	background-image: url(url(/img/photos/mp/current/mp-chapmand.jpg));
}
.photo-022 {
	background-image: url(url(/img/photos/mp/current/mp-cameronl.jpg));
}
.photo-023 {
	background-image: url(url(/img/photos/mp/current/mp-kerevang.jpg));
}
.photo-024 {
	background-image: url(url(/img/photos/mp/current/mp-sheppardt.jpg));
}
.photo-025 {
	background-image: url(url(/img/photos/mp/current/mp-brockd.jpg));
}
.photo-026 {
	background-image: url(url(/img/photos/mp/current/mp-murrayi.jpg));
}
.photo-027 {
	background-image: url(url(/img/photos/mp/current/mp-cherryj.jpg));
}
.photo-028 {
	background-image: url(url(/img/photos/mp/current/mp-thomsonm.jpg));
}
.photo-029 {
	background-image: url(url(/img/photos/mp/current/mp-mcnallyj.jpg));
}
.photo-030 {
	background-image: url(url(/img/photos/mp/current/mp-gethinss.jpg));
}
.photo-031 {
	background-image: url(url(/img/photos/mp/current/mp-thewlissa.jpg));
}
.photo-032 {
background-image: url(url(/img/photos/mp/current/mp-mcgarryn.jpg));
}
.photo-033 {
background-image: url(url(/img/photos/mp/current/mp-gradyp.jpg));
}
.photo-034 {
background-image: url(url(/img/photos/mp/mp-mclaughlina.jpg));
}
.photo-035 {
background-image: url(url(/img/photos/mp/current/mp-monaghanc.jpg));
}
.photo-036 {
background-image: url(url(/img/photos/mp/current/mp-mcdonaldstewart.jpg));
}
.photo-037 {
background-image: url(url(/img/photos/mp/current/mp-stephensc.jpg));
}
.photo-038 {
background-image: url(url(/img/photos/mp/current/mp-grantp.jpg));
}
.photo-039 {
background-image: url(url(/img/photos/mp/current/mp-salmonda.jpg));
}
.photo-040 {
background-image: url(url(/img/photos/mp/current/mp-cowanr.jpg));
}
.photo-041 {
background-image: url(url(/img/photos/mp/current/mp-hendryd.jpg));
}
.photo-042 {
background-image: url(url(/img/photos/mp/mp-browna.jpg));
}
.photo-043 {
background-image: url(url(/img/photos/mp/current/mp-mullinr.jpg));
}
.photo-044 {
background-image: url(url(/img/photos/mp/current/mp-crawleya.jpg));
}
.photo-045 {
background-image: url(url(/img/photos/mp/current/mp-daym.jpg));
}
.photo-046 {
background-image: url(url(/img/photos/mp/current/mp-bardellh.jpg));
}
.photo-047 {
background-image: url(url(/img/photos/mp/current/mp-thompsono.jpg));
}
.photo-048 {
background-image: url(url(/img/photos/mp/current/mp-robertsona.jpg));
}
.photo-049 {
background-image: url(url(/img/photos/mp/current/mp-fellowsm.jpg));
}
.photo-050 {
background-image: url(url(/img/photos/mp/current/mp-macneila.jpg));
}
.photo-051 {
background-image: url(url(/img/photos/mp/current/mp-ahmedsheikht.jpg));
}
.photo-052 {
background-image: url(url(/img/photos/mp/current/mp-carmichaela.jpg));
}
.photo-053 {
background-image: url(url(/img/photos/mp/current/mp-newlandsg.jpg));
}
.photo-054 {
background-image: url(url(/img/photos/mp/current/mp-blackm.jpg));
}
.photo-055 {
background-image: url(url(/img/photos/mp/current/mp-wishartp.jpg));
}
.photo-056 {
background-image: url(url(/img/photos/mp/current/mp-oswaldk.jpg));
}
.photo-057 {
background-image: url(url(/img/photos/mp/current/mp-blackfordi.jpg));
}
.photo-058 {
background-image: url(url(/img/photos/mp/current/mp-ferrierm.jpg));
}
.photo-059 {
background-image: url(url(/img/photos/mp/current/mp-patersons.jpg));
}
.photo-060 {
background-image: url(url(/img/photos/mp/current/mp-donaldsonsb.jpg));
}
.photo-061 {
background-image: url(url(/img/photos/mp/current/mp-dochertym.jpg));
}
