
.pres-usa-48 {
    background-image: url(/img/photos/heads/past/head-trumanh.jpg);
}
.pres-usa-52, .pres-usa-56 {
    background-image: url(/img/photos/heads/past/head-eisenhowerd.jpg);
}
.pres-usa-60 {
    background-image: url(/img/photos/heads/past/head-kennedyj.jpg);
}
.pres-usa-64 {
    background-image: url(/img/photos/heads/past/head-johnsonl.jpg);
}
.pres-usa-68, .pres-usa-72 {
    background-image: url(/img/photos/heads/past/head-nixonr.jpg);
}
.pres-usa-76 {
    background-image: url(/img/photos/heads/past/head-carterj.jpg);
}
.pres-usa-80, .pres-usa-84 {
    background-image: url(/img/photos/heads/past/head-reaganr.jpg);
}
.pres-usa-88 {
    background-image: url(/img/photos/heads/past/head-bushgh.jpg);
        background-size: 115%;
    background-position: center 20%;
}
.pres-usa-92, .pres-usa-96 {
    background-image: url(/img/photos/heads/past/head-clintonb.jpg);
}
.pres-usa-00, .pres-usa-04 {
    background-image: url(/img/photos/heads/past/head-bushgw.jpg);
}
.pres-usa-08, .pres-usa-12 {
    background-image: url(/img/photos/heads/past/head-obamab.jpg);
    background-size: 120%;
    background-position: center 20%;
}
.pres-usa-16 {
        background-image: url(/img/photos/heads/past/head-trumpd.jpg);
}
.pres-usa-20 {
        background-image: url(/img/photos/heads/bidenj.jpg);
}
.picture-subject-xs {
    background-size: cover;
}