
.monarch-51 {
	background-image: url(/img/monarchs/mon-charles3.png);
}
.monarch-50 {
	background-image: url(/img/monarchs/mon-elizabeth2.jpg);
}
.monarch-49 {
	background-image: url(/img/monarchs/mon-george6.jpg);
}
.monarch-48 {
	background-image: url(/img/monarchs/mon-edward8.jpg);
}
.monarch-47 {
	background-image: url(/img/monarchs/mon-george5.jpg);
}
.monarch-46 {
	background-image: url(/img/monarchs/mon-edward7.jpg);
}
.monarch-45 {
	background-image: url(/img/monarchs/mon-victoria.jpg);
}
.monarch-44 {
	background-image: url(/img/monarchs/mon-william4.jpg);
}
.monarch-43 {
	background-image: url(/img/monarchs/mon-george4.jpg);
}
.monarch-42 {
	background-image: url(/img/monarchs/mon-george3.jpg);
}
.monarch-41 {
	background-image: url(/img/monarchs/mon-george2.jpg);
}
.monarch-40 {
	background-image: url(/img/monarchs/mon-george1.jpg);
}
.monarch-39 {
	background-image: url(/img/monarchs/mon-anne.jpg);
}
.monarch-38 {
	background-image: url(/img/monarchs/mon-william3.jpg);
}
.monarch-37 {
	background-image: url(/img/monarchs/mon-mary2.jpg);
}
.monarch-36 {
	background-image: url(/img/monarchs/mon-james2.jpg);
}
.monarch-35 {
	background-image: url(/img/monarchs/mon-charles2.jpg);
}


.lordp-01 {
	background-image: url(/img/monarchs/lordp-cromwello.jpg);
}
.lordp-02 {
	background-image: url(/img/monarchs/lordp-cromwellr.jpg);
}


.monarch-34 {
	background-image: url(/img/monarchs/mon-charles1.jpg);
}
.monarch-33 {
	background-image: url(/img/monarchs/mon-james1.jpg);
}
.monarch-32 {
	background-image: url(/img/monarchs/mon-elizabeth1.jpg);
}
.monarch-31 {
	background-image: url(/img/monarchs/mon-mary1.jpg);
}
.monarch-30 {
	background-image: url(/img/monarchs/mon-jane.jpg);
}
.monarch-29 {
	background-image: url(/img/monarchs/mon-edward6.jpg);
}
.monarch-28 {
	background-image: url(/img/monarchs/mon-henry8.jpg);
}



.monarch-27 {
	background-image: url(/img/monarchs/mon-henry7.jpg);
}
.monarch-26 {
	background-image: url(/img/monarchs/mon-richard3.jpg);
}
.monarch-25 {
	background-image: url(/img/monarchs/mon-edward5.jpg);
}
.monarch-24 {
	background-image: url(/img/monarchs/mon-edward4.jpg);
}
.monarch-23 {
	background-image: url(/img/monarchs/mon-henry6.jpg);
}
.monarch-22 {
	background-image: url(/img/monarchs/mon-henry5.jpg);
}
.monarch-21 {
	background-image: url(/img/monarchs/mon-henry4.jpg);
}
.monarch-20 {
	background-image: url(/img/monarchs/mon-richard2.jpg);
}
.monarch-19 {
	background-image: url(/img/monarchs/mon-edward3.jpg);
}
.monarch-18 {
	background-image: url(/img/monarchs/mon-edward2.jpg);
}
.monarch-17 {
	background-image: url(/img/monarchs/mon-edward1.jpg);
}
.monarch-16 {
	background-image: url(/img/monarchs/mon-henry3.jpg);
}
.monarch-15 {
	background-image: url(/img/monarchs/mon-john.jpg);
}
.monarch-14 {
	background-image: url(/img/monarchs/mon-richard1.jpg);
}
.monarch-13 {
	background-image: url(/img/monarchs/mon-henry2.jpg);
}
.monarch-12 {
	background-image: url(/img/monarchs/mon-stephen.jpg);
}
.monarch-11 {
	background-image: url(/img/monarchs/mon-matilda.jpg);
}
.monarch-10 {
	background-image: url(/img/monarchs/mon-henry1.jpg);
}
.monarch-09 {
	background-image: url(/img/monarchs/mon-william2.jpg);
}
.monarch-08 {
	background-image: url(/img/monarchs/mon-william1.jpg);
}

.monarch-07 {
	background-image: url(/img/monarchs/mon-edgar.jpg);
}

.monarch-06 {
	background-image: url(/img/monarchs/mon-harold2.jpg);
}

.monarch-05 {
	background-image: url(/img/monarchs/mon-edward1.jpg);
}

.monarch-04b {
	background-image: url(/img/monarchs/mon-harthacnut.jpg);
}

.monarch-04a {
	background-image: url(/img/monarchs/mon-harold1.jpg);
}

.monarch-04 {
	background-image: url(/img/monarchs/mon-cnut.jpg);
}

.monarch-03 {
	background-image: url(/img/monarchs/mon-edmund.jpg);
}

.monarch-02 {
	background-image: url(/img/monarchs/mon-ethelred.jpg);
}

.monarch-01 {
	background-image: url(/img/monarchs/mon-wessex.jpg);
}


.monarch-s11 {
	background-image: url(/img/monarchs/mon-scomary.jpg);
}
.monarch-s10 {
	background-image: url(/img/monarchs/mon-scojames5.jpg);
}
.monarch-s09 {
	background-image: url(/img/monarchs/mon-scojames4.jpg);
}
.monarch-s08 {
	background-image: url(/img/monarchs/mon-scojames3.jpg);
}
.monarch-s07 {
	background-image: url(/img/monarchs/mon-scojames2.jpg);
}
.monarch-s06 {
	background-image: url(/img/monarchs/mon-scojames1.jpg);
}
.monarch-s05 {
	background-image: url(/img/monarchs/mon-scorobert3.jpg);
}
.monarch-s04 {
	background-image: url(/img/monarchs/mon-scorobert2.jpg);
}
.monarch-s03 {
	background-image: url(/img/monarchs/mon-scoedwardb.jpg);
}
.monarch-s02 {
	background-image: url(/img/monarchs/mon-scodavid2.jpg);
}
.monarch-s01 {
	background-image: url(/img/monarchs/mon-scorobert1.jpg);
}
