/* Photos - Nation leaders */

.leader-001 {
	background-image: url(/img/photos/heads/ghania.jpg);
}
.leader-002 {
	background-image: url(/img/photos/heads/ramae.jpg);
}
.leader-003 {
	background-image: url(/img/photos/heads/tebbounea.jpg);
}
.leader-004 {
	background-image: url(/img/photos/heads/zamorax.jpg);
}
.leader-005 {
	background-image: url(/img/photos/heads/lourencoj.jpg);
}
.leader-006 {
	background-image: url(/img/photos/heads/browneg.jpg);
}
.leader-007 {
	background-image: url(/img/photos/heads/fernandeza.jpg);
}
.leader-008 {
	background-image: url(/img/photos/heads/pashinyann.jpg);
}
.leader-009 {
	background-image: url(/img/photos/heads/morrisons.jpg);
}
.leader-010 {
	background-image: url(/img/photos/heads/kurzs.jpg);
}
.leader-011 {
	background-image: url(/img/photos/heads/aliyevi.jpg);
}
.leader-012 {
	background-image: url(/img/photos/heads/christiep.jpg);
}
.leader-013 {
	background-image: url(/img/photos/heads/binisah.jpg);
}
.leader-014 {
	background-image: url(/img/photos/heads/hasinaw.jpg);
}
.leader-015 {
	background-image: url(/img/photos/heads/mottleym.jpg);
}
.leader-016 {
	background-image: url(/img/photos/heads/lukashenkoa.jpg);
}
.leader-017 {
	background-image: url(/img/photos/heads/decrooa.jpg);
}
.leader-018 {
	background-image: url(/img/photos/heads/bricenoj.jpg);
}
.leader-019 {
	background-image: url(/img/photos/heads/talonp.jpg);
}
.leader-020 {
	background-image: url(/img/photos/heads/tsheringl.jpg);
}
.leader-021 {
	background-image: url(/img/photos/heads/arcel.jpg);
}
.leader-022 {
	background-image: url(/img/photos/heads/dodikm.jpg);
}
.leader-023 {
	background-image: url(/img/photos/heads/masisim.jpg);
}
.leader-024 {
	background-image: url(/img/photos/heads/dasilval.png);
}
.leader-025 {
	background-image: url(/img/photos/heads/bolkiahh.jpg);
}
.leader-026 {
	background-image: url(/img/photos/heads/borisovb.jpg);
}
.leader-027 {
	background-image: url(/img/photos/heads/kaborer.jpg);
}
.leader-028 {
	background-image: url(/img/photos/heads/ndayishimiyee.jpg);
}
.leader-029 {
	background-image: url(/img/photos/heads/senh.jpg);
}
.leader-030 {
	background-image: url(/img/photos/heads/biyap.jpg);
}
.leader-031 {
	background-image: url(/img/photos/heads/trudeauj.jpg);
}
.leader-032 {
background-image: url(/img/photos/heads/fonsecaj.jpg);
}
.leader-033 {
background-image: url(/img/photos/heads/touaderafa.jpg);
}
.leader-034 {
background-image: url(/img/photos/heads/debyi.jpg);
}
.leader-035 {
background-image: url(/img/photos/heads/pineras.jpg);
}
.leader-036 {
background-image: url(/img/photos/heads/jinpingx.jpg);
}
.leader-037 {
background-image: url(/img/photos/heads/marquezid.jpg);
}
.leader-038 {
background-image: url(/img/photos/heads/assoumania.jpg);
}
.leader-039 {
background-image: url(/img/photos/heads/nguessod.jpg);
}
.leader-040 {
background-image: url(/img/photos/heads/tshisekedif.jpg);
}
.leader-041 {
background-image: url(/img/photos/heads/alvaradoc.jpg);
}
.leader-042 {
background-image: url(/img/photos/heads/plenkovica.jpg);
}
.leader-043 {
background-image: url(/img/photos/heads/castror.jpg);
}
.leader-044 {
background-image: url(/img/photos/heads/anastasiadesn.jpg);
}
.leader-045 {
background-image: url(/img/photos/heads/babisa.jpg);
}
.leader-046 {
background-image: url(/img/photos/heads/frederiksenm.jpg);
}
.leader-047 {
background-image: url(/img/photos/heads/guellehi.jpg);
}
.leader-048 {
background-image: url(/img/photos/heads/skerritr.jpeg);
}
.leader-049 {
background-image: url(/img/photos/heads/abinaderl.jpg);
}
.leader-050 {
background-image: url(/img/photos/heads/guterresf.jpg);
}
.leader-051 {
background-image: url(/img/photos/heads/morenol.jpg);
background-size: 120%;
}
.leader-052 {
background-image: url(/img/photos/heads/elsisia.jpg);
}
.leader-053 {
background-image: url(/img/photos/heads/bukelen.jpg);
}
.leader-054 {
background-image: url(/img/photos/heads/mbasogot.jpg);
}
.leader-055 {
background-image: url(/img/photos/heads/afwerkii.jpg);
}
.leader-056 {
background-image: url(/img/photos/heads/ratasj.jpg);
}
.leader-057 {
background-image: url(/img/photos/heads/alia.jpg);
}
.leader-058 {
background-image: url(/img/photos/heads/bainimaramaf.jpg);
}
.leader-059 {
background-image: url(/img/photos/heads/marins.jpg);
}
.leader-060 {
background-image: url(/img/photos/heads/macrone.jpg);
}
.leader-061 {
background-image: url(/img/photos/heads/bongoondimbaa.jpg);
}
.leader-062 {
background-image: url(/img/photos/heads/barrowa.jpg);
}
.leader-063 {
background-image: url(/img/photos/heads/gakhariag.jpg);
}
.leader-064 {
background-image: url(/img/photos/heads/merkela.jpg);
}
.leader-065 {
background-image: url(/img/photos/heads/akufoaddon.jpg);
}
.leader-066 {
background-image: url(/img/photos/heads/mitsotakisk.jpg);
}
.leader-067 {
background-image: url(/img/photos/heads/mitchellk.jpg);
}
.leader-068 {
background-image: url(/img/photos/heads/giammatteia.jpg);
}
.leader-069 {
background-image: url(/img/photos/heads/condea.jpg);
}
.leader-070 {
background-image: url(/img/photos/heads/embalou.jpg);
}
.leader-071 {
background-image: url(/img/photos/heads/alii.jpg);
}
.leader-072 {
background-image: url(/img/photos/heads/moisej.jpg);
}
.leader-073 {
background-image: url(/img/photos/heads/hernandezjo.jpg);
}
.leader-074 {
	background-image: url(/img/photos/heads/orbanv.jpg);
}
.leader-075 {
	background-image: url(/img/photos/heads/jakobsdottirk.jpg);
}
.leader-076 {
	background-image: url(/img/photos/heads/modin.jpg);
}
.leader-077 {
	background-image: url(/img/photos/heads/widodoj.jpg);
}
.leader-078 {
	background-image: url(/img/photos/heads/khameneia.jpg);
}
.leader-079 {
	background-image: url(/img/photos/heads/alkadhimim.jpg);
}
.leader-080 {
	background-image: url(/img/photos/heads/martinm.jpg);
}
.leader-081 {
	background-image: url(/img/photos/heads/netanyahub.jpg);
}
.leader-082 {
	background-image: url(/img/photos/heads/conteg.jpg);
}
.leader-083 {
	background-image: url(/img/photos/heads/ouattaraa.jpg);
}
.leader-084 {
	background-image: url(/img/photos/heads/holnessa.jpg);
}
.leader-085 {
	background-image: url(/img/photos/heads/sugay.jpg);
}
.leader-086 {
	background-image: url(/img/photos/heads/binalhusseina.jpg);
}
.leader-087 {
	background-image: url(/img/photos/heads/nazarbayevn.jpg);
}
.leader-088 {
	background-image: url(/img/photos/heads/kenyattau.jpg);
}
.leader-089 {
	background-image: url(/img/photos/heads/mamaut.jpg);
}
.leader-090 {
	background-image: url(/img/photos/heads/jongunk.jpg);
}
.leader-091 {
	background-image: url(/img/photos/heads/jaeinm.jpg);
}
.leader-092 {
	background-image: url(/img/photos/heads/hotia.jpg);
}
.leader-093 {
	background-image: url(/img/photos/heads/alahmadaljaberalsabahs.jpg);
}
.leader-094 {
	background-image: url(/img/photos/heads/abylgazievm.jpg);
}
.leader-095 {
	background-image: url(/img/photos/heads/vorachithb.jpg);
}
.leader-096 {
	background-image: url(/img/photos/heads/karinsa.jpg);
}
.leader-097 {
	background-image: url(/img/photos/heads/diabh.jpg);
}
.leader-098 {
	background-image: url(/img/photos/heads/majorom.jpg);
}
.leader-099 {
	background-image: url(/img/photos/heads/weahg.jpg);
}
.leader-100 {
	background-image: url(/img/photos/heads/alsarrajf.jpg);
}
.leader-101 {
	background-image: url(/img/photos/heads/alois.jpg);
}
.leader-102 {
	background-image: url(/img/photos/heads/nausedag.jpg);
}
.leader-103 {
	background-image: url(/img/photos/heads/bettelx.jpg);
}
.leader-104 {
	background-image: url(/img/photos/heads/zaevz.jpg);
}
.leader-105 {
	background-image: url(/img/photos/heads/rajoelinaa.jpg);
}
.leader-106 {
	background-image: url(/img/photos/heads/chakweral.jpg);
}
.leader-107 {
	background-image: url(/img/photos/heads/yassinm.jpg);
}
.leader-108 {
	background-image: url(/img/photos/heads/solihi.jpg);
}
.leader-109 {
	background-image: url(/img/photos/heads/keitai.jpg);
}
.leader-110 {
	background-image: url(/img/photos/heads/abelar.jpg);
}
.leader-111 {
	background-image: url(/img/photos/heads/heineh.jpg);
}
.leader-112 {
	background-image: url(/img/photos/heads/ghazouanim.jpg);
}
.leader-113 {
	background-image: url(/img/photos/heads/jugnauthp.jpg);
}
.leader-114 {
	background-image: url(/img/photos/heads/obradora.jpg);
}
.leader-115 {
	background-image: url(/img/photos/heads/panuelod.jpg);
}
.leader-116 {
	background-image: url(/img/photos/heads/chicui.jpg);
}
.leader-117 {
	background-image: url(/img/photos/heads/grimaldi2a.jpg);
}
.leader-118 {
	background-image: url(/img/photos/heads/battulgak.jpg);
}
.leader-119 {
	background-image: url(/img/photos/heads/markovicd.jpg);
}
.leader-120 {
	background-image: url(/img/photos/heads/mohammed6.jpg);
}
.leader-121 {
	background-image: url(/img/photos/heads/nyusif.jpg);
}
.leader-122 {
	background-image: url(/img/photos/heads/sansuukyia.jpg);
}
.leader-123 {
	background-image: url(/img/photos/heads/geingobh.jpg);
}
.leader-124 {
	background-image: url(/img/photos/heads/aingimeal.jpg);
}
.leader-125 {
	background-image: url(/img/photos/heads/olik.jpg);
}
.leader-126 {
	background-image: url(/img/photos/heads/ruttem.jpg);
}
.leader-127 {
	background-image: url(/img/photos/heads/ardernj.jpg);
}
.leader-128 {
	background-image: url(/img/photos/heads/ortegad.jpg);
}
.leader-129 {
	background-image: url(/img/photos/heads/issoufoum.jpg);
}
.leader-130 {
	background-image: url(/img/photos/heads/buharim.jpg);
}
.leader-131 {
	background-image: url(/img/photos/heads/solberge.jpg);
}
.leader-132 {
	background-image: url(/img/photos/heads/bintariqh.jpg);
}
.leader-133 {
	background-image: url(/img/photos/heads/khani.jpg);
}
.leader-134 {
	background-image: url(/img/photos/heads/remengesaut.jpg);
}
.leader-135 {
	background-image: url(/img/photos/heads/abbasm.jpg);
}
.leader-136 {
	background-image: url(/img/photos/heads/cortizol.jpg);
}
.leader-137 {
	background-image: url(/img/photos/heads/marapej.jpg);
}
.leader-138 {
	background-image: url(/img/photos/heads/benitezma.jpg);
}
.leader-139 {
	background-image: url(/img/photos/heads/sagastif.jpg);
}
.leader-140 {
	background-image: url(/img/photos/heads/duterter.jpg);
}
.leader-141 {
	background-image: url(/img/photos/heads/morawieckim.jpg);
}
.leader-142 {
	background-image: url(/img/photos/heads/costaantonio.jpg);
}
.leader-143 {
	background-image: url(/img/photos/heads/binhamadalthanit.jpg);
}
.leader-144 {
	background-image: url(/img/photos/heads/iohannisk.jpg);
}
.leader-145 {
	background-image: url(/img/photos/heads/putinv.png);
}
.leader-146 {
	background-image: url(/img/photos/heads/kagamep.jpg);
}
.leader-147 {
	background-image: url(/img/photos/heads/harrist.jpg);
}
.leader-148 {
	background-image: url(/img/photos/heads/pierrep.jpg);
}
.leader-149 {
	background-image: url(/img/photos/heads/gonsalvesr.jpg);
}
.leader-150 {
	background-image: url(/img/photos/heads/mataafaf.jpg);
}
.leader-151 {
	background-image: url(/img/photos/heads/venturinig.png);
}
.leader-152 {
	background-image: url(/img/photos/heads/carvalhoe.jpg);
}
.leader-153 {
	background-image: url(/img/photos/heads/binabdulazizs.jpg);
}
.leader-154 {
	background-image: url(/img/photos/heads/sallm.jpg);
}
.leader-155 {
	background-image: url(/img/photos/heads/vucia.jpg);
}
.leader-156 {
	background-image: url(/img/photos/heads/ramkalawanw.jpg);
}
.leader-157 {
	background-image: url(/img/photos/heads/bioj.jpg);
}
.leader-158 {
	background-image: url(/img/photos/heads/loonglh.jpg);
}
.leader-159 {
	background-image: url(/img/photos/heads/hegere.png);
}
.leader-160 {
	background-image: url(/img/photos/heads/jansaj.jpg);
}
.leader-161 {
	background-image: url(/img/photos/heads/sogavarem.jpg);
}
.leader-162 {
	background-image: url(/img/photos/heads/roblem.jpg);
}
.leader-163 {
	background-image: url(/img/photos/heads/ramaphosac.jpg);
}
.leader-164 {
	background-image: url(/img/photos/heads/mayardits.jpg);
}
.leader-165 {
	background-image: url(/img/photos/heads/sanchezp.jpg);
}
.leader-166 {
	background-image: url(/img/photos/heads/rajapaksag.jpg);
}
.leader-167 {
	background-image: url(/img/photos/heads/alburhana.jpg);
}
.leader-168 {
	background-image: url(/img/photos/heads/boutersed.jpg);
}
.leader-169 {
	background-image: url(/img/photos/heads/mswati3.jpg);
}
.leader-170 {
	background-image: url(/img/photos/heads/lofvens.jpg);
}
.leader-171 {
	background-image: url(/img/photos/heads/parmeling.png);
}
.leader-172 {
	background-image: url(/img/photos/heads/alassadb.jpg);
}
.leader-173 {
	background-image: url(/img/photos/heads/ingwent.jpg);
}
.leader-174 {
	background-image: url(/img/photos/heads/rahmone.jpg);
}
.leader-175 {
	background-image: url(/img/photos/heads/hassanss.png);
}
.leader-176 {
	background-image: url(/img/photos/heads/chanochap.jpg);
}
.leader-177 {
	background-image: url(/img/photos/heads/gnassingbef.jpg);
}
.leader-178 {
	background-image: url(/img/photos/heads/tupou6.jpg);
}
.leader-179 {
	background-image: url(/img/photos/heads/rowleyk.jpg);
}
.leader-180 {
	background-image: url(/img/photos/heads/saiedk.jpg);
}
.leader-181 {
	background-image: url(/img/photos/heads/erdoganr.jpg);
}
.leader-182 {
	background-image: url(/img/photos/heads/berdimuhamedowg.jpg);
}
.leader-183 {
	background-image: url(/img/photos/heads/natanok.jpg);
}
.leader-184 {
	background-image: url(/img/photos/heads/museveniy.jpg);
}
.leader-185 {
	background-image: url(/img/photos/heads/shmyhal.jpg);
}
.leader-186 {
	background-image: url(/img/photos/heads/binzayedaln.jpg);
}
.leader-187 {
	background-image: url(/img/photos/heads/johnsonb.jpg);
}
.leader-188 {
	background-image: url(/img/photos/heads/bidenj.jpg);
}
.leader-189 {
	background-image: url(/img/photos/heads/lacallepoul.jpg);
}
.leader-190 {
	background-image: url(/img/photos/heads/mirziyoyevs.jpg);
}
.leader-191 {
	background-image: url(/img/photos/heads/loughmanb.jpg);
}
.leader-192 {
	background-image: url(/img/photos/heads/popefrancis.jpg);
}
.leader-193 {
	background-image: url(/img/photos/heads/maduron.jpg);
}
.leader-194 {
	background-image: url(/img/photos/heads/phutrongn.jpg);
}
.leader-195 {
	background-image: url(/img/photos/heads/hadia.jpg);
}
.leader-196 {
	background-image: url(/img/photos/heads/lungue.jpg);
}
.leader-197 {
	background-image: url(/img/photos/heads/mnangagwae.jpg);
}
