/*-Strips---wc22-*/

.strip-qat1 { 
    background-image:url(url(/img/strips/international/wc22/qat_22_111.svg));
    background-image:url(url(/img/strips/international/wc22/QAT_1_22.png));
}
.strip-ecu1 { 
    background-image:url(url(/img/strips/international/wc22/ecu_22_122.svg));
    background-image:url(url(/img/strips/international/wc22/ECU_1_22_2.png));
}
.strip-sen1 { 
    background-image:url(url(/img/strips/international/wc22/sen_22_111.svg));
    background-image:url(url(/img/strips/international/wc22/SEN_1_22.png));
}
.strip-ned1 { 
    background-image:url(url(/img/strips/international/wc22/ned_22_111.svg));
    background-image:url(url(/img/strips/international/wc22/NED_1_22.png));
}
.strip-eng1 { 
    background-image:url(url(/img/strips/international/wc22/eng_22_111.svg));
    background-image:url(url(/img/strips/international/wc22/ENG_1_22.png));
}
.strip-irn1 { 
    background-image:url(url(/img/strips/international/wc22/irn_22_222.svg));
    background-image:url(url(/img/strips/international/wc22/IRN_2_22.png));
}
.strip-usa1 { 
    background-image:url(url(/img/strips/international/wc22/usa_22_111.svg));
    background-image:url(url(/img/strips/international/wc22/USA_1_22.png));
}
.strip-wal1 { 
    background-image:url(url(/img/strips/international/wc22/wal_22_121.svg));
    background-image:url(url(/img/strips/international/wc22/WAL_1_22_2.png));
}
.strip-arg1 { 
    background-image:url(url(/img/strips/international/wc22/arg_22_113.svg));
    background-image:url(url(/img/strips/international/wc22/ARG_1_22_4.png));
}
.strip-sau1 { 
    background-image:url(url(/img/strips/international/wc22/sau_22_211.svg));
    background-image:url(url(/img/strips/international/wc22/KSA_2_22_3.png));
}
.strip-mex1 { 
    background-image:url(url(/img/strips/international/wc22/mex_22_113.svg));
    background-image:url(url(/img/strips/international/wc22/MEX_1_22.png));
}
.strip-pol1 { 
    background-image:url(url(/img/strips/international/wc22/pol_22_111.svg));
    background-image:url(url(/img/strips/international/wc22/POL_1_22.png));
}
.strip-den1 { 
    background-image:url(url(/img/strips/international/wc22/den_22_111.svg));
    background-image:url(url(/img/strips/international/wc22/DEN_1_22.png));
}
.strip-tun1 { 
    background-image:url(url(/img/strips/international/wc22/tun_22_222.svg));
    background-image:url(url(/img/strips/international/wc22/TUN_1_22.png));
}
.strip-fra1 { 
    background-image:url(url(/img/strips/international/wc22/fra_22_111.svg));
    background-image:url(url(/img/strips/international/wc22/FRA_1_22.png));
}
.strip-aus1 { 
    background-image:url(url(/img/strips/international/wc22/aus_22_111.svg));
    background-image:url(url(/img/strips/international/wc22/AUS_1_22_2.png));
}
.strip-ger1 { 
    background-image:url(url(/img/strips/international/wc22/ger_22_111.svg));
    background-image:url(url(/img/strips/international/wc22/GER_1_22.png));
}
.strip-jpn1 { 
    background-image:url(url(/img/strips/international/wc22/jpn_22_111.svg));
    background-image:url(url(/img/strips/international/wc22/JPN_1_22.png));
}
.strip-esp1 { 
    background-image:url(url(/img/strips/international/wc22/esp_22_133.svg));
    background-image:url(url(/img/strips/international/wc22/ESP_1_22_2.png));
}
.strip-cos1 { 
    background-image:url(url(/img/strips/international/wc22/cos_22_222.svg));
    background-image:url(url(/img/strips/international/wc22/CRC_2_22_1.png));
}
.strip-mor1 { 
    background-image:url(url(/img/strips/international/wc22/mor_22_111.svg));
    background-image:url(url(/img/strips/international/wc22/MAR_1_22.png));
}
.strip-cro1 { 
    background-image:url(url(/img/strips/international/wc22/cro_22_111.svg));
    background-image:url(url(/img/strips/international/wc22/CRO_1_22.png));
}
.strip-bgm1 { 
    background-image:url(url(/img/strips/international/wc22/bgm_22_111.svg));
    background-image:url(url(/img/strips/international/wc22/BEL_1_22.png));
}
.strip-can1 { 
    background-image:url(url(/img/strips/international/wc22/can_22_222.svg));
    background-image:url(url(/img/strips/international/wc22/CAN_2_22.png));
}
.strip-sui1 { 
    background-image:url(url(/img/strips/international/wc22/sui_22_111.svg));
    background-image:url(url(/img/strips/international/wc22/SUI_1_22.png));
}
.strip-cam1 { 
    background-image:url(url(/img/strips/international/wc22/cam_22_121.svg));
    background-image:url(url(/img/strips/international/wc22/CMR_1_22_2.png));
}
.strip-bra1 { 
    background-image:url(url(/img/strips/international/wc22/bra_22_111.svg));
    background-image:url(url(/img/strips/international/wc22/BRA_1_22.png));
}
.strip-ser1 { 
    background-image:url(url(/img/strips/international/wc22/ser_22_111.svg));
    background-image:url(url(/img/strips/international/wc22/SRB_1_22.png));
}
.strip-uru1 { 
    background-image:url(url(/img/strips/international/wc22/uru_22_111.svg));
    background-image:url(url(/img/strips/international/wc22/URU_1_22.png));
}
.strip-sko1 { 
    background-image:url(url(/img/strips/international/wc22/sko_22_111.svg));
    background-image:url(url(/img/strips/international/wc22/KOR_1_22.png));
}
.strip-por1 { 
    background-image:url(url(/img/strips/international/wc22/por_22_111.svg));
    background-image:url(url(/img/strips/international/wc22/POR_1_22.png));
}
.strip-gha1 { 
    background-image:url(url(/img/strips/international/wc22/gha_22_111.svg));
    background-image:url(url(/img/strips/international/wc22/GHA_1_22.png));
}

.strip-ecu2 { 
    background-image:url(url(/img/strips/international/wc22/ecu_22_222.svg));
    background-image:url(url(/img/strips/international/wc22/ECU_2_22.png));
}
.strip-eng2 { 
    background-image:url(url(/img/strips/international/wc22/eng_22_131.svg));
    background-image:url(url(/img/strips/international/wc22/ENG_1_22_2.png));
}
.strip-irn2 { 
    background-image:url(url(/img/strips/international/wc22/irn_22_111.svg));
    background-image:url(url(/img/strips/international/wc22/IRN_1_22.png));
}
.strip-usa2 { 
    background-image:url(url(/img/strips/international/wc22/usa_22_222.svg));
    background-image:url(url(/img/strips/international/wc22/USA_2_22.png));
}
.strip-wal2 { 
    background-image:url(url(/img/strips/international/wc22/wal_22_121.svg));
    background-image:url(url(/img/strips/international/wc22/WAL_1_22_2.png));
}
.strip-arg2 { 
    background-image:url(url(/img/strips/international/wc22/arg_22_111.svg));
    background-image:url(url(/img/strips/international/wc22/ARG_1_22.png));
}
.strip-sau2 { 
    background-image:url(url(/img/strips/international/wc22/sau_22_222.svg));
    background-image:url(url(/img/strips/international/wc22/KSA_2_22.png));
}
.strip-mex2 { 
    background-image:url(url(/img/strips/international/wc22/mex_22_111.svg));
    background-image:url(url(/img/strips/international/wc22/MEX_1_22.png));
}
.strip-den2 { 
    background-image:url(url(/img/strips/international/wc22/den_22_212.svg));
    background-image:url(url(/img/strips/international/wc22/DEN_2_22_2.png));
}

.strip-fra2 { 
    background-image:url(url(/img/strips/international/wc22/fra_22_111.svg));
    background-image:url(url(/img/strips/international/wc22/FRA_1_22.png));
}
.strip-aus2 { 
    background-image:url(url(/img/strips/international/wc22/aus_22_222.svg));
    background-image:url(url(/img/strips/international/wc22/AUS_2_22_2.png));
}
.strip-ger2 { 
    background-image:url(url(/img/strips/international/wc22/ger_22_131.svg));
    background-image:url(url(/img/strips/international/wc22/GER_1_22_2.png));
}
.strip-jpn2 { 
    background-image:url(url(/img/strips/international/wc22/jpn_22_111.svg));
    background-image:url(url(/img/strips/international/wc22/JPN_1_22_2.png));
}
.strip-esp2 { 
    background-image:url(url(/img/strips/international/wc22/esp_22_133.svg));
    background-image:url(url(/img/strips/international/wc22/ESP_2_22_3.png));
}
.strip-cos2 { 
    background-image:url(url(/img/strips/international/wc22/cos_22_111.svg));
    background-image:url(url(/img/strips/international/wc22/CRC_1_22.png));
}
.strip-mor2 { 
    background-image:url(url(/img/strips/international/wc22/mor_22_222.svg));
    background-image:url(url(/img/strips/international/wc22/MAR_2_22.png));
}
.strip-cro2 { 
    background-image:url(url(/img/strips/international/wc22/cro_22_111.svg));
}
.strip-bgm2 { 
    background-image:url(url(/img/strips/international/wc22/bgm_22_111.svg));
}
.strip-can2 { 
    background-image:url(url(/img/strips/international/wc22/can_22_333.svg));
    background-image:url(url(/img/strips/international/wc22/CAN_3_22.png));
}
.strip-sui2 { 
    background-image:url(url(/img/strips/international/wc22/sui_22_111.svg));
    background-image:url(url(/img/strips/international/wc22/SUI_2_22.png));
}
.strip-cam2 { 
    background-image:url(url(/img/strips/international/wc22/cam_22_111.svg));
    background-image:url(url(/img/strips/international/wc22/CMR_1_22.png));
}
.strip-bra2 { 
    background-image:url(url(/img/strips/international/wc22/bra_22_111.svg));
    background-image:url(url(/img/strips/international/wc22/BRA_2_22.png));
}
.strip-ser2 { 
    background-image:url(url(/img/strips/international/wc22/ser_22_222.svg));
    background-image:url(url(/img/strips/international/wc22/SRB_2_22.png));
}
.strip-uru2 { 
    background-image:url(url(/img/strips/international/wc22/uru_22_222.svg));
    background-image:url(url(/img/strips/international/wc22/URU_2_22.png));
}
.strip-sko2 { 
    background-image:url(url(/img/strips/international/wc22/sko_22_111.svg));
}
.strip-por2 { 
    background-image:url(url(/img/strips/international/wc22/por_22_111.svg));
    background-image:url(url(/img/strips/international/wc22/POR_2_22.png));
}
.strip-gha2 { 
    background-image:url(url(/img/strips/international/wc22/gha_22_111.svg));
}

.strip-qat3 { 
    background-image:url(url(/img/strips/international/wc22/qat_22_222.svg));
    background-image:url(url(/img/strips/international/wc22/QAT_2_22.png));
}
.strip-ecu3 { 
    background-image:url(url(/img/strips/international/wc22/ecu_22_111.svg));
    background-image:url(url(/img/strips/international/wc22/ECU_1_22.png));
}
.strip-sen2 { 
    background-image:url(url(/img/strips/international/wc22/sen_22_111.svg));
    background-image:url(url(/img/strips/international/wc22/SEN_2_22.png));
}
.strip-eng3 { 
    background-image:url(url(/img/strips/international/wc22/eng_22_111.svg));
    background-image:url(url(/img/strips/international/wc22/ENG_1_22.png));
}
.strip-irn3 { 
    background-image:url(url(/img/strips/international/wc22/irn_22_111.svg));
    background-image:url(url(/img/strips/international/wc22/IRN_1_22.png));
}
.strip-usa3 { 
    background-image:url(url(/img/strips/international/wc22/usa_22_222.svg));
    background-image:url(url(/img/strips/international/wc22/USA_1_22_3.png));
}
.strip-wal3 { 
    background-image:url(url(/img/strips/international/wc22/wal_22_111.svg));
    background-image:url(url(/img/strips/international/wc22/WAL_1_22.png));
}
.strip-arg3 { 
    background-image:url(url(/img/strips/international/wc22/arg_22_222.svg));
    background-image:url(url(/img/strips/international/wc22/ARG_2_22.png));
}
.strip-sau3 { 
    background-image:url(url(/img/strips/international/wc22/sau_22_111.svg));
    background-image:url(url(/img/strips/international/wc22/KSA_1_22.png));
}
.strip-mex3 { 
    background-image:url(url(/img/strips/international/wc22/mex_22_131.svg));
    background-image:url(url(/img/strips/international/wc22/MEX_1_22_2.png));
}

.strip-den3 { 
    background-image:url(url(/img/strips/international/wc22/den_22_111.svg));
    background-image:url(url(/img/strips/international/wc22/DEN_1_22.png));
}

.strip-fra3 { 
    background-image:url(url(/img/strips/international/wc22/fra_22_133.svg));
    background-image:url(url(/img/strips/international/wc22/FRA_1_22_2.png));
}
.strip-aus3 { 
    background-image:url(url(/img/strips/international/wc22/aus_22_111.svg));
    background-image:url(url(/img/strips/international/wc22/AUS_1_22_2.png));
}
.strip-ger3 { 
    background-image:url(url(/img/strips/international/wc22/ger_22_131.svg));
}
.strip-jpn3 { 
    background-image:url(url(/img/strips/international/wc22/jpn_22_111.svg));
}

.strip-cos3 { 
    background-image:url(url(/img/strips/international/wc22/cos_22_111.svg));
    background-image:url(url(/img/strips/international/wc22/CRC_1_22.png));
}
.strip-mor3 { 
    background-image:url(url(/img/strips/international/wc22/mor_22_222.svg));
}
.strip-cro3 { 
    background-image:url(url(/img/strips/international/wc22/cro_22_111.svg));
}
.strip-bgm3 { 
    background-image:url(url(/img/strips/international/wc22/bgm_22_111.svg));
}
.strip-can3 { 
    background-image:url(url(/img/strips/international/wc22/can_22_111.svg));
    background-image:url(url(/img/strips/international/wc22/CAN_1_22.png));
}
.strip-sui3 { 
    background-image:url(url(/img/strips/international/wc22/sui_22_222.svg));
    background-image:url(url(/img/strips/international/wc22/SUI_2_22.png));
}
.strip-cam3 { 
    background-image:url(url(/img/strips/international/wc22/cam_22_111.svg));
}
.strip-bra3 { 
    background-image:url(url(/img/strips/international/wc22/bra_22_222.svg));
}
.strip-ser3 { 
    background-image:url(url(/img/strips/international/wc22/ser_22_111.svg));
}
.strip-uru3 { 
    background-image:url(url(/img/strips/international/wc22/uru_22_111.svg));
}
.strip-sko3 { 
    background-image:url(url(/img/strips/international/wc22/sko_22_111.svg));
}
.strip-por3 { 
    background-image:url(url(/img/strips/international/wc22/por_22_222.svg));
}
.strip-gha3 { 
    background-image:url(url(/img/strips/international/wc22/gha_22_111.svg));
}

.strip-esp4 { 
    background-image:url(url(/img/strips/international/wc22/esp_22_232.svg));
}
.strip-sen4 { 
    background-image:url(url(/img/strips/international/wc22/sen_22_222.svg));
}
.strip-jpn4 { 
    background-image:url(url(/img/strips/international/wc22/jpn_22_131.svg));
}
.strip-bra4 { 
    background-image:url(url(/img/strips/international/wc22/bra_22_112.svg));
    background-image:url(url(/img/strips/international/wc22/BRA_1_22_2.png));
}
.strip-arg4 { 
    background-image:url(url(/img/strips/international/wc22/arg_22_131.svg));
    background-image:url(url(/img/strips/international/wc22/ARG_1_22_3.png));
}
.strip-cro4 { 
    background-image:url(url(/img/strips/international/wc22/cro_22_222.svg));
    background-image:url(url(/img/strips/international/wc22/CRO_2_22.png));
}
.strip-mor4 { 
    background-image:url(url(/img/strips/international/wc22/mor_22_111.svg));
    background-image:url(url(/img/strips/international/wc22/MAR_1_22_2.png));
}

.strip {
	background-position: 3px 2px;
    background-size: 18px;
    width: 24px;
}
.strip::after { 
    position: relative;
    min-height: 34px;
    height: 32px;
    width: 32px !important;
    display: block;
    content: '';
    background: linear-gradient(to bottom, rgba(0,0,0,.4) 10%, rgba(0,0,0,.5) 50%, rgba(0,0,0,.3) 90%);
    border-radius: 100%;
    z-index: -1;
    opacity: .5;
    top: -2px;
    left: -4px;
}
.bg-football1 {
	background-position: right center;
	background-size: contain;
	margin: -2.1em auto 0 auto;
}
