/* Photos - Members of Parliament */


.photo-001 {background-image: url(url(/img/photos/mp/current/mp-jarvisd.jpg));}
.photo-002 {background-image: url(url(/img/photos/mp/current/mp-dugherm.jpg));}
.photo-003 {background-image: url(url(/img/photos/mp/past/mp-coxj.jpg));}
.photo-004 {background-image: url(url(/img/photos/mp/current/mp-stuartg.jpg));}
.photo-005 {background-image: url(url(/img/photos/mp/current/mp-hussaini.jpg));}
.photo-006 {background-image: url(url(/img/photos/mp/current/mp-cumminsj.jpg));}
.photo-007 {background-image: url(url(/img/photos/mp/current/mp-shahn.jpg));}
.photo-008 {background-image: url(url(/img/photos/mp/current/mp-percya.jpg));}
.photo-009 {background-image: url(url(/img/photos/mp/current/mp-whittakerc.jpg));}
.photo-010 {background-image: url(url(/img/photos/mp/current/mp-vickersm.jpg));}
.photo-011 {background-image: url(url(/img/photos/mp/current/mp-mccartneyj.jpg));}
.photo-012 {background-image: url(url(/img/photos/mp/current/mp-sherriffp.jpg));}
.photo-013 {background-image: url(url(/img/photos/mp/current/mp-flintc.jpg));}
.photo-014 {background-image: url(url(/img/photos/mp/current/mp-wintertonr.jpg));}
.photo-015 {background-image: url(url(/img/photos/mp/current/mp-milibande.jpg));}
.photo-016 {background-image: url(url(/img/photos/mp/current/mp-shelbrookea.jpg));}
.photo-017 {background-image: url(url(/img/photos/mp/current/mp-onnm.jpg));}
.photo-018 {background-image: url(url(/img/photos/mp/current/mp-walkerlynchh.jpg));}
.photo-019 {background-image: url(url(/img/photos/mp/current/mp-davisdavid.jpg));}
.photo-020 {background-image: url(url(/img/photos/mp/current/mp-jonesandrew.jpg));}
.photo-021 {background-image: url(url(/img/photos/mp/current/mp-trickettj.jpg));}
.photo-022 {background-image: url(url(/img/photos/mp/current/mp-sheermanb.jpg));}
.photo-023 {background-image: url(url(/img/photos/mp/current/mp-turnerk.jpg));}
.photo-024 {background-image: url(url(/img/photos/mp/current/mp-johnsondiana.jpg));}
.photo-025 {background-image: url(url(/img/photos/mp/current/mp-johnsonalan.jpg));}
.photo-026 {background-image: url(url(/img/photos/mp/current/mp-hopkinsk.jpg));}
.photo-027 {background-image: url(url(/img/photos/mp/current/mp-bennh.jpg));}
.photo-028 {background-image: url(url(/img/photos/mp/current/mp-burgonr.jpg));}
.photo-029 {background-image: url(url(/img/photos/mp/current/mp-hamiltonf.jpg));}
.photo-030 {background-image: url(url(/img/photos/mp/current/mp-mulhollandg.jpg));}
.photo-031 {background-image: url(url(/img/photos/mp/current/mp-reevesr.jpg));}
.photo-032 {background-image: url(url(/img/photos/mp/current/mp-jenkynsa.jpg));}
.photo-033 {background-image: url(url(/img/photos/mp/current/mp-coopery.jpg));}
.photo-034 {background-image: url(url(/img/photos/mp/current/mp-smithangela.jpg));}
.photo-035 {background-image: url(url(/img/photos/mp/current/mp-andrews.jpg));}
.photo-036 {background-image: url(url(/img/photos/mp/current/mp-sunakr.jpg));}
.photo-037 {background-image: url(url(/img/photos/mp/current/mp-barronk.jpg));}
.photo-038 {background-image: url(url(/img/photos/mp/current/mp-champions.jpg));}
.photo-039 {background-image: url(url(/img/photos/mp/current/mp-goodwillr.jpg));}
.photo-040 {background-image: url(url(/img/photos/mp/current/mp-dakinn.jpg));}
.photo-041 {background-image: url(url(/img/photos/mp/current/mp-adamsn.jpg));}
.photo-042 {background-image: url(url(/img/photos/mp/current/mp-harphamh.jpg));}
.photo-043 {background-image: url(url(/img/photos/mp/current/mp-blomfieldp.jpg));}
.photo-044 {background-image: url(url(/img/photos/mp/past/mp-cleggn.jpg));}
.photo-045 {background-image: url(url(/img/photos/mp/current/mp-haighl.jpg));}
.photo-046 {background-image: url(url(/img/photos/mp/current/mp-bettsc.jpg));}
.photo-047 {background-image: url(url(/img/photos/mp/current/mp-daviesp.jpg));}
.photo-048 {background-image: url(url(/img/photos/mp/current/mp-smithjulian.jpg));}
.photo-049 {background-image: url(url(/img/photos/mp/current/mp-hollinrakek.jpg));}
.photo-050 {background-image: url(url(/img/photos/mp/current/mp-creaghm.jpg));}
.photo-051 {background-image: url(url(/img/photos/mp/current/mp-healeyj.jpg));}
.photo-052 {background-image: url(url(/img/photos/mp/current/mp-maskellr.jpg));}
.photo-053 {background-image: url(url(/img/photos/mp/current/mp-sturdyj.jpg));}
.photo-054 {background-image: url(url(/img/photos/mp/current/mp-knightg.jpg));}